[2013-05-20 15:59] kgf opened #1 "Need user UI to set user roles and manage users"
Note users log-in and edit and update people. People model does not login.

[2013-05-22 03:13] kgf opened #2 "QR Code for people"
I would like to have a QR code show on the person show page, so that someone can use their phone to scan and have them added to their contacts.
This would probably involve the utility qrencode. It is available in most linux repos, and is available in Mac OSX via brew install qrencode.
The toughest part of this may be to determine WHAT should be encoded so that both Android and iPhone devices recog

[2013-05-29 18:48] kgf opened #3 "Why don't the text fields on forms respect the HTML size setting ?"
When you create a new person, for example, all the fields are relatively short, and are not well laid out.

[2013-05-31 16:32] kgf opened #4 "Nested forms do not yet work for adding channels (phone numbers)"
Currently there are two problems, one is the UI for entering them, and the other is that null ones are getting added.

[2013-06-04 01:57] kgf opened #5 "Testing needed on JS for adding channels"
I am not all that comfortable writing tests for JS. This function uses jQueryUI to dynamically add additional fields to enter a new phone number or e-mail address.
It would be good to have some tests to ensure this all works.
Let me know if this is something you're comfortable with, or re-assign it to me and I'll do some research on it.

[2013-06-22 18:36] kgf opened #6 "Show people's home location using geoserver"
This would allow more API stability than using Google. Also, it would work without Internet access.

[2013-06-22 18:47] kgf opened #7 "Make all views conform to loading naviagtion on the side"
We should write tests for this first

[2013-08-17 21:19] kgf opened #8 "Implement fullCalendar or equivelent for events"
http://arshaw.com/fullcalendar/docs/event_data/Event_Object/

[2013-08-17 21:20] #1 closed, assigned to nobody

[2013-09-13 13:04] kgf opened #9 "QR Codes for Event Scheduling"
These QR codes would allow people to show themselves available for events from their smartphone or tablet. Authentication (who is signing up for the event) might be through a cookie on the device ?
There are two aspects to this. The first is creating a QR Code image associated with an event and adding that to the view. The second aspect would be to respond to the URL encoded in the QRCode, and all

[2013-09-13 13:08] kgf opened #10 "Implement paper_trail for audit trail"
This does not need to happen just yet, but very soon.

https://github.com/airblade/paper_trail

[2013-09-13 13:09] kgf opened #11 "Replace current date-time picker with alternative"
Current picker does not show time properly.
This is another possibility

http://tarruda.github.io/bootstrap-datetimepicker/

[2013-09-13 13:15] kgf opened #12 "Have people in the sections of an event sort by some order"
They are pretty much random right now.
One question is "Should different sections sort differently ?"

One slight challenge to this is the sections after the first (available, scheduled) are timecards, which have a relation to a person. The person has most of the info we would want to sort on...

[2013-11-06 20:22] kgf opened #13 "Allow upload of images to a person for authentication"
This is basically a passport style photo. By Authentication, I mean that someone looking at our system knows who they are looking at in front of them.

[2014-02-18 02:14] #7 closed, assigned to nobody

[2014-03-02 23:09] kgf opened #15 "Expired certs still grant the skill"
Expired certs should still be shown, but they should not grant the skill.

[2014-08-23 02:05] kgf opened #16 "Convert personnel area of the event page"
to a single table, and make multiple people selectable. Selecting multiple people and updating their status is probably more important than AJAX updates, but both would be awesome.

[2014-08-23 02:07] kgf opened #17 "Setting timecards when updating a person"
When setting a person's status to inactive, set all future timecards to ineligible, with a reason of inactive.

[2014-08-23 02:12] kgf opened #18 "Create action to create timecards for an event"
Time cards should be created for everyone who is active, even people who are ineligible for that event. Timecards should not be created for people who are inactive. Timecards should be created for people who are on a leave of absence, but they should be set to unavailable, with a reason of Leave Of Absence. Creation of timecards should be on demand. You can create timecards more than once, and peo

[2014-08-23 02:12] kgf opened #19 "Editting Timecards does not give the correct choices for intention"

[2014-08-23 13:40] kgf opened #20 "Implement temperature heat map for attendance"
This would use something like Github's heatmap. There would be different color markers for when someone had worked, when someone responded that they were available, et al.

This is a great visualization, but it is a nice to have, thus a low priority.

[2014-08-23 13:58] houhoulis opened #21 "favicon"
needs more favicon

How about
![favicon](https://cloud.githubusercontent.com/assets/95658/4020753/dd29cf10-2acc-11e4-9e0a-8c7eab86a72d.png)

[2014-08-23 14:00] kgf opened #22 "Create a seeds.rb file to pre-populate database"
An example of the data would be setting up an initial user to allow logins.

[2014-08-23 14:52] kgf opened #24 "UI for managing people's contact info is wanting"
Some love and attention. UI Links should be from the person page, so that it's apparent who the contact info is connected with.

[2014-08-23 17:25] #21 closed, assigned to nobody

[2014-08-23 19:19] houhoulis opened #26 "Make first user an admin"
When someone runs the application locally, they have to go into the console to give themselves admin rights before they can do anything.

Hook into Devise so that the first user created has admin rights.

[2014-08-24 02:56] kgf opened #27 "When creating a new channel, priority is showing up as a number, not a string"

[2014-09-29 19:05] kgf opened #31 "Improve event form to capture who is eligible for this event"
Some events require a certain level of training, which is contained within the team they're on. When creating an event, have checkboxes (perhaps) to say which departments are eligible. Departments that are not eligible have availability records created with the status preset to "Unavailable", and the reason set as "Ineligible". This would greatly reduce the effort for setting up events. This expec

[2014-10-05 08:35] masukomi opened #33 ""Title" object needs documentation"
Conceptually it makes no sense to me as a newb that a `Title` has skills. It feels more like a "Role" or a "Capability Set" or... Yeah, Title doesn't feel right, but I can live with that if it had a wiki page and / or an inline comment explaining the thinking.

[2014-11-03 20:14] houhoulis opened #34 "phantomjs instructions (to run tests)"
A bunch of tests fail saying PhantomJS needs to run properly on my machine.  Which it doesn't.

[code]

It would be good to have instructions for running the project, including tests.

[2015-01-07 01:42] kgf commented on #33
I could not get much of a hierarchy going in the git wiki. Does this resolve your confusion ? @masukomi ?

[2015-01-07 02:09] houhoulis opened #37 "bundler doesn't like syntax in our Gemfile"
I dunno, ruby 1.9 hash syntax is a real thing, but bundler is not working for me locally.

[code]

http://bundler.io/v1.7/man/gemfile.5.html suggests the hashrocket syntax for specifying a github source.

[2015-01-27 02:35] houhoulis commented on #37
Fixed in #38

[2015-01-27 02:35] #37 closed

[2015-02-26 20:37] kgf opened #39 "Be aware of people arriving"
There should be as many ways as possible for people to update their status. Two ways would be to use a barcode tag or a proximity card. This could be implemented using a Raspberry Pi, which could monitor either a proximity card reader, or a video stream from an attached camera. Once it has recognized the presence of one of these tags, it should do an http POST to show this event.
Things to include

[2015-05-06 00:01] kgf opened #41 "Fix Devise"
There is an issue regarding the version numbers of deise, perhaps interacting with the versions of Ruby.

Also test-unit gem !

[2015-05-06 01:37] kgf opened #43 "Can't install json on Ruby 2.2"
This may be due to json being included now.
A possible solution to this is creating a ruby version file to specify Ruby 2.1
We can stay on 2.1 for a bit

[2015-06-14 00:26] DJG86g opened #46 "unable to save a person after editing."
i was editing a already existing person. when i went to save i received

this is probably related to the recent work in channels apposed to phones.
app/controllers/people_controller.rb
line #122
if @person.update_attributes(params[:person])
https://github.com/kgf/lims/blob/development/app/controllers/people_controller.rb#L122

[2015-06-14 00:38] kgf commented on #46
Would this help ?

http://stackoverflow.com/questions/6599129/subclassing-activerecord-and-maintain-subclass-after-db-fetch

[2015-06-14 00:46] kgf commented on #46
Actually, this also looks quite relevant

http://api.rubyonrails.org/classes/ActiveRecord/Inheritance/ClassMethods.html

[2015-08-11 02:45] kgf opened #50 "Add menu entry to add new inventory items"
This should make the inventory menu item a drop down, and add "New Item" to the bottom, just like people.

[2015-11-24 21:59] kgf opened #52 "Add photos to Inventory Items"
This should closely match #13, but should come after that issue.

[2015-12-02 02:38] corincerami commented on #46
I'll have a PR open for this soon.

[2015-12-10 17:09] marnen opened #54 "Convert all tests to RSpec"
As discussed with @kgf , I'm going to attempt to convert the whole test suite to RSpec.

[2015-12-10 17:13] marnen opened #55 "Upgrade to current Rails"
@kgf pointed out that we need to do this. I'll attempt to tackle it after converting tests (see #54).

[2015-12-10 18:05] marnen commented on #54
- [x] Upgrade to RSpec 3
- Convert Test::Unit to RSpec
  - [x] unit
  - [ ] functional (replace with Cucumber?)
- [ ] Refactor specs

[2015-12-10 18:15] marnen commented on #54
For the RSpec 3 upgrade, I'm using the procedure documented at https://relishapp.com/rspec/docs/upgrade.

[2015-12-19 01:33] kgf opened #58 "Org chart report should include first initial"
Then you could better tell one person from another.

[2016-01-03 20:43] kgf opened #59 "Police view does not show divisions"
There should be two narrow columns for attribs division 1 and division 2. These columns should be click to sort.

[2016-01-03 21:21] kgf opened #60 "When editing a person, window title should show their name."

[2016-01-03 21:26] kgf opened #61 "When showing the org chart, show all divisions"
What might be best is to print it out as landscape, and re-orient the division 2 values horizontally. I'll try to come up with a mock-up.

[2016-01-14 04:22] kgf opened #64 "Add inspection model"
Currently inspections are intertwined with repairs, but I feel this is incorrect. Inspections are their own object. Also, the UI for inspections should be mobile first.

[2016-01-16 22:27] houhoulis commented on #34
This is still a problem.
Investigating.

[2016-01-16 22:54] houhoulis commented on #34
We configured Capybara to use Poltergeist in August 2013.  This adds a hard dependency on PhantomJS: https://github.com/teampoltergeist/poltergeist

I'll submit a PR to add a _Prerequisites_ section to the README.

[2016-01-18 18:33] kgf opened #69 "Items need to have department"
Items could belong to the highway department or the Department of Public Works. The item should know what department it belongs to.
This should be a required field. Department should be a new object.
Department menu can go under admin

[2016-01-18 19:58] houhoulis opened #70 "Add contributor guidelines"
To make it more inviting for new contributors to get involved, it's good to reduce the barriers to entry as much as possible.  I forget where I saw this first discussed, but basically, it's good to give people the positive experience of an accepted PR rather than bringing up obstacles _that could have been avoided_ by providing requirements & guidance up front.

The convention seems to be to add a

[2016-01-18 20:19] houhoulis commented on #69
@kgf An interesting idea is to add the specs for what you are asking for.  See https://medium.com/@kentcdodds/first-timers-only-78281ea47455.

@DJG86g don't wait though.  Just an idea that was on my mind, I'm not obligating @kgf  :smile:

[2016-01-19 02:44] kgf commented on #52
This is now complete.

[2016-01-19 02:44] #52 closed, assigned to nobody

[2016-01-19 18:40] VanAuken opened #71 "Add "Application Date" to Person"
Please add a field for 'application date' to person.  Field should be date format.

Story:
This is to record when a new person has applied for the department.  The field exists on the application form and would help us track if an application stalls.

[2016-01-31 23:18] kgf commented on #64
Resolved by #72

[2016-01-31 23:18] #64 closed, assigned to kgf

[2016-01-31 23:30] kgf opened #78 "Items need to track ResourceType"
FEMA ICS uses a resource type code. We need to capture that code for each item. The choices for the item should come from instances of a different model. This should include a _status_ field, so that ResourceTypes can be turned off if they do not apply.

[2016-02-01 22:11] kgf opened #79 "Items need to be more flexible"
One of the prime reasons to track items is to be able to accurately account for their use during a disaster. Different configurations of items will garner different reimbursement rates. I see three scenarios.
1. The easy one... A thing is used as is. An example is a towable lighting unit. We track it as an item. it has serial numbers, it has no accessories. It is self-contained.
2. A group... For

[2016-02-01 22:19] kgf opened #80 "Items will need an ItemType"
This will be used to allow decisions on inspections and grouping.
For example if there is a truck of type `Ford F-250`, you would have inspection questions about checking the transmission fluid, and you could group it with a snowplow mount. An item with the Type of `Towable Lighting Unit` would include inspection questions about the condition of the mast cables, and would not accept any groups. Mo

[2016-02-04 16:42] kgf commented on #79
I realize I did not summarize here. I think we can use `Item` and `ItemGroup` I think that things that are in a group are not available. If you want to use them, use the group, or break it up.

[2016-02-04 16:53] houhoulis commented on #79
What are "M&Ms"?

[2016-02-04 17:18] houhoulis commented on #79
For scenarios 1) and 2), rather than "ItemGroup", would a concept like "usage" make sense?

[code]

Where `items` can be singular (scenario 1) or plural (scenario 2).

I suggest this because in 2) you are talking about an _application_ of items.

I am not seeing the value of the group except for its application at a specific event, or even a shift at the event.  Would a group have value in some ot

[2016-02-04 20:43] kgf commented on #79
Staying with the snowplow use case, a truck would get a plow and a sander in the late fall. Unless something broke, they would stay together for the season.
M&Ms are a small hard candy that melts in your mouth, not in your hand. They are all the same (except for the green ones) and you don't usually count them individually.

[2016-02-14 01:58] kgf opened #84 "Item belongs_to Grant"
When a grant is awarded, information often needs to be tracked. When was the grant awarded, when does it sunset, and what items were acquired with it ?

This will require a new object model, Grant.
name:string A short bit of text that will be used in the views and in the selection choices on forms
description:text A longer decription that can go into details.

Items will need to be modified to inc

[2016-02-15 16:36] #78 closed, assigned to kgf

[2016-02-15 17:08] kgf opened #86 "Filter locations for items based on department"
When entering an item, after selecting a department, only that departments locations should be available.

[2016-02-17 01:34] kgf opened #88 "Source attribute on Items should be changed to Vendor"
It is currently changed in the form as a new label, but I would prefer it to be changed on the backend, in the database.

[2016-02-17 01:40] kgf opened #89 "Items should have a separate model for serial numbers and other identifiers"
By being a different model, we can have a varying number of them per item. Also, we can identify which kind of serial number it is, eg VIN. And since we can identify the type of serial number, we may be able to validate it.
This model would also capture any identifier we generate, such as barcode labels.

Initial class ?

[code]

[2016-02-25 00:34] VanAuken opened #92 "Code of Conduct links on home page on GitHub are broken"
This is a bug outside of LIMS itself.  On the home page in GitHub, the Code of Conduct links display a 404 error.
This will not encourage contributors to read the Code of Conduct.

[2016-02-25 02:47] houhoulis commented on #92
Thank you for reporting this.  I would say the bug is definitely in LIMS: it's not user-facing in a running installation of LIMS, but it's world-facing on GitHub  :open_mouth:  It's our README and we need to fix it.

[2016-02-25 18:12] VanAuken commented on #92
And thank you for the encouragement!

[2016-03-04 14:22] kgf opened #93 "QR Codes for Items"
We will frequently want to know where things are, and when we saw them last. To automate this, we would like to be able to create QR codes for individual items. The code would be printed and attached physically to the item. This code should be in URI format, and should bring the user to a landing page for the item.
This should be considered in context of issues #2 and #9. I don't think it is a new

[2016-03-04 17:08] VanAuken opened #94 "Inspection model needs connection to Person"
Inspection model needs connection to Person, should have a `belongs_to`.

[2016-03-15 02:09] kgf opened #96 "Fix spec_helper vs rails_helper"
The Rails generators are adding `rails_helper` to specs, but we currently have `spec_helper`. We would need to change all the references.

[2016-03-15 02:10] kgf opened #97 "Add groups to Gemfile"
Groups should be added to exclude gems that are not needed. This would speed up our test suite on Travis

[2016-03-18 13:28] VanAuken opened #98 "Person form add zip code look up"
On '**New Person Form**', and edit '**Person**' form, please add feature that '**city**' updates according to '**zip code**' entry.

This will make data entry easier for user, as they won't need to type the city.  It will also produce an opportunity for the user to recognize if they have misread the applicants handwriting.

[2016-03-18 13:45] kgf commented on #98
Should this also update the state field ?

[2016-03-18 15:03] VanAuken opened #99 "Viewable Person form needs to show contact info. etc."
**Person** form when accessed for viewing does not show contact information.  It only shows training information.  Please add contact information.

Currently in order to see a person's contact info, [phone, address, email, etc.], the person form has to be opened for editing.

[2016-04-08 23:29] kgf commented on #89
After discussion with @houhoulis I think UniqueID is the correct model.

[2016-06-09 18:00] kgf commented on #99
This issue is because there were two methods of capturing contact info. One is deprecated, but the data has not been migrated to the newer system. We'll need to write a data migration as a first step to this, then the UI changes.

[2016-06-09 18:03] kgf opened #105 "Add a CONTRIBUTING.md"
This will help newer developers help us.

[2016-06-09 21:06] edarsey opened #107 "Create AdminUser in Rails Console"
Hi I was checking out the README.md file and I haven't yet been able to create an admin user in the Rails console as mentioned. Could I get a little help with that so that I can look into the functionality of the rest of the app? I am looking to help contribute, and develop skills through this project.
Thanks,
Eric

[2016-06-17 18:05] kgf commented on #70
@houhoulis Is this resolved by the recent PR 106 ?

[2016-06-17 18:07] kgf commented on #50
Resolved by PR 51

[2016-06-17 18:07] #50 closed, assigned to nobody

[2016-06-17 18:15] kgf commented on #107
Sorry I did not see your issue earlier.
Have you been able to create a user ? In Rails console. can you do `User.first` ? If this has the user you created, you will need to associate them with a role.

[code]

If this corrects this issue, an improvement to the docs could be your first PR, which would be awesome!
Thanks for your interest,
Kevin

[2016-06-17 18:16] #105 closed, assigned to kgf

[2016-07-05 23:40] kgf opened #108 "Create a Vagrantfile"
This will allow folks to use Vagrant to contribute to Lims

[2016-07-27 18:19] kgf commented on #107
@edarsey Did this resolve your issue ?

[2016-08-03 00:49] houhoulis opened #110 "Put enough data into seed db to support demo in development environment"
People asked me for a demo at the http://bostonrb.org Project Night tonight, but I have no event, skills, etc. in my local db.

[2016-08-03 01:12] houhoulis commented on #110
cc @david135  😺

[2016-08-03 01:30] pcai commented on #60
I can take a look

[2016-08-03 01:32] houhoulis commented on #99
@kgf Could you explain what you mean by "data migration" ?  Also "we will need to write a data migration first" -- does that mean this issue is blocked?  Or can we add the user's info to the view form right now?

[2016-08-03 01:33] houhoulis commented on #99
This issue is entirely separate from #60, but both are related to the Person view/edit form differences, and I'm hoping @pcai might look at one or both  😃

[2016-08-03 03:42] pcai commented on #99
I looked at this briefly, but as of 55f56969175 I can't reproduce:

![capture](https://cloud.githubusercontent.com/assets/222655/17353081/65b482e0-590a-11e6-9b78-97ae76f737a7.PNG)

I suspect I have the modern version of this storage format that works correctly. If I can get some pointers on the old format I would be happy to take a crack at writing a migration. In the meanwhile I opened https://gi

[2016-08-06 01:32] kgf commented on #107
I think the best solution to this might be to set the first user to be admin. This would also mean that the setup should create the manager role if needed as well.

[2016-08-06 06:04] #60 closed, assigned to nobody

[2016-08-06 06:06] #92 closed, assigned to nobody

[2016-08-06 22:10] kgf commented on #84
This is mainly a CRUD update.
**name:string** A short bit of text that will be used in the views and in the selection choices on forms
**description:text** A longer description that can go into details.
**start_date:date** When did we receive these items
**end_date:date** When are we no longer responsible for these items

The show form should show a table of the items in this grant.
The index shou

[2016-08-06 22:33] kgf commented on #108
This is not a top priority, but if it speaks to you....

[2016-08-06 22:35] kgf commented on #110
@houhoulis do you think this would include the requirements of #107 creating an admin user ?

[2016-08-06 22:46] kgf commented on #99
I am closing this ticket, as it seems to no longer be valid. There are still issues around contact info, however.

[2016-08-06 22:47] #99 closed, assigned to nobody

[2016-08-07 01:23] kgf commented on #89
This model is now in place and works. There are some finishing touches that are needed on the show page for an item, since the Unique IDs are not shown.

[2016-08-07 01:36] #80 closed, assigned to nobody

[2016-08-07 01:37] #69 closed, assigned to nobody

[2016-08-07 01:38] kgf commented on #96
This needs to be re-tested, may be resolved

[2016-08-07 01:40] #70 closed, assigned to nobody

[2016-08-07 02:11] kgf commented on #88
This would require a change to the Item model to give it a pointer to a new model.
**name:string**
**street:string**
**city:string**
**state;string**
**zipcode:string**
**status:string**
**comments:text**

There are two paths for info such as phone and email. One is to add a few columns for phone and email. The other is to make the **channel** model polymorphic, and shared with the person model.
h

[2016-08-07 02:15] kgf commented on #79
I need to research this further

[2016-08-07 02:16] kgf commented on #41
Insufficient info

[2016-08-07 02:16] #41 closed, assigned to nobody

[2016-08-07 02:17] kgf commented on #86
This is not yet finished, as the filtering does not yet happen.

[2016-08-07 02:18] #34 closed

[2016-08-07 02:20] kgf commented on #46
This was resolved by work that was done around channels. Unsure which specific PR.

[2016-08-07 02:20] #46 closed, assigned to nobody

[2016-08-07 02:21] kgf commented on #43
Insufficient info to take action. Test suite is currently passing...

[2016-08-07 02:21] #43 closed, assigned to nobody

[2016-08-07 02:23] kgf commented on #54
Thanks for your help @marnen !

[2016-08-07 02:23] #54 closed, assigned to nobody

[2016-08-07 02:24] kgf commented on #26
There is some overlap with #107

[2016-08-07 02:26] kgf commented on #98
Ideally this should reference an online data source via AJAX

[2016-08-07 02:28] kgf commented on #93
This is not a top priority, but if it interests you, feel free.

[2016-08-07 02:34] kgf commented on #22
There is overlap between this and #107

[2016-08-07 02:40] kgf commented on #24
There is more work to be done here. When editing a person, you can only have two channels, but the underlying data model can support an unlimited number. This might be done in a way similar to the Unique ID on items.

[2016-08-07 02:48] kgf commented on #61
It can be challenging to fit this in and still have it fit onto a single page. It would be best if this was positioned dynamically based on how many divisions there are.
A point that could be confusing, there are two columns in the schema called division1 and division2. This is referring to values such as **Division 1** and **Division 3** that are stored in the division1 column. The column divisio

[2016-08-07 03:03] kgf commented on #27
If you **Add a new person**, and go down to the Phone area, there is a point to add Priority. There is a drop down select which is populated with just numbers. It should have a label as well, so that you know which one to pick.

[2016-08-07 05:07] kgf commented on #17
This no longer matches the current understanding of the problem. It will take more than timecards to completely map people and their time.

[2016-08-07 05:07] #17 closed

[2016-08-07 05:11] kgf commented on #18
Timecards won't be used this way. See the Wiki on events for further details.

[2016-08-07 05:11] #18 closed

[2016-08-07 05:17] kgf commented on #12
This will be completed by #16

[2016-08-07 05:17] #12 closed

[2016-08-07 05:21] kgf commented on #9
Be sure to also review #2 and #93

[2016-08-07 05:21] kgf commented on #93
Be sure to also review #2 and #9

[2016-08-07 05:22] kgf commented on #2
Be sure to also review #9  and #93

[2016-08-07 05:23] kgf commented on #19
This is no longer valid, as the model to track people and time is now different, Details are in the Wiki

[2016-08-07 05:23] #19 closed

[2016-08-07 05:26] kgf commented on #4
This is now closed, or a duplicate of other issues

[2016-08-07 05:26] #4 closed

[2016-08-07 05:28] kgf commented on #6
This would be based on their zipcode, as we are not capturing street. Closing, as it would be better to store the lat long, if the home location is still of interest

[2016-08-07 05:28] #6 closed

[2016-08-09 19:35] david135 commented on #55
I've taken a first stab at this, going first to 4.0. Pull request #115.

[2016-08-19 23:16] kgf opened #117 "Inventory view & form do not agree"
Inventory view column titles do not match inventory form field names.
Data mapping error.

Example VHS portable radio, view shows column as name, data shows as location.

[2016-08-19 23:17] kgf opened #118 "Inventory column titles do not scroll"
Please have inventory column titles freeze, so that the designations are readable when scrolling down the list.

[2016-08-20 03:00] kgf commented on #118
This will probably require this change to the jQuery Datatables
https://datatables.net/extensions/fixedheader/

[2016-08-23 12:49] david135 commented on #117
This should be resolved in #116, by changing the header to match the data.

[2016-08-23 23:56] kgf commented on #117
Closed by PR #116

[2016-08-23 23:56] #117 closed, assigned to nobody

[2016-08-24 23:21] kgf opened #119 "Menus do not show properly when adding a new event."
I believe this was already fixed elsewhere by David, as part of the Rails 4.2 upgrade
<img width="309" alt="screen shot 2016-08-24 at 7 19 17 pm" src="https://cloud.githubusercontent.com/assets/2431417/17951395/dd0d5278-6a2f-11e6-9f1c-0c4007be024a.png">

[2016-08-25 02:18] kgf opened #121 "Remove Ruby 2.1.8 from .travis.yml file"
We only need to test against 2.3

[2016-08-25 17:58] david135 opened #123 "Cancel button for people, which uses session[:return_to], is broken"
in `app/views/people/edit.rb` and elsewhere:

[code]

But `session[:return_to]` isn't set properly when going from http://localhost:3000/people/everybody and clicking the edit button.

See: http://stackoverflow.com/questions/2139996/how-to-redirect-to-previous-page-in-ruby-on-rails, where they write:

It seems that it is never deleted, and so it is never re-set.  See people_controller.rb:

[code]

[2016-08-25 20:38] david135 opened #124 "Dropdown menus don't work in iOS"
I've found a temporary solution that works for iOS, which works if placed in app/assets/bootstrap232_dropdown_menu_fix.js:

[code]

I have no idea whether this fouls anything up for Android.

It seems, though, that the better solution will be to upgrade Bootstrap. Would we want something like this for now?

[2016-08-25 22:16] david135 opened #125 "broken simple_forms"
It seems that something in the app no longer works with simple_form 3.3.0 (released today). This may be a sign that now that we're stable on 4.2.7 we should review which gems in the Gemfile now need more specific version numbers (which were removed while updating).
Changing it to `gem 'simple_form', '~> 3.2.1'` has the tests passing for me again.

[2016-08-25 23:27] david135 opened #126 "Pending Migrations for test"
In Rails 4.2, we can now use:
`ActiveRecord::Migration.check_pending!` or `ActiveRecord::Migration.maintain_test_schema!` to avoid issues with forgotten migrations (either by raising an exception or by keeping the test schema in sync with the development schema, respectively). [RSpec](https://www.relishapp.com/rspec/rspec-rails/docs/upgrade#pending-migration-checks) seems to recommend using the la

[2016-08-26 15:54] david135 commented on #125
Fixed in simple_form 3.3.1, which solves the immediate problem.

[2016-08-26 17:08] david135 commented on #121
Resolved in PR #122.

[2016-08-26 17:08] #121 closed, assigned to kgf

[2016-08-26 17:18] david135 commented on #55
Finished with PR #116.

[2016-08-26 17:18] #55 closed, assigned to houhoulis

[2016-08-26 20:09] VanAuken opened #127 "Change log under Help looses navigation top bar"
Navigation top bar has last choice "Help", under that is "Changelog"
If Changelog is chosen, it shows the Changelog but looses the top navigation bar.
Users who wander there looking for help are likely to need more help than when they started.

[2016-08-26 20:29] david135 commented on #127
I'd noticed that too.  I recommend, however, that we remove the Changelog.md link entirely, since it's really of use only to developers (and isn't being kept up to date).  I think it would be good to have a help page for users, though, which would use the standard template with menus.

[2016-08-26 20:37] VanAuken commented on #127
I agree that a real help page is needed.  I'm just worried for some of our beta testers who get frustrated easily.  The help page may be awhile, the bug is now. I didn't want to get greedy!

[2016-08-26 20:40] david135 opened #128 "Privacy issue: stored uploads"
Without getting into the question of where to store the images (locally or through a service), perhaps we should have authorization for viewing the images, rather than simply storing them in /public.  While pictures of items may be safe (one could debate that), portraits and certifications are personal information, and we may not want to make them publicly available.

[2016-08-29 19:55] kgf commented on #127
This had been greatly improved by PR 129, but it still needs help. Kim is working on some content to link to.
Also, I'll open another issue describing ui changes that will allow context sensitive help.

[2016-08-30 17:44] kgf commented on #125
The action on this then is to specify the version of simple_forms in the Gemfile.

[2016-08-30 17:57] kgf commented on #124
I would prefer to fix it dead, rather than a hack.

[2016-09-01 18:13] kgf commented on #123
@david135 In your research, what would be the solution to this ?

[2016-09-01 19:50] kgf commented on #128
I do not want anything accessible without a login and a role.

@david135 Could you please provide an example URL that would retrieve an image ? Thanks

[2016-09-01 21:02] kgf opened #131 "Add Availabilities"
This belongs to `Person`

belongs_to :person
start_time
end_time
status
comments

[2016-09-02 02:50] david135 commented on #128
For `items`, if the file `public/uploads/item/item_image/3/14081905676_522ed8f068_n.jpg` exists, then the URL `localhost:3000/uploads/item/item_image/3/14081905676_522ed8f068_n.jpg` displays the image, whether or not I am logged in.
For `people`, if the file `public/uploads/person/portrait/4/buddy31.jpg` exists, then the URL `localhost:3000/uploads/person/portrait/4/buddy31.jpg` displays the image

[2016-09-02 02:51] david135 commented on #124
I'm working on seeing if Bootstrap 3 fixes this.

[2016-09-02 03:12] david135 commented on #123
It seems that the idiom is to delete `session[:return_to]` every time we go to it, then leaving it ready to be re-set.  Having the views (edit, new, show) link to `session[:return_to]` makes it a little complicated. I would use a helping function.  If we compare `view/items/new.html.erb` and `view/people/new.html.erb`, we see the difference in behavior.  Do we want this functionality for all model

[2016-09-09 23:22] kgf opened #133 "Change Items View to better reflect reality"
We'll need to change the item view. We should remove the `serial X` columns, as they don't really apply anymore. Also, I'd like to remove the `Available` status column, and just colorize the row itself. The concern I have is if it's printed on a b/w printer, that info would be lost.
https://datatables.net//forums/discussion/34882

[2016-09-10 14:53] kgf opened #134 "Item Inspections can't be saved"
When creating an inspection, you can't save it, results in a 500. I believe this is related to "Forbidden Attributes".
The ideal PR correcting this would include a test that exercises this code.

[2016-09-10 15:04] kgf commented on #128
It looks like we could add this to the uploader config file
`config.root = Rails.root`
It may need the entire scoping

[code]

That will give us the `uploads` directory.

[2016-09-11 15:47] kgf opened #135 "The term "LIMS" should be removed from the UI"
Especially in app/views/layouts/_top_menu.html.erb, where it can be replaced by "Home"

Long term this should be a configurable thing, but for now...

[2016-09-12 21:39] david135 commented on #134
Hopefully addressed in PR #138.

[2016-09-13 18:38] kgf opened #139 "Add task model to events"
This involves a new model, Task. The model is at the bottom of this issue.

This should have a datatable on the event, listing all the tasks for that event.
It should also have an instance method for `status`, which will look down into the requirements. For now, this method can return things like ( Empty, Partially Filled, Full <Although I'm open to other terms.>)  The value of this status should

[2016-09-15 19:46] kgf opened #140 "Making sure dates are in the correct order"
On several forms, we enter start and end times. There should be validations on all these models to require that `end_time` is after `start_time`.  What would be much better would be to have validations in the form, using Javascript, to catch these errors before they get to the backend.

The ideal PR would verify that all models have validations, that there is JS to help the user before form submis

[2016-09-22 15:21] david135 opened #142 "A person's date of birth is not validated, and it is not saved if entered according to the placeholder"
A person's date of birth is not validated, and it is not saved if entered according to the placeholder. One can enter a date of birth in the year-first order, and it will save.

[2016-09-22 15:35] david135 commented on #124
This seems to be resolved.  Please report if problems arise.

[2016-09-22 15:35] #124 closed, assigned to nobody

[2016-09-22 15:37] david135 commented on #140
I've got the validations and tests taken care of in my next PR. I don't yet have a plan for JS.

[2016-09-23 00:06] #134 closed, assigned to nobody

[2016-09-23 00:09] kgf commented on #125
No longer needed, the unspecified version is now 3.3.1.

A later issue may request adding specific versions to the Gemfile.

[2016-09-23 00:09] #125 closed, assigned to nobody

[2016-09-23 00:11] kgf commented on #107
There is now enough code in the `seeds.rb` to create the admin user, and spit out the password.
While the seeds.rb could use additional attention, this ticket is resolved.

I'm also closing #26

[2016-09-23 00:11] #107 closed, assigned to nobody

[2016-09-23 00:12] kgf commented on #26
There is now enough code in the `seeds.rb` to create the admin user, and spit out the password.
While the seeds.rb could use additional attention, this ticket is resolved.

[2016-09-23 00:12] #26 closed

[2016-09-23 00:13] kgf commented on #127
This is resolved, although more attention around the help system would be good.

[2016-09-23 00:13] #127 closed, assigned to nobody

[2016-09-23 00:14] kgf commented on #131
This was met by PR #136

[2016-09-23 00:14] #131 closed, assigned to kgf

[2016-09-23 00:16] kgf commented on #118
While the column headers do not freeze, there is now pagination, which should help.

[2016-09-23 00:16] #118 closed, assigned to nobody

[2016-09-23 00:17] kgf commented on #119
This was addressed by #132

[2016-09-23 00:17] #119 closed, assigned to nobody

[2016-09-23 00:19] kgf commented on #89
The base work is in #103. Add new issues as needed

[2016-09-23 00:19] #89 closed, assigned to nobody

[2016-09-23 00:22] kgf commented on #39
I am closing this, as it has been moved into it's own repo.

https://github.com/ReadyResponder/checkin-by-wifi/issues/1

[2016-09-23 00:22] #39 closed, assigned to pragyajalan

[2016-09-23 00:25] kgf commented on #33
@VanAuken has suggested that this is actually a Goal, not a Title. I think there _might_ be two classes, one is `Goal` that you aspire to, and the other is `Achievement`, goals you have achieved.

[2016-09-23 00:28] kgf commented on #13
Added Carrierwave in PR #120

[2016-09-23 00:28] #13 closed

[2016-09-23 00:29] kgf commented on #3
This seems to be addressed by #138

[2016-09-23 00:29] #3 closed

[2016-09-23 00:30] kgf commented on #140
I would accept that PR, and make a new issue for the JS.

[2016-09-23 01:38] kgf commented on #61
The first PR on this effort is in, which refactors the sign-in sheet to enumerate over the values in division1 field.

[2016-09-23 01:39] david135 commented on #118
They freeze for me.  If they don't for you, there is something to investigate.  This should be a feature of all the datatables, set in `datatables-defaults.js`:
`scrollY: '50vh'`
![scrolling table](https://cloud.githubusercontent.com/assets/8586431/18771423/aee2b0b6-810c-11e6-98f2-fc382bacfa79.gif)

[2016-09-23 01:50] kgf opened #144 "Items show form has gaps"
When you look at this form, you see two tables, repairs and inspections. There is a large gap between the two. On smaller screens you may not even realize the inspections are there.

Ideally this should be much smaller. Perhaps the repairs table could grow to the needed size, up to a small maximum.

[2016-09-23 01:52] kgf opened #145 "Department model needs fields for Division1 and Division2 choices"
These should be stored to make it easy to use them in the person form.

[2016-09-23 02:01] david135 commented on #144
This is because of the default setting of `scrollY` for datatables, set to `50vh` (IIRC, half of the vertical window's height).  A height needs to be set, so that we can use the scrollY feature and keep the heading row visible, but 50vh is simply a rough guess for what might work for many tables.  The tables on this page (and possibly others) will need a different value.

[2016-09-23 05:37] david135 commented on #140
PR #146 should help with this.

[2016-09-23 14:14] david135 commented on #11
This is resolved in #136 and #138.

[2016-09-23 14:14] #11 closed

[2016-09-23 16:23] david135 commented on #144
Addressed in #146.

[2016-09-23 17:01] david135 commented on #133
Table columns removed in PR #146, but will we want to remove these fields from the db?

[2016-09-23 21:18] kgf opened #147 "Update Timecard schema"
Need to remove the link to events. A Timecard represents a person working for a period of time, which could include multiple events.

Timecard model needs some additional tuning, please contact @kgf before starting on this.

[2016-09-24 03:21] #140 closed, assigned to nobody

[2016-09-24 03:22] #142 closed, assigned to nobody

[2016-09-24 03:23] #144 closed, assigned to nobody

[2016-09-27 01:52] kgf opened #148 "Add Notifications to Events"
This will require multiple classes to fully implement. Notifications will have_many recipients. Recipients will have_many messages. Messages are an attempt to reach one person on one channel, such as their  email address. Messages have_many responses.

[2016-09-27 20:26] neeleshn commented on #135
Hey,

I am a first-timer. Can I claim this?

Thanks,
Neel.

[2016-09-28 01:17] kgf commented on #135
Absolutely ! You know about the free T-shirt ?
https://hacktoberfest.digitalocean.com/

Let me know if you need any help.

Thanks !

[2016-09-28 02:18] kgf opened #151 "Datepicker changes values by accident"
When using a Mac, you can scroll on a page by using two fingers on the touchpad and sliding them up or down. If the mouse cursor is inline with a field that includes a datetimepicker, the mouse becomes "caught", and scrolling further will cause the value in that field to change. This is very unexpected, and bad. I believe this could be fixed by only having the datetime picker be activated on the c

[2016-09-28 02:21] kgf commented on #133
Yes, a migration should be created to remove these fields.

[2016-09-28 03:01] david135 commented on #151
Does PR #150 work for you? I was able to replicate, and the configurations I installed seem to fix it for me.

[2016-09-28 03:09] ChanChar commented on #126
@david135 I'll tackle this one. Do we want to force contributors maintain the test DB by failing if they haven't run the migrations yet?

[2016-09-28 03:49] david135 commented on #126
Thanks, @ChanChar! I'm inclined to go with the default recommendations from [RSpec](https://relishapp.com/rspec/rspec-rails/docs/upgrade#pending-migration-checks) for our version of Rails.  I don't think we need to opt out of the pending migration check, unless @kgf thinks otherwise.  I'm looking forward to benefiting from this feature when our next model comes in.

[2016-09-28 18:27] kgf commented on #126
Sounds good to me. Thanks for your help!

[2016-09-28 21:43] #126 closed, assigned to nobody

[2016-09-28 21:58] david135 commented on #126
Thanks,  @ChanChar! It's merged and ready for use.

[2016-09-28 22:00] ChanChar commented on #126
@david135 any time :] thanks!

[2016-09-28 22:07] david135 commented on #123
The cancel button is now working, since the above-mentioned PRs, but this is still a problem in the controller, setting and using `session[:return_to]`, which impacts redirects.

[2016-09-29 03:19] david135 commented on #151
PR #150 has been merged.

[2016-09-29 03:19] #151 closed, assigned to david135

[2016-09-29 16:37] kgf commented on #123
@david135 should we close this issue, and open a new one that is more specific ?

[2016-09-30 02:22] kgf opened #154 "Tasks will need new statuses."
Tasks currently have status choices of Full, Partially-full and Empty. These will need to change to something like Empty, Inadequate, Adequate, Satisfied, Full to reflect the lower Requirements model.

Empty means no one has been assigned to anything. All requirements are empty.
Inadequate means there are still requirements that have not met their minimum staffing levels.
Adequate means all tasks

[2016-09-30 02:29] kgf commented on #139
This was met by #152

[2016-09-30 02:29] #139 closed, assigned to david135

[2016-09-30 02:35] kgf opened #155 "Add Requirements to Tasks"
Requirements will need to be linked to a task. They will need the following attributes, at a minimum.

link to task
link to assignment, which doesn't exist yet
minimum_people, an integer
maximum_people, an integer
desired_people, an integer
skill, a reference to the skills table
optional, a boolean
floating, a boolean

[2016-10-03 17:15] pcofilada commented on #84
@kgf Just for clarification the Grant model is not yet existing right?

[2016-10-03 17:54] kgf commented on #135
Thanks @neeleshn for looking at this. Is there another issue we could interest you in ?
Thanks @pcofilada for the pull request !

[2016-10-03 17:54] #135 closed, assigned to nobody

[2016-10-03 17:56] kgf commented on #84
Correct. You are rocking ! So this would also require some changes to the item model, and the item show and edit form. The item form should show the grant title, and that title should be a link to the grant. The grant#show should have a datatable with all the items included in the grant.

[2016-10-03 18:10] pcofilada commented on #84
Great! I will look into this after finishing  some other issues.

[2016-10-04 00:58] ChanChar commented on #94
I can also take this one. :]

[2016-10-04 01:12] kgf commented on #94
That would be awesome, thanks. It should be as `inspector`. Look at `repairer` as an example.

Thanks for your help.

[2016-10-04 01:54] kgf commented on #8
On the index page for events, it should show a calendar, with the datatable list below that. Fullcalendar is one option, http://dhtmlx.com/docs/products/dhtmlxCalendar/ would be another. It is not required that drag and drop work for this PR, just that it accurately displays the events, and that the entries on the calendar are links to the event.

[2016-10-04 01:55] kgf opened #160 "Update README.md to reflect new name"
There are other updates as well, such as homepage and usage

[2016-10-04 01:56] kgf commented on #160
I have discussed this with @VanAuken, she'll take this one.

[2016-10-04 02:12] kgf commented on #71
It should also include a date picker

[2016-10-04 12:38] kgf commented on #145
This was addressed by #159

[2016-10-04 12:38] #145 closed, assigned to nobody

[2016-10-04 12:43] kgf opened #161 "Have person form look to the department for division choices."
This is a continuation of #145. The person form should use the values from the department that the person belongs to drive the choices on the person form.

So, if I have a department of MRC with division1 choices of "Medical Team 1", "Medical Team 2" and division2 choices of "Doctors", "Nurses", then those should be the only choices in the select field of the form. If I change the department, thes

[2016-10-04 13:01] pcofilada commented on #84
@kgf do you have any mockup on how will it look like on frontend?

[2016-10-04 21:02] kgf commented on #84
Not currently. I would expect there would be CRUD resources for grants. The index of grants would fall under the "Admin" section of the menu. When editing/creating an item, you would have a dropdown for Active grants. `Active` should be a value for the `status` field on Grants.

Does that help, @pcofilada  ?

[2016-10-04 21:14] kgf commented on #27
Values for the label would be

1 Use First
2 Use Second
3 Use Third
4 Use Last

[2016-10-04 22:49] kgf commented on #5
No longer relevant. Needs update

[2016-10-04 22:49] #5 closed

[2016-10-04 23:54] kgf opened #163 "Remove sqllite from Gemfile"
We are using PG in all environments

[2016-10-05 00:46] kgf opened #165 "Add Recipients to Person model"
This should follow the description in the wiki.

[2016-10-05 01:11] ChanChar commented on #94
@kgf quick clarification, if im not mistaken the Inspection model already has a `belong_to` association to the Person model. Did we just want to change it so that the association to `inspector`?

[2016-10-05 03:33] avinoth commented on #71
I'd like to do this. Any takers already?

[2016-10-05 05:10] TerryBeyak commented on #8
I've experience with FullCalendar, and I can try and tackle this if that's all right?

[2016-10-05 10:24] kgf commented on #8
That would be awesome,. If you have any questions, please ask is.

Thanks for your help.

[2016-10-05 10:24] kgf commented on #94
That is correct, sorry for the confusion.

[2016-10-05 10:25] kgf commented on #71
Go for it, that would be great.

Thanks for your help !

[2016-10-05 12:23] VanAuken opened #169 "New Person form: zipcode entry should fill in city and state"
In order to aid data entry, in the new person form, entering the zipcode should fill in the appropriate city and state.

[2016-10-05 12:28] VanAuken opened #170 "New Person form: 'Create New Person' should go to view of people"
In New Person form, when the data entry is complete and the button is hit for 'Create New Person', currently it goes to the home page.
The program should go to a view showing that the person was created.  This gives the data entry person confirmation that they sucessfully entered the new person.  Appropriate view might be 'Everybody'.

[2016-10-05 12:31] VanAuken opened #171 "Code of Conduct needs contact information"
In the Code of Conduct referenced in README,  contact information needs to be inserted in document.  Currently reads:

"contacting a project maintainer at [INSERT EMAIL ADDRESS]."

[2016-10-05 12:38] VanAuken opened #172 "CONTRIBUTING.md: Still reads LIMS, should read ReadyResponder"
CONTRIBUTING.md: Still reads LIMS, should read ReadyResponder.
LIMS was old name for program.

[2016-10-05 12:46] kgf commented on #171
That email address should be `conduct@readyresponder.org`.
That address is not yet hooked up. In fact the readyresponder domain is not properly configured, but this will be a step in the correct direction.

[2016-10-05 12:48] kgf commented on #10
OK, now would be a good time !
This should be on the person, item, event models at a minimum.

[2016-10-05 12:49] kgf commented on #27
@ThomasCarlson , do you still have your fork for this issue ?

[2016-10-05 12:53] kgf commented on #98
USPS does seem to have an API for this
https://www.usps.com/business/web-tools-apis/address-information-api.htm

[2016-10-05 12:55] kgf commented on #170
Would this be to show the individual person you just entered, or a listing of many people ? If a listing of people, would it be better to show a listing of just the people in the department that is the same as the new person's department ?

[2016-10-05 12:57] kgf commented on #169
Thanks, but this is a duplicate of #98, which is still open. I will bump that issue.

[2016-10-05 12:57] #169 closed, assigned to nobody

[2016-10-05 13:44] david135 commented on #170
I'll take this one.  It's ultimately related to #123, though we'll want to discuss a solution for the entire site.

[2016-10-05 14:02] pratyushprakash commented on #163
Hi, can I work on this issue?

[2016-10-05 14:19] david135 commented on #163
This issue has been claimed.  Thank you for your interest, but we wouldn't want you to duplicate work that's already being done.  Perhaps another issue will catch your interest?

[2016-10-05 14:48] ankit01ojha commented on #171
Is the project is removed from hacktoberfest?

[2016-10-05 15:15] david135 commented on #163
Resolved in #164.  Thanks for everyone's interest!

[2016-10-05 15:15] #163 closed, assigned to jasonsouza

[2016-10-05 17:49] kgf commented on #170
@david135 Should we re-add the awaiting info tag so @VanAuken can answer the question I posed ? She is an end user, and how _she_ thinks it should work is important.

[2016-10-05 18:54] david135 commented on #170
Yes indeed. Thanks!

[2016-10-05 21:22] kgf commented on #172
Addressed by #179

[2016-10-05 21:22] #172 closed, assigned to nobody

[2016-10-05 22:11] david135 commented on #171
Hi @ankit01ojha, thanks for your interest!  This project is still taking part in Hacktoberfest, but this particular issue had been claimed already, and in fact has now been resolved with PR #177.

[2016-10-05 22:11] #171 closed, assigned to nobody

[2016-10-06 01:34] kgf opened #186 "Create Conversations, link to Recipients"
A conversation is the result of a single notification. It is an discussion between the system and a single person, using a single method of communication

It will have many messages.
 You should refer to the wiki for further details
https://github.com/ReadyResponder/ReadyResponder/wiki/Notifications

[2016-10-07 00:52] david135 commented on #133
Resolved with #185.

[2016-10-07 00:52] #133 closed, assigned to nobody

[2016-10-08 06:24] avinoth commented on #161
I could do this after #187 is confirmed?

[2016-10-08 12:13] caironoleto commented on #84
I'm working on this issue.

[2016-10-08 13:34] pragyajalan commented on #59
All the peoples views use the same view page - Police, Cert, Active.. So if we add it to the Police view, it will get added to all those pages as well. It that ok?

[2016-10-08 13:34] pragyajalan commented on #59
https://github.com/ReadyResponder/ReadyResponder/pull/188

[2016-10-08 13:49] pragyajalan commented on #86
Pull request for this issue is merged - so closing this issue

[2016-10-08 13:49] #86 closed, assigned to nobody

[2016-10-08 13:53] pragyajalan opened #189 "Clicking on Reports >> Attendance Sheet is broken"
[code]

[2016-10-08 14:24] pragyajalan opened #190 "Clicking on the Home button, doesnt do anything"
Currently clicking on the Home button does not navigate back to the home page. It stays on the same page.

Clicking on the Home button should take the user back to the home page.

[2016-10-08 17:34] caironoleto commented on #84
ops, has a opened pull request. I will look another issue.

[2016-10-08 17:35] caironoleto commented on #27
I'm working on this issue.

[2016-10-08 18:26] caironoleto commented on #190
I'm working on this issue.

[2016-10-08 18:41] caironoleto commented on #96
I'm working on this issue.

[2016-10-09 14:50] #71 closed, assigned to nobody

[2016-10-09 14:54] kgf commented on #59
Closed by PR #188
Thanks Pragya !

[2016-10-09 14:54] #59 closed, assigned to pragyajalan

[2016-10-09 14:56] #27 closed

[2016-10-09 15:00] #189 closed, assigned to nobody

[2016-10-09 15:06] #190 closed, assigned to nobody

[2016-10-15 01:15] kgf opened #198 "Create messages model, link to person."
See https://github.com/ReadyResponder/ReadyResponder/wiki/Notifications

The ideal PR would include tests for this model.

[2016-10-15 02:56] kgf opened #199 "Enable messages to be sent via email"
This may need to wait for messages to be created.
https://github.com/ReadyResponder/ReadyResponder/wiki/Notifications

This would need to add a unique hash to the subject line, so that Ready Responder can link it into the correct conversation.

[2016-10-15 03:00] kgf opened #200 "Enable messages to be sent via text message"
https://github.com/ReadyResponder/ReadyResponder/wiki/Notifications

This will need to be able to link into a specific person.

[2016-10-15 03:45] kgf opened #202 "Add tabs to events UI"
I would like to add tabs to the events UI to separate personnel tables from the tasks info.
This should use the jquery library

[2016-10-15 13:31] chirag08 commented on #202
Can you describe a bit more ?

[2016-10-15 21:06] nickgnd commented on #198
Hi @kgf, I'm on it 😄

Before to start, can you please give me more info about the requirements? Thanks.

step by step:

**create model `messages`**
I saw there is already a table `messages` in the [db schema](https://github.com/ReadyResponder/ReadyResponder/blob/development/db/schema.rb#L227) with different fields from those listed in the [wiki](https://github.com/ReadyResponder/ReadyResponder/wik

[2016-10-16 00:34] david135 commented on #170
This is handled in #197.  I'll leave this issue open for a few days in case anyone wants to make further suggestions, and then close it.

[2016-10-16 09:15] nickgnd commented on #165
Hi, i'm wondering if @BoVice is still working on this issue, if not I'd like to work on this.
Let me know 😄

[2016-10-16 16:14] #96 closed, assigned to nobody

[2016-10-16 16:24] OrthoDex commented on #98
Hey! I'd like to take this up if it's alright, we can use the Google Geocode API: https://developers.google.com/maps/documentation/geocoding/start?csw=1

[2016-10-17 16:01] kgf commented on #165
I have not heard from @BoVice recently. @nickgnd have you looked at the project, are there other issues that would interest you ?
https://github.com/ReadyResponder/ReadyResponder/projects/1

[2016-10-17 16:51] kgf commented on #202
Sure, thanks for your interest. Looking at this screenshot:
![screen shot 2016-10-17 at 12 47 58 pm](https://cloud.githubusercontent.com/assets/2431417/19446707/04a3286e-9468-11e6-84cf-053eecc796a9.png)
You can see a `Tasks` table, an `Availabilities` table and an `Unknown` table. There may be additional tables in the future. `Availabilities` and `Unknown` are about who is responding. This should

[2016-10-17 17:02] kgf commented on #198
Thanks a lot for your help !
I do have a slight concern with you choosing this one, as it is tied to #186, which is not yet claimed. Do you see this as a problem for you ?

The current messages table can be deleted, or changed to your desire. There is no data in it in production. So that would be the second option.
Null checks are usually good !

All times throughout the app should be stored in UT

[2016-10-17 17:03] #170 closed, assigned to david135

[2016-10-17 17:07] kgf commented on #98
@OrthoDex That would be great ! Thanks.

Please reference the API key using env vars, similar to this:

[code]

Please also scope them to google, like GOOGLE_ACCOUNT_API_KEY
I hope you'll be able to get this to work when giving Google only the zipcode.

Thanks again for your interest.

[2016-10-17 17:19] OrthoDex commented on #98
Alright! I'll issue a pull request soon. :smile:

[2016-10-17 17:22] kgf commented on #98
I'm looking forward to it, and so is @VanAuken !

[2016-10-17 17:35] OrthoDex commented on #97
Hey @kgf , would it be alright if I issue a quick PR for this? It'll help me get a little more familiar with the project. Further, it'll help out other subsequent PRs.

Apart from adding groups, we could cache the dependencies as explained [here](https://docs.travis-ci.com/user/caching/), and run parallel tests if possible explained [here](https://docs.travis-ci.com/user/speeding-up-the-build/).

[2016-10-17 17:57] kgf commented on #97
That sounds great to me. I've read some on the parallel builds, not the dependencies. (yet)
Thanks

[2016-10-17 18:11] OrthoDex commented on #97
Hey @kgf , on further reading I found that caching and parallel tests are both currently available only for private projects :disappointed:
Sorry about that.

[2016-10-17 19:31] OrthoDex commented on #97
Hey @kgf , issued a PR at #204 . The test suite is failing on a nil class error. Pretty weird, I haven't touched any code that should affect the existing features.

[2016-10-17 19:41] kgf commented on #97
I have started a re-run on the tests

[2016-10-18 21:50] nickgnd commented on #198
Hi @kgf,

Of course not 😄 . I'll work on #186 in the next days then I can  proceed with this one.

Thanks for the feedback!

[2016-10-18 21:50] nickgnd commented on #186
I'm on it!

[2016-10-18 23:56] kgf commented on #16
I am closing this, as the data model has changed, and this is no longer relevant

[2016-10-18 23:56] #16 closed

[2016-10-18 23:59] kgf commented on #198
That's great Nicolò. Just be sure to check back in before beginning on #198. I have a demo coming up on Monday of next week, and I am hoping to have more of the Event project done, so others may take the other ticket.
Thanks for your help !

[2016-10-19 00:11] kgf commented on #186
That's great. When do you think you might have a PR ?

Thanks for your help !

[2016-10-19 00:13] kgf commented on #186
The #show action for any conversation should have a link back to the recipient and the notification. It should also have a datatable showing all the messages in chronological order, and color coded by direction (Inbound vs outbound) You can look at the event show page ERB for examples of a lot of that...

[2016-10-19 00:56] kgf commented on #161
@avinoth Would you still be willing to handle this one ? There is code on the location that might be helpful.
https://github.com/ReadyResponder/ReadyResponder/blob/development/app/views/items/_form.html.erb#L6

[2016-10-19 01:38] avinoth commented on #161
@kgf I afraid not. I'm packed for the upcoming two weeks.

[2016-10-19 02:12] kgf commented on #161
No problem, knowing I can give this to someone else is helpful. Perhaps when that's over.

Thanks for your interest.
Kevin

[2016-10-19 02:13] kgf commented on #202
What do you think, @chirag08 ? Are you up for it?

[2016-10-19 23:48] VanAuken commented on #160
This was fixed by #206

[2016-10-19 23:48] #160 closed, assigned to VanAuken

[2016-10-20 00:22] VanAuken commented on #94
@ChanChar Are you still interested in resolving this issue?  Seems like you nearly had it with last PR.  Thanks for your interest.

[2016-10-20 00:24] ChanChar commented on #94
@VanAuken hah yup. still interested. was caught up at work. will submit something by this week. 👍 thanks for the reminder!

[2016-10-20 01:17] david135 commented on #202
http://getbootstrap.com/javascript/#tabs ?

[2016-10-20 02:28] kgf commented on #202
Well, I must admit I had been thinking
https://jqueryui.com/tabs/

[2016-10-20 02:40] kgf commented on #31
The requirements for this have changed to match the new data model. Now this is simply to add the selector to the event forms, and persist it to the database. This would be a have and belongs to many between events and departments.
Instead of creating unnecessary availability records, we need to change what the event returns as eligible people.

[2016-10-20 12:56] david135 commented on #123
Resolved in PR #197.

[2016-10-20 12:56] #123 closed, assigned to david135

[2016-10-20 13:36] Spandana-Sai commented on #128
work in progress

[2016-10-20 14:41] kgf commented on #128
Excellent, thanks!

[2016-10-20 17:17] kgf opened #208 "Consider assignments when calculating availabilty"
Currently, availability for an event is calculated simply by looking for an Availability record for the same time span.
https://github.com/ReadyResponder/ReadyResponder/blob/development/app/models/event.rb#L43
However, if someone gets an assignment, they are no longer available, they have an assignment. This needs to be considered.
This is on hold, because more consideration is needed around overl

[2016-10-20 17:19] kgf opened #209 "Department needs to know to track people and items"
The department needs two boolean attributes, `We track people for this department` and `We track items for this department`. Checkboxes on the UI should be good.

These will be used to drive UI choices.

[2016-10-20 18:16] VanAuken commented on #94
@ChanChar That's great!  I appreciate it.

[2016-10-20 18:30] chainedcoder commented on #209
Lemmi try

[2016-10-20 18:35] chainedcoder commented on #209
Hey @kgf, To what file is this supposed to be added?

[2016-10-20 22:26] nickgnd commented on #186
Hi @kgf, i'm sorry, i was very busy in these past days. I hope to take a look in this weekend and send to you a WIP PR.

[2016-10-21 01:44] kgf commented on #33
But they could have one database table.

[2016-10-21 01:48] kgf commented on #209
You would need to take a few small steps. You would need to generate a migration to add the two columns to the database. They could be `manage_people` and `manage_items`. You would need to add the two fields to the department form. You would need to update the model to make these be whitelisted attributes. And you might write a test to ensure they could be selected. There may be other steps, but t

[2016-10-21 01:49] kgf commented on #186
That would be great, especially if you could have it in by 1:00 PM Eastern Time. That will give me some time to review and integrate the changes for a demo I'll be giving on Monday.

[2016-10-21 01:51] kgf commented on #94
I am mentioning this on all the claimed issues. We always appreciate people's help, but if you could have PRs submitted by 1PM EST this Sunday, I'll have time to review and integrate them for a demo on Monday.

Thanks !
Kevin

[2016-10-21 01:53] kgf commented on #209
I am mentioning this on all the claimed issues. We always appreciate people's help, but if you could have PRs submitted by 1PM EST this Sunday, I'll have time to review and integrate them for a demo scheduled on Monday.

Thanks !
Kevin

[2016-10-21 01:53] kgf commented on #198
I am mentioning this on all the claimed issues. We always appreciate people's help, but if you could have PRs submitted by 1PM EST this Sunday, I'll have time to review and integrate them for a scheduled demo on Monday.

Thanks !
Kevin

[2016-10-21 01:54] kgf commented on #165
@BoVice :
I am mentioning this on all the claimed issues. We always appreciate people's help, but if you could have PRs submitted by 1PM EST this Sunday, I'll have time to review and integrate them for a scheduled demo on Monday.

Thanks !
Kevin

[2016-10-21 01:55] kgf commented on #148
I am mentioning this on all the claimed issues. We always appreciate people's help, but if you could have any PRs submitted by 1PM EST this Sunday, I'll have time to review and integrate them for a scheduled demo on Monday.

Thanks !
Kevin

[2016-10-21 01:55] kgf commented on #128
I am mentioning this on all the claimed issues. We always appreciate people's help, but if you could have any PRs submitted by 1PM EST this Sunday, I'll have time to review and integrate them for a scheduled demo on Monday.

Thanks !
Kevin

[2016-10-21 01:55] kgf commented on #98
I am mentioning this on all the claimed issues. We always appreciate people's help, but if you could have any PRs submitted by 1PM EST this Sunday, I'll have time to review and integrate them for a scheduled demo on Monday.

Thanks !
Kevin

[2016-10-21 02:00] kgf commented on #97
fixed by #204

[2016-10-21 02:00] #97 closed, assigned to nobody

[2016-10-21 03:58] colinfike commented on #202
I'll take this one if it's still available.

Just to confirm, the task is to use jQuery UI Tabs and make two tabs. One for Availability and Unknown and another for Tasks.

[2016-10-21 11:36] kgf commented on #202
That is correct, unless you are aware of a reason to use a different library. JavaScript is not one of my better subjects!
Thanks @colinfike !

[2016-10-22 14:27] #202 closed, assigned to nobody

[2016-10-22 14:30] kgf opened #212 "Change events listing to show partial availability"
Looking at this recent screenshot, we see that one person is available, and two have not responded. No one has reported unavailable yet. There are three small numbers at the top, outlined in green red and yellow. They currently mean Available, Unavailable, and Unknown. This issue looks to change that. The desired display is to have four numbers. A green background still means available, _then_ a y

[2016-10-22 15:06] kgf commented on #212
The ideal PR would be ready by 1PM EST tomorrow, so I could include it in a demo on Monday.

[2016-10-22 15:09] kgf commented on #186
@nickgnd This issue is being closed, as we do not need this model. I am updating the wiki with the details.
I hope you see this in time !

[2016-10-22 15:09] #186 closed, assigned to nobody

[2016-10-22 15:55] kgf commented on #212
This is the bit in the class that will need a new method
https://github.com/ReadyResponder/ReadyResponder/blob/development/app/models/event.rb#L34-L48

[2016-10-22 16:42] nickgnd commented on #186
@kgf ok! In the meanwhile I set up Docker for the development environment. It could be useful to the project?

[2016-10-22 18:57] kgf commented on #186
Probably not, as not too many use Docker on development yet. I think improvements to the seeds.rb would probably be of more value to new contributers. ( #110 and #22 )
That being said, I would certainly approve a PR with a Dockerfile !!

@nickgnd Are you up for a different issue ? #212 perhaps ?

Thanks for your help !
Kevin

[2016-10-22 19:05] kgf commented on #171
Hi @ankit01ojha, thanks for your interest! We do still have Hacktoberfest issues available, if we can tempt you....

Kevin

[2016-10-22 19:47] VanAuken opened #213 "New Person form change text on form from 'Sms' to 'Text Message (SMS)'"
New Person form change text on form from 'Sms' to 'Text Message (SMS)'.
This asking for a change in the static text promt for the check box.  Some of our data entry people will not recognise the term SMS.
While you're at it, please change text prompt 'Icsid' to 'ICS Id'.

[2016-10-22 20:05] VanAuken opened #214 "Add Horizontal sub menu site wide for contextural actions/buttons"
Add Horizontal sub menu site, wide for contextural actions/buttons.
Goal is to have contextural buttons, like 'add new person' on Applicant view.
Views could then move over to left hand edge and allow more columns.  Currently left hand 'gutter' is left open for buttons.

[2016-10-22 20:06] kgf opened #215 "Add Template as a choice on Events"
Go to this line and add an additional choice `Template`
https://github.com/ReadyResponder/ReadyResponder/blob/development/app/models/event.rb#L27
This will be to set up events that will be used to create other events.

[2016-10-22 20:08] VanAuken opened #216 ".ico file needs to be changed from LIMS to ReadyResponder"
.ico file needs to be changed from LIMS to ReadyResponder
LIMS was old name of project.  Tab icon still reflects old name.  Change of .ico file will update icon.

[2016-10-22 20:31] kgf commented on #198
I realized I can still work on the text message portion of this, but will need the messages model before Sunday afternoon

[2016-10-22 21:01] colinfike commented on #212
taking a look now

[2016-10-22 21:03] blake-mealey commented on #215
Hey, can I claim this one?

[2016-10-22 21:12] kgf commented on #215
Absolutely!

[2016-10-22 21:14] kgf commented on #212
Thanks for your help!

[2016-10-22 22:50] #215 closed, assigned to nobody

[2016-10-23 00:41] colinfike commented on #212
No problem, happy to help

[2016-10-23 01:40] kgf commented on #212
Closed by #220

[2016-10-23 01:40] #212 closed, assigned to nobody

[2016-10-23 01:42] #213 closed, assigned to nobody

[2016-10-23 03:59] BhaveshSGupta commented on #216
I can take this one

[2016-10-23 18:08] kgf opened #228 "Need UI change to manage division1 and division2 on Department form"
There is no way to add, or view `division1` or `division2` in the department views. This problem was exposed by #225, but predates it. Note that these are serialized fields.

[2016-10-23 18:11] kgf opened #229 "On the Person form, move division 1 and division 2 so they are just after Department"
Since these are so closely related, they should be together.

[2016-10-23 19:00] kgf opened #230 "Add Departments to admin menu"
Add them to the top navigation menu, under admin. This would also require adding entires into the `ability.rb` model to control access.

[2016-10-23 19:04] kgf opened #231 "Make top menu dynamic for people"
Right now, the People menu drops down to reveal sub menus. The first two choices are currently static. They should be changed to reflect the Active departments that have the `We manage People` setting set to true. You should use `shortname` attribute for display in the menu. This will also require changes in the people controller, since the values are also hard-coded there.

[2016-10-23 19:07] kgf opened #233 "On item edit, look to department setting for items"
The department model now has a setting for `We manage Items`. The new/edit item form should only show departments for which that setting is true.

[2016-10-23 19:23] #209 closed, assigned to nobody

[2016-10-23 19:24] #229 closed, assigned to nobody

[2016-10-23 19:27] colinfike commented on #233
I'll take this real quick

EDIT: Done in https://github.com/ReadyResponder/ReadyResponder/pull/235

[2016-10-23 20:26] sergeimellow commented on #231
taking a look at this now

[2016-10-23 20:48] kgf commented on #231
Awesome, let me know if you have questions !

[2016-10-23 21:26] colinfike commented on #228
Taking a look

[2016-10-23 21:30] kgf commented on #228
Thanks !!

[2016-10-23 21:32] #233 closed, assigned to nobody

[2016-10-23 22:02] sergeimellow commented on #231
@kgf Is there a reason that the relationships aren't established between departments and people? Person.first.department just returns a string instead of the department the user is related to.

[2016-10-23 22:06] kgf opened #237 "No way to enter a new skill"
When you go to the skills listing, please add a "New Skill" button to the left hand margin. In this screen shot, "New Task" is an example.

<img width="517" alt="screen shot 2016-10-23 at 6 05 21 pm" src="https://cloud.githubusercontent.com/assets/2431417/19629832/616e8998-994b-11e6-8332-072f0d69b678.png">

[2016-10-23 22:07] kgf opened #238 "No way to enter a new title"
When you go to the titles listing, please add a "New Title" button to the left hand margin. In this screen shot, "New Task" is an example.

<img width="517" alt="screen shot 2016-10-23 at 6 05 21 pm" src="https://cloud.githubusercontent.com/assets/2431417/19629841/7f73fd7e-994b-11e6-9a8e-2f2b34957163.png">

[2016-10-23 22:08] kgf commented on #231
Almost certainly an oversite from a time when Departments weren't a model. At this point, that would be a bug !

[2016-10-23 22:24] kgf opened #239 "When entering an availability, exact same time shows as partially available."
An event has a start time and an end time. If you enter an availability with those exact times, you are listed as `partially available`, not `available`.
We do not need seconds in these times. A later issue will try to normalize all times to quarter hours.
As you can see from the screen shot, the event is from 7 until 9. Abigal is available during those times, but is only shown as partially availa

[2016-10-23 22:28] kgf opened #240 "When displaying availabilities on events, partial availability shows twice."
As shown by the screen shot below, when someone is partially available, it shows that availability twice. One of the columns is a link, and when I hover over it, I can see that they point to the same database record.
The ideal PR would include a test that would expose the bug.
<img width="906" alt="screen shot 2016-10-23 at 6 26 28 pm" src="https://cloud.githubusercontent.com/assets/2431417/196299

[2016-10-23 23:03] sergeimellow commented on #231
@kgf This will help the next person who tries to tackle the initial problem whether its me or somebody else. I am done for now.

https://github.com/ReadyResponder/ReadyResponder/pull/242/files

[2016-10-23 23:45] kgf opened #243 "When editing a Person, cancel doesn't work"
When you edit a person, the cancel button seems to just come back to edit.

[2016-10-23 23:46] kgf commented on #231
Thanks for your help ! I appreciate it.

[2016-10-24 00:09] EvanTedesco commented on #240
Can you possibly include steps to reproduce?  Sorry I just forked the repo but need to know how to re create the condition in order to fix it.  When I create an event, then create a single partial availability I only see it once.  Is the bug that the user can potentially create duplicate partial availabilities?

[2016-10-24 00:26] kgf commented on #240
They can create a second availability, because the code is not that resilient yet.. but, regarding this issue:
Create an event, note the start and end times.
Create an availability with the same times. (It will do this by default through the UI. It will show as partial, and it will show twice. It seems to be tied to #239

[2016-10-24 00:43] EvanTedesco commented on #240
OK I got it sorted thanks

[2016-10-24 00:50] kgf opened #244 "When looking at event availability, links should be consistient"
When looking at an event, as shown in the screen shot below, you will have some people who have responded, and some who have not. In both these tables, the person's name is a link. What's confusing is that they are links to different things !  The name should always be a link to the person. For the table of responses, the badge in the first column should be a link to the Availability record itself

[2016-10-24 01:17] EvanTedesco commented on #243
Where do you want it to go?

[2016-10-24 01:24] kgf commented on #243
Back from whence you came. I believe @david135 worked on that recently, #210
Were you able to duplicate ?

[2016-10-24 01:25] EvanTedesco commented on #244
Can you elaborate a bit?  Perhaps git it in terms of a user story.  What is the current behavior and what is the desired behavior?

[2016-10-24 01:27] EvanTedesco commented on #243
It brings me back to the user's show page when I press it.

[2016-10-24 01:28] EvanTedesco commented on #239
I have made a pr for this here: https://github.com/ReadyResponder/ReadyResponder/pull/245

[2016-10-24 01:42] kgf commented on #244
When a user is looking at availabilities tab on an event, and clicks on a person's name that is a link, the link should go to the record for that person. Currently it does go to the person record if that person is in the unresponsive table. (The lower one)

If they are in the Availabilities table (the upper one) it goes to the availability record. This link should be changed. A second change is to

[2016-10-24 01:44] kgf commented on #243
OK, let me try it again, get better details.

[2016-10-24 07:05] Spandana-Sai commented on #128
Hey PR has been submitted #247 Please Review. Sorry for the delay.

[2016-10-24 07:46] Spandana-Sai commented on #238
@kgf If only one sidebar is there in title listing then instead of left margin we can go with the design approach of Resource listing? What is your opinion? and one more thing there is no ability defined for title

[2016-10-24 08:52] Spandana-Sai commented on #8
@TerryBeyak  Are you working on this issue? Can you please let me know

[2016-10-24 09:17] abrophy commented on #244
I can see the issue, will send a PR shortly

[2016-10-24 09:21] Spandana-Sai commented on #31
@kgf can you please explain in-detail?

[2016-10-24 09:27] Spandana-Sai commented on #199
@kgf I think this in interlinked with #200. Can I create new models and start working on it?

[2016-10-24 09:47] Spandana-Sai commented on #199
Do you have any mock up for the email template? @kgf

[2016-10-24 09:55] Spandana-Sai commented on #10
Work in progress @kgf

[2016-10-24 09:58] Spandana-Sai commented on #2
@kgf Work in progress

[2016-10-24 10:43] abrophy opened #250 "Slack link in README.md is relative path not absolute"
Due to this clicking on the link just 404's, should be an easy fix

[2016-10-24 10:49] #216 closed, assigned to nobody

[2016-10-24 10:54] kgf commented on #238
Your current pr addresses this issue, so intend to merge it. Perhaps a different pr for adding title to ability?

Thanks for your help.

[2016-10-24 10:55] #238 closed, assigned to nobody

[2016-10-24 11:28] #244 closed, assigned to nobody

[2016-10-24 13:03] abrophy commented on #198
Don't want to step on any toes, seeing as this issue's already been claimed, but with other issues relying on the model how do you feel about someone else putting in a PR for this?

[2016-10-24 16:39] #239 closed, assigned to nobody

[2016-10-24 16:42] kgf commented on #240
Fixed in #245

[2016-10-24 16:42] #240 closed, assigned to nobody

[2016-10-24 16:46] kgf commented on #198
I appreciate your considering others. I think @nickgnd may have gotten busy. I have made some good progress on the text messages, and would welcome a pr for the model. Thanks for your interest!

[2016-10-24 16:50] kgf commented on #199
Not so much. It doesn't need to be beautiful on the first pass. It should include the event id_code as a way to relate it to what they are available for. The event title and start and end times should be in there.
If you get the frame work of sending a message, future PR s can refine it.
Thanks for your interest!
Kevin

[2016-10-24 16:51] kgf commented on #128
No problem, thanks for your help! Iwilli review this after the demonstration later today.

[2016-10-24 16:52] kgf commented on #2
Wow, excellent

[2016-10-24 16:53] kgf commented on #10
You're amazing, thanks for all your efforts.

[2016-10-24 17:09] #250 closed, assigned to nobody

[2016-10-24 17:16] kgf commented on #20
This could involve this component, for example.
https://developers.google.com/chart/interactive/docs/gallery/calendar

[2016-10-24 17:19] kgf opened #252 "After entering a start time on event, the end time should jump to a time at least as forward"
Currently, if you choose a start time in a later month, you have to scroll to that later month again for the end date. Most events will start and end on the same day, so we might as well jump there.

If the end date is already later than the start, do nothing.

[2016-10-24 19:12] kgf opened #253 "Fix grammar in Readme, and improve Git instructions."

[2016-10-24 19:12] #253 closed, assigned to nobody

[2016-10-24 19:26] maisieccino commented on #237
I'm happy to give this a go! :smile:

[2016-10-24 19:50] kgf commented on #237
Great, thanks for your help!

[2016-10-24 19:50] kgf commented on #237
Btw, there was a similar issue recently that has a closed PR. You may want to take a look.

[2016-10-24 19:57] VanAuken opened #254 "Add drop down choice for template to New Event"
When entering a new event, add drop down showing template choices.
Choices should only be events that are categorized as templates.

See Project description for 'Create a New Event from a Template' https://github.com/ReadyResponder/ReadyResponder/projects/2

[2016-10-24 20:18] nickgnd commented on #198
Yeah @kgf, now I'm a little busy. @abrophy feel free to contribute :)

[2016-10-24 20:21] kgf commented on #198
We hope to see you again on the other side. Thanks for the update, @nickgnd

[2016-10-24 21:04] #230 closed, assigned to nobody

[2016-10-24 21:16] kgf opened #255 "On the applicants view, show the application date"
Add a column after department for this date. This attribute is available on the Person model. You could use the duration column of the People/Active view as an example of adding a date to the datatables.

[2016-10-24 23:31] moritzsternemann commented on #255
On it 😄

[2016-10-25 07:05] Spandana-Sai commented on #254
@VanAuken so it means in even table one more column should be there with name choices right? Please let me know. Work in progress

[2016-10-25 07:22] Spandana-Sai commented on #254
@VanAuken Need a dropdown with choices (inturn nothing but events with category template) so we need to add column in the event model with choices and save event id in it.....am I thinking in the right way? can you please confirm so that I can move forward

[2016-10-25 07:55] Spandana-Sai commented on #20
checking issue

[2016-10-25 10:23] kgf commented on #20
Thanks for all your help.

[2016-10-25 10:30] kgf commented on #254
Not exactly, and I need to change it slightly anyway.
Right now, you can enter an event and give it a category of meeting, training or template. At the time @VanAuken wrote this, that seemed correct, but it isn't! We need to remove that choice, and instead have a different attribute on an event, a boolean that says `is _template`.
Then we can move to this issue. This is looking for a ui change on

[2016-10-25 15:12] kgf opened #259 "Create a service object to adjust times."
Given a start time and an end time, it should adjust them.
It should first remove the seconds and microseconds so we don't move times falsely.
It should adjust the start time to the nearest quarter hour after the the time given.
It should adjust the end time to the nearest quarter hour before the the time given.
If either time is already on the quarter hour, it should do nothing.
All times returne

[2016-10-25 17:47] abrophy commented on #259
I'd like to give this a go :raised_hand:

[2016-10-25 18:55] kgf commented on #259
That would be great, thanks for your help !
Let us know if you have any questions.

Kevin

[2016-10-25 19:02] kgf opened #260 "Create a service object that will copy all tasks and requirements from one event onto another"
This service object should take events. The template event should be expected to be persisted, with a start time and multiple tasks and requirements. The new event should have a start time. If the template task has a start time, you should calculate the delta from the template event to the template task, then apply it from the new event start time.

If you have questions, please ask.
Thanks for yo

[2016-10-26 02:06] #128 closed, assigned to nobody

[2016-10-26 02:21] #252 closed, assigned to nobody

[2016-10-26 02:27] #255 closed, assigned to nobody

[2016-10-26 03:17] Spandana-Sai commented on #20
My Pleasure @kgf

[2016-10-26 03:50] andrew-schutt commented on #22
Hello @kgf this pull request still need some work?  I see that you referenced an closed a couple other associated issues with this one?  Just wanted to double check before trying to start work on this issue.  Thanks!

[2016-10-26 10:40] kgf commented on #22
Yes, I believe it still needs help. It does not create an enough tasks requirements notifications for example.

Thanks for your interest

[2016-10-26 13:19] #10 closed

[2016-10-26 19:28] kgf commented on #154
@david135 I think you closed this as part of requirements, right ?

[2016-10-26 19:29] kgf commented on #161
fixed by #225

[2016-10-26 19:29] #161 closed, assigned to nobody

[2016-10-26 19:32] kgf commented on #148
The bulk of this issue was accomplished by #205
The rest is too vague in this issue, and new smaller issues should be created. Therefore, I'm closing this.

[2016-10-26 19:32] #148 closed, assigned to kgf, amandamunoz

[2016-10-26 19:38] kgf commented on #147
Timecards should be modified to this schema:
t.integer  "person_id"
t.string   "category"
t.datetime "start_time"
t.datetime "end_time"
t.decimal  "duration",   precision: 7, scale: 2
t.text     "comments"
t.text  "status"
t.string   "error_code"
t.string   "description"
t.datetime "created_at",                                  null: false
t.datetime "updated_at",

[2016-10-26 23:02] amandamunoz opened #262 "Manage notification statuses in controller"
Users can only choose `Pending`, `Active`, or `Canceled`. A new Notification can only be changed to `Pending` or `Active`. A `Pending` one can only move to `Active` or `Canceled`. You could capture the state machine in a hash, using the current state as the key, and the possible transitions as the values. (Originally commented on https://github.com/ReadyResponder/ReadyResponder/pull/205)

[2016-10-27 01:35] kgf commented on #262
Thanks for your help.

[2016-10-27 04:24] swaathi commented on #262
I can work on this. :)

[2016-10-27 10:48] kgf commented on #262
@swaathi thanks for your interest.
@amandamunoz has already claimed this issue, which makes sense, since she has done other work in this area. I would not want you to waste your time. Perhaps #237 or #254 could interest you ?
I hope you'll join our project.
Thanks,
Kevin

[2016-10-27 10:56] swaathi commented on #262
Oops. That sounds smart. :) Let me see what #237 and #254 is about! :)

[2016-10-27 13:19] kgf commented on #262
Great @swaathi . If you have any questions, feel free to ask. If you have a certain area of software development you're interested in, let me know. We probably have an issue in that area ! (Even if I haven't entered it yet...)

Thanks,
Kevin

[2016-10-27 14:48] kgf commented on #198
@abrophy  any questions ? any progress ? Perhaps an interim PR ?

Thanks for your help.
Kevin

[2016-10-27 15:43] swaathi commented on #262
I love optimizing stuff. If you have any module you need refactoring, I'd be glad to help. :)

_
Swaathi K
CTO, Skcript

[2016-10-27 15:55] david135 commented on #154
Correct, though until we have assignments, they are stubbed, and not fully-functional.

[2016-10-27 15:55] #154 closed, assigned to nobody

[2016-10-27 17:11] kgf opened #263 "Refactor partial availability"
This does currently work, but I suspect it is not optimal. There is currently a bug in the four small status boxes showing the incorrect value.
The ideal PR would include tests.
If an Availability start time is less than or equal to the start time of the query, and the Availability end time is equal to or greater than the end time of the query, then it is "Available", Otherwise, I think it is unav

[2016-10-27 19:45] ivdma commented on #2
Should this also be printable and attachable to people like in #93 ? 😜

[2016-10-27 20:41] kgf commented on #2
Should certainly be printable, for use on a bulletin board, for example. As to attachable, might depend on how quick they are....

@ivdma Are you interested ? #93 still unclaimed...
Kevin

[2016-10-28 00:26] kgf opened #264 "Create a basic CRUD model for Settings"
This would include the all 7 resources.

Add the index view link under the `Admin` nav menu.

Thanks for your help.
Kevin

[2016-10-28 01:28] swaathi commented on #263
Thanks Kevin. Looking into this now.

[2016-10-28 01:57] kgf commented on #263
Great, thanks for your help.

[2016-10-28 02:03] swaathi commented on #263
When you said this,

There is currently a bug in the four small status boxes showing the incorrect value.

Do you know the scenario in which this happens? Does the seed file contain that data which causes this bug?

[2016-10-28 06:43] abrophy commented on #198
Sorry got distracted with that service object, will slam this out real quick

[2016-10-28 09:35] abrophy commented on #165
#198 needs the recipient model in order to link to person, according to the wiki

[2016-10-28 09:37] abrophy commented on #198
#266 is the other half of this relationship, according to the wiki it serves as the linking table between messages, persons, and notifications

[2016-10-28 09:40] abrophy commented on #260
I'd like to attempt this one as well ✋

[2016-10-28 10:56] abhishekbose87 commented on #264
Hi @kgf, Can I work on this issue ?

I plan to use rails scaffold to get the templates, so if there is an existing model which I could refer, I could remove unrequired stuff from scaffolding code.

[2016-10-28 13:22] kgf commented on #260
Wow, sounds great ! Thanks
Kevin

[2016-10-28 13:26] kgf commented on #263
Sorry, seeds.rb does not cause the bug. It could be related to the fact that we currently allow duplicate availabilities for the same time span. You can see the issue in the attached screen shot, which shows the entire availabilities table.
<img width="897" alt="screen shot 2016-10-28 at 9 23 14 am" src="https://cloud.githubusercontent.com/assets/2431417/19807989/9edac640-9cf0-11e6-8e88-2d34bfb13a

[2016-10-28 13:34] kgf commented on #264
That would be great, thanks.
If you look at the recent PR for requirements, it should have a lot of what you need. It shows examples of how to add the custom navigation buttons on the side nav.
https://github.com/ReadyResponder/ReadyResponder/pull/207

[2016-10-28 14:20] kgf commented on #208
For now, if there are two availabilities, "Unavailable" should win. We may re-visit this in the future, but I would like to get this issue advancing.
Plus, it's easier to explain !
Thanks for your interest,
Kevin

[2016-10-28 14:53] abhishekbose87 commented on #264
Can you mention the fields that will be present in the settings model ?

[2016-10-28 15:05] swaathi commented on #263
Awesome. This helps. Will try to fix it by Sunday. :)

_
Swaathi K
CTO, Skcript

[2016-10-28 15:17] abhishekbose87 commented on #243
The `Cancel` button works for me. It takes me back to the index page.

@kgf Were you able to replicate the issue ?

[2016-10-28 15:28] abhishekbose87 commented on #254
Hey @kgf , tell me if I understood this correct.

We need to add `is_template` field to `event` model to differentiate between a _template event_ and a _regular event_. And have a form field `template` for having the various templates as options.

Also, what would happen if somebody selected a template, would that create changes on the form. What is the requirement behind selecting a template.

[2016-10-28 16:13] kgf opened #269 "Implement a timeline for availabilities on events"
It would be very helpful to see Avaiulability graphically, rather than needing to read the text. Having something like this would be great. The top line should be the event, and then one row per available person. No need to show unavailable.

https://fullcalendar.io/scheduler/

Thanks for your help.

[2016-10-28 16:14] kgf commented on #263
Thanks for your help !

[2016-10-28 16:18] kgf commented on #264
Sure, thanks for your help...
name
description
key
value
category Some way to group them.
status {Active, Inactive} Might have alternative API keys, some inactive, one active
required { Boolean } Signifs a setting which must be present for app to function properly.

They would mostly be string. Required => boolean, description => text.
If you have any other questions, please ask. Thanks for your h

[2016-10-28 16:20] kgf commented on #243
I have not had time to test. Working hard on the texting integration. If it's working for you, I'll close this and re-issue if needed. Thanks for checking !

Kevin

[2016-10-28 16:20] #243 closed, assigned to nobody

[2016-10-28 16:25] kgf commented on #254
You have the basic idea. I want to be able to designate an event as a template. At fist, it was in the category, like meeting or training. But then I realized that was wrong, because then the event created from the template would not know what category to be.
So now I'm looking for a separate field on the form to designate "This is a template". There would be a second field, a drop down select, th

[2016-10-28 16:40] abhishekbose87 commented on #254
Thanks for explaining it to me 👍

I will send a PR for this one soon.

[2016-10-28 18:24] kgf opened #272 "Add comments as a distinct model to Person"
I am scoping this to only person to make multiple small issues.
Comments will be used on many models, such as items, tasks, pretty much everything. Most things will be `commentable`. I think it would be good if this was implemented as a Rails concern, so it could be easily added to additional models going forward. I am open to suggestions in that regard. There should be a table at the bottom of pe

[2016-10-28 20:28] kgf commented on #98
Fixed by #218

[2016-10-28 20:28] #98 closed, assigned to nobody

[2016-10-28 20:30] kgf opened #273 "Change JS to not give error on missing API key"
There is some JS that auto-populates the city and state form the zipcode, using some Google api call.s It requires a Google key. Currently, if the key is missing, it generates an error in the browser console. I would like to not have errors.

See #218  and issue #98

Thanks for your interest
Kevin

[2016-10-28 20:36] #237 closed, assigned to nobody

[2016-10-29 06:50] abhishekbose87 commented on #272
I would like to take a jab at this one.

[2016-10-29 06:57] abhishekbose87 commented on #269
Can we use the free license or do we plan to purchase one.

[code]

Ref: https://fullcalendar.io/scheduler/download/

[2016-10-29 06:59] abhishekbose87 commented on #273
I'd like to work on this one.

[2016-10-29 13:09] kgf commented on #269
Ready Responder is GPL licensed, so we can use option three.
Google also has a library in this area, I believe.

[2016-10-29 13:09] kgf commented on #272
Excellent, thanks for your help.
Kevin

[2016-10-29 13:11] kgf commented on #273
Great, thanks for your help.

Kevin

[2016-10-29 13:40] #198 closed, assigned to nobody

[2016-10-29 13:40] #259 closed, assigned to nobody

[2016-10-29 14:12] kgf opened #274 "TimeRounding service does not handle the last quarter hour correctly"
This line has an issue when the minutes are between 45 and 59.
The PR addressing this should include tests for this code.
The correct level of testing would be 4 contexts, one for each quarter of the hour, each with an assertion for the start time and an assertion for the end time.

Also see #265

https://github.com/ReadyResponder/ReadyResponder/blob/development/services/time_rounding_service.rb#L

[2016-10-29 23:12] abrophy commented on #274
I'll claim this one, as it was me who introduced the bug, if you don't mind

[2016-10-30 00:23] kgf commented on #274
Great, thanks for your help.

[2016-10-30 01:34] #165 closed, assigned to jasonsouza

[2016-10-30 01:44] kgf opened #275 "Add data table to Events for Notifications"
On the event show page, there are currently two tabs. This would be to add an additional tab. The tab should have a data table showing notifications for this event. You should use the same JS code used for the Availability listing on one of the other tabs.

[2016-10-30 01:48] kgf opened #276 "Add data table to Notification#show for Recipients"
This table would show the recipients associated with that Notification. You should use the same JS code used for the Availability listing on the Event#show view.

Thanks for your help.

[2016-10-30 12:58] #274 closed, assigned to nobody

[2016-10-30 13:17] swaathi commented on #263
No problem! I hope this addresses your bug. Feedback is welcome! :)

[2016-10-30 17:06] #254 closed, assigned to nobody

[2016-10-30 23:36] abrophy commented on #260
I'm assuming that the object should create and persist the new event along with its tasks and requirements, then return a reference to this new event.

What should the service object return if the template event isn't persisted?

[2016-10-31 00:29] kgf commented on #260
Your first assumption is correct.
It would be tough to get into the second situation. Until the template is persisted, it will not appear as a selection in the drop down in the new event. Feel free to throw an error.

[2016-10-31 20:08] jeffhos commented on #275
I'll work on this.

Question: I noticed there's a line in the `notifications#index` table that says "I need to allow info only Notifications".  Should that be converted to a `TODO`-type comment (or filed as an issue), or is it something that needs to remain in the template?

[2016-11-01 02:53] kgf commented on #275
A Todo style comment would be good.
Thanked for your help!
Kevin

[2016-11-01 21:16] kgf opened #282 "Add additional attributes to Notification"
The wiki details what should be there. Subject missing is a biggy, that's the message to send out !
https://github.com/ReadyResponder/ReadyResponder/wiki/Notifications

Thanks
Kevin

[2016-11-03 04:32] kgf opened #285 "Controller for Attendance chart does not return correct info"
It also makes a large number of db calls. Using group by may reduce that.

See PR #268

[2016-11-03 05:22] Spandana-Sai commented on #285
@kgf will work on this

[2016-11-03 05:24] Spandana-Sai commented on #285
@kgf will check this.

[2016-11-03 13:37] kgf commented on #285
Thanks for your continued support.

[2016-11-04 04:41] romangurovich commented on #282
I can take this one.

Adding these fields:
- subject:string
- body:text

Need clarification on the following:
- departments and divisions (serialize or join table ?) ( Future iteration )

- groups => Available, Unavailable, Unknown, (Assigned, in the future)

- channels => E-mail, Voice, Text

If groups and channels are strings, should we store them as lowercase, and determine how they're displaye

[2016-11-04 12:36] kgf commented on #282
@romangurovich it appears you have some knowledge around i18n ? If so, I am quite interested in your help. It has been on my radar, especially as I saw the folks putting in pull requests from around the world.
The departments can be a join. The divisions will be a bit tougher, we can leave that for a future effort. Divisions are a subset of a department.
Groups should store the string, it looks to

[2016-11-05 11:28] romangurovich commented on #282
https://github.com/ReadyResponder/ReadyResponder/pull/287

[2016-11-08 01:11] #275 closed, assigned to nobody

[2016-11-08 18:45] #282 closed, assigned to nobody

[2016-11-14 00:49] #264 closed, assigned to nobody

[2016-11-14 00:58] kgf opened #289 "Add CanCanCan restrictions to admin menus"
In this file, there is a section for the admin menu. Other menus have restrictions, the admin one does not.

app/views/layouts/_top_menu.html.erb

[2016-11-14 14:33] kgf opened #290 "Move action buttons to sidebar"
All actions should be in the sidebar, rather than at the bottom.

In this file
app/views/settings/show.html.erb
and this
app/views/settings/new.html.erb

And anywhere else for settings

[2016-11-17 21:26] anncolvin commented on #290
I'd love to take this one!

[2016-11-17 21:28] david135 commented on #290
Great!  Thanks for taking this on, @anncolvin.

[2016-11-18 17:57] kgf commented on #290
Yes, thanks @anncolvin . Let us know if you have any questions.

[2016-11-27 20:06] kgf opened #293 "Make the Org Chart menu choices dynamic"
The menu choices should be `All the departments that are active, and that have managing people true`
Obviously, this will require changes in the people_controller as well.

[2016-12-01 01:43] kgf opened #296 "Make sidebar actions use helper"
See #295 PR comments for this file `app/views/recipients/new.html.erb`

[2016-12-09 15:21] VanAuken opened #300 "Validation needed on ID code when creating event"
On form for New Event, the (user/entry personnel) can enter the ID code, however the code should be unique.
Validation is needed to warn / restrict (user/entry personnel) from entering a code that has already been used.
Duplication of a code could result in signing the (end user/volunteer) up for whichever event was first returned by active record rather than the event intended by the (end user/vo

[2016-12-10 03:57] kgf commented on #300
A few more details. Both Events and Notifications have `id_codes`. The validation would need to check both for duplicates. Also, this validation will also be needed on Notifications. Also, an id_code can be recycled once the event/notification is cancelled/complete/closed. Event then, to prevent confusion, they should probably wait six months or so before being valid again.

[2016-12-10 04:01] kgf commented on #300
Also, this line should be updated to only look at scheduled or in-session events
https://github.com/ReadyResponder/ReadyResponder/blob/development/app/models/event.rb#L85

[2016-12-10 04:36] kgf commented on #290
@anncolvin Are you having any success ? Do you have questions ?

[2016-12-10 04:40] #58 closed, assigned to nobody

[2016-12-10 04:42] kgf commented on #31
You would need to make the relationship between events and departments, add to the event form to allow someone to choose multiple departments, and finally, change this code to only return people who are in the departments.
https://github.com/ReadyResponder/ReadyResponder/blob/development/app/models/event.rb#L68
Is this enough @Spandana-Sai ? Are you still interested ? This has become a high priori

[2016-12-11 05:28] Spandana-Sai commented on #31
@kgf Can you please let me know the deadline. I will be busy till this Dec 16. If you are okay with that I will resume work on 16th Dec and will submit the code.

[2016-12-12 03:32] anncolvin commented on #290
I just submitted a pull request. Please let me know if there are any issues with it.

[2016-12-20 20:43] kgf commented on #290
Closed by #302
Thanks for your help @anncolvin

[2016-12-20 20:43] #290 closed, assigned to nobody

[2016-12-20 21:53] kgf opened #304 "Event#upcoming should not show events from the past"
Currently, this line does not filter out events from the past, instead relying on status. This should be changed to filter where end_time is in the past.

https://github.com/ReadyResponder/ReadyResponder/blob/development/app/models/event.rb#L29

[2016-12-22 02:40] pcai commented on #293
I'm happy to take a shot at this if it's still up for grabs.

[2016-12-22 03:46] kgf commented on #293
It is, thanks. I'll try to update the ticket with better details.

[2016-12-22 15:54] #31 closed

[2016-12-23 19:52] VanAuken opened #305 "'New Person' vs. 1.9.1 not working"
From top menu: People - New Person ...returns error message:
"We're sorry, but something went wrong.
If you are the application owner check the logs for more information."
version 1.9.1

[2016-12-23 19:56] VanAuken commented on #305
From top menu:  Reports - Attendance Sheet .... also returns the same error message.  The two may be related.

[2016-12-23 23:59] kgf commented on #305
I could not reproduce the New person issue on the HEAD of development branch. I _could_ reproduce the attendance sheet issue. @VanAuken could you please create a new issue for the attendance sheet ?
I'll leave this open with a tag until the next deploy, then we'll verify it's fixed in production.

[2016-12-26 09:37] Spandana-Sai commented on #305
@kgf Added code @department = Department.where(shortname: "BAUX").first is causing error as there is no BAUX  by default in database. Can you please let me know reason behind hard-coding so that I can fix the issue.

[2016-12-27 15:04] kgf commented on #305
@Spandana-Sai Thanks for taking a look at this. I'm not sure if this is the cause of the issue, but I certainly do not like the hard coded references, but needed to get things working. I would appreciate it if you could take a look at removing them for the two reports, org chart and attendance sheet. I would like them to be dynamic based on the departments. If you take a look at @pcai work here, I

[2016-12-31 02:13] DJG86g opened #306 "person image not displaying properly"
uploaded image and it was uploaded successfully and it is not showing the image. it shows a broken image link and the name of file.

[2017-01-01 01:16] houhoulis commented on #306
Thanks @DJG86g !  I am seeing the same problem.

I'm not sure where you saw this behavior, or how many filenames you tested with.  But I can see a routing error locally if I use a file with dots in its name, such as "`Pic 2017-01-01 at 10.10.10am.png`".  With the routing error, I see the filename in the browser rather than the picture, as you reported.

This appears to be Rails behaving as designe

[2017-01-03 01:15] kgf commented on #306
Thanks for the info @houhoulis I also like the hash approach, as an additional layer of security. If someone did gain access to the filesystem, they could not predict the names, nor match names to faces.

[2017-01-04 00:46] houhoulis opened #307 "db/schema.rb is out of sync with migrations again"
We haven't yet located and committed all the migrations necessary to produce the currently-checked-in `db/schema.rb`.

This means that people with existing schemas will find local changes once they run migrations to catch up to recent changes on development.

Here are all the things that are missing between the current migrations and the current `db/schema.rb` :

[code]

The vast majority of these

[2017-01-05 16:21] kgf commented on #306
Update on the initial issue, it resolved itself. This was probably due to the thumbnail not being generated yet.

[2017-01-06 00:11] masukomi opened #310 "Info Message about an event"
We need a new `msg` object that responds to the "INFO" codeword.

This should provide information about the event in question.

revised version
[code]

----------------------------------------------------
initial version
[code]

If Scheduled, Available, or Partially Available have no associated people it should just say "NONE"

[2017-01-06 03:44] kgf commented on #310
This may need to be two different verbs. `info` would give event meta data. That looks like a lot of info for a text message.  The second might be `roster codeword available` which would give you a list of all the available people.

[2017-01-07 00:05] houhoulis commented on #306
I don't know where @DJG86g observed the bug initially, and/or whether @kgf is referring to the same environment, but the problematic behavior seems easy to reproduce.  Use a file with dots in its name, such as "`Pic 2017-01-01 at 10.10.10am.png`".

@kgf , are you saying you do not see the same problem?  (If so, I wonder if the behavior is specific to certain operating systems.)

[2017-01-08 05:35] kgf commented on #306
That is correct, the production example is no longer broken. I will test it again on Sunday. Thanks for looking into it. Either way, we should deal with the period issue.
Kevin

[2017-01-08 21:03] pragyajalan commented on #304
https://github.com/ReadyResponder/ReadyResponder/pull/312

[2017-01-09 00:11] kgf commented on #305
Here is almost the actual error message from the logs
[code]

[2017-01-14 03:50] dacharyc opened #313 "No validation between application date and start date"
Creating some dummy people for my local instance, and I noticed:

I entered an application date of: 2017-01-13
And I entered a start date of: 2006-08-16

RR did not complain about the fact that the start date is before the application date.

The "Duration" is calculated appropriately from the start date, not the application date.

[2017-01-15 16:02] dacharyc opened #316 "Bad URL when creating new title after creating new title"
I created a new title, was taken back to the title page, and clicked the new title button again...

This time, there's a .3 in the URL that shouldn't be there.

<img width="434" alt="screen shot 2017-01-15 at 11 00 25 am" src="https://cloud.githubusercontent.com/assets/1308377/21964013/03edb2b8-db12-11e6-9f27-2dc4b21fb95a.png">

[2017-01-15 16:05] dacharyc commented on #316
Did this again to try to recreate...

After you create a new title, you're taken into a page that has details about that title. From there, you can click the New Title button to create a new title. This is where the .X seems to be happening.

<img width="525" alt="screen shot 2017-01-15 at 11 03 26 am" src="https://cloud.githubusercontent.com/assets/1308377/21964040/73e19490-db12-11e6-9abe-a496b9c

[2017-01-15 16:20] kgf opened #317 "Add "Notify with Acknowledgement" as a new notification type"
This will require the notification to have a codeword so that people can respond directly to the notification. It will also require a new SMS action "Acknowledge" so that folks *can* acknowledge.

["Notify with Acknowledgment", "Acknowledgment"]

[2017-01-15 17:48] kgf opened #318 "Add "Assignees Only" as a new filter for notifications."
This would only be sent to people who have been given an assignment.

It would be similar to the current selection that filters by department.

[2017-01-15 17:56] kgf opened #319 "On event show page, Unknown table does not show division1"
It should show the division1 attribute value

[2017-01-15 17:59] kgf opened #320 "The top menu navigation includes drop-downs, which should be removed"
Most of the additional items are things like *New Event*, but you shouldn't create a new event until you've verified that it does not already exist. Also, this would make the UI more consistent.

[2017-01-15 18:07] kgf opened #321 "When looking at the target of the Events link, too many are shown"
By default, it should only show events that are scheduled or in-session. Getting old events should be an additional action. The additional action should appear as a blue button on the left side navigation..

[2017-01-15 18:32] dacharyc opened #322 "Top nav menu implementation hides the top of the page"
The top nav menu implementation is cutting off the top of the page. This is an issue when I use anchor tags in the Help documentation, because when you click on a link to an anchor tag (which in this case is tied to a header), the text (header) is hidden behind the top nav menu bar instead of below it.

This is what I see when I click an anchor tag:
<img width="1093" alt="screen shot 2017-01-15 at

[2017-01-18 03:30] kgf commented on #293
If you look at how the `People` menu is implemented, this may be similar.
Right now, when you request an orgchart, it only shows one department. It would be better if there were a sub-menu, and you could select which department. If you created a new department, AND selected that it managed people, then that new department would begin appearing as a choice for the orgchart.

The orgchart itself sho

[2017-01-18 04:25] pcai commented on #293
Thanks @kgf - I didn't realize the referenced menu didn't exist yet. That sounds straightforward enough though. I opened PRs for a few fixes that were blocking me, will revisit this once those are merged.

[2017-01-20 02:00] #310 closed, assigned to masukomi

[2017-01-20 02:04] kgf commented on #320
Resolved by #326

[2017-01-20 02:04] #320 closed, assigned to kgf

[2017-01-20 02:04] kgf commented on #319
Resolved by #326

[2017-01-20 02:04] #319 closed, assigned to nobody

[2017-01-20 02:06] kgf commented on #307
I believe this is resolved by #308.

[2017-01-20 02:06] #307 closed, assigned to kgf

[2017-01-20 02:08] kgf commented on #289
Resolved by #326

[2017-01-20 02:08] #289 closed, assigned to nobody

[2017-01-20 02:09] kgf commented on #231
Resolved in #298

[2017-01-20 02:09] #231 closed, assigned to nobody

[2017-01-20 02:11] kgf commented on #200
Resolved by #308

[2017-01-20 02:11] #200 closed, assigned to kgf

[2017-01-20 02:15] kgf commented on #228
This is resolved, you can now enter a comma separated list.

[2017-01-20 02:15] #228 closed, assigned to nobody

[2017-01-20 02:16] kgf commented on #260
@abrophy Would you still be willing to work on this ?

[2017-01-20 02:17] kgf commented on #155
This is now present on development !

[2017-01-20 02:17] #155 closed, assigned to david135

[2017-01-20 02:50] sergeimellow commented on #321
I just took a look at this, does this solution suffice?
https://github.com/ReadyResponder/ReadyResponder/pull/328/files

[2017-01-20 04:12] kgf commented on #276
This is resolved

[2017-01-20 04:12] #276 closed, assigned to nobody

[2017-01-20 04:14] kgf commented on #304
Resolved by #312

[2017-01-20 04:14] #304 closed, assigned to pragyajalan

[2017-01-20 04:16] kgf commented on #321
If you could just resolve the issue with having the same page title, that would work.
Thanks

[2017-01-20 04:18] kgf commented on #22
I'm going to close this, as it's too vague. I will create additional issues for specific missing models.

[2017-01-20 04:18] #22 closed

[2017-01-20 12:40] kgf commented on #321
Resolved by #328

[2017-01-20 12:40] #321 closed, assigned to nobody

[2017-01-21 01:27] kgf opened #329 "When sending "available custom" system returns an error with the help text."
This is the SMS response
Error! Sample => unavailable custom 2016-11-23 00:01 2017-12-31 17:00 Leave of absense <= undefined method  join' for nil:NilClass
Did you mean?  JSON

[2017-01-21 01:33] kgf opened #330 "Availability table on person show has no links"
When you are looking at a person, there is a table showing all the availabilities for that person. This is a static list, without links or buttons. The first column, which is the status, should be a link to the availability. There should be an edit button as the last column.

Also, this table does not have the common color coding. It should be green for available, red for unavailable, and grey for

[2017-01-23 12:40] kgf commented on #285
@Spandana-Sai will you be able to check in this? Thanks for your help.

[2017-01-23 12:42] kgf commented on #214
I'm going to close this for now. There are many other UI areas that are of higher priority, and the current blue actions flow nicely on a cell phone.

[2017-01-23 12:42] #214 closed, assigned to nobody

[2017-01-23 12:44] kgf commented on #272
@abhishekbose87 did you have any success? Do you have questions?

[2017-01-25 00:05] kgf opened #331 "Events must have an id_code"
If events do not have an id_code, people cannot show availability for them easily. Also, it must be unique.

[2017-01-25 00:28] kgf opened #333 "Availabilities tables on events don't show the phone numbers"

[2017-01-25 00:36] kgf commented on #333
This was previously resolved

[2017-01-25 00:36] #333 closed, assigned to kgf

[2017-01-26 01:34] kgf opened #335 "Setting status should be a selection list"
The only two values should be "Active" and "Inactive"

[2017-01-26 01:35] kgf commented on #335
There is already a constant for the values
https://github.com/ReadyResponder/ReadyResponder/blob/development/app/models/setting.rb#L5

[2017-01-26 02:09] kgf opened #336 "Need to remove phone number hack"
This was put in to match the data in a production system. That data has now been corrected, and this can be removed.

Validation should be added to ensure phone numbers are entered correctly.

https://github.com/ReadyResponder/ReadyResponder/blob/development/app/models/person.rb#L107

[2017-01-26 02:12] kgf opened #337 "Remove "SAR" column from people view"
This column is too specific for a general view. You will need to update the JS to make the datatables continue to work.

[2017-01-27 01:13] kgf commented on #330
Addressed by #334

[2017-01-27 01:13] #330 closed, assigned to nobody

[2017-01-27 01:21] kgf commented on #331
Resolved by #332

[2017-01-27 01:21] #331 closed, assigned to nobody

[2017-01-30 18:58] kgf opened #339 "Upcoming events should not show cancelled events"
This refers to when someone sends in a text `Upcoming`. It should not return cancelled events.

[2017-01-31 00:56] kgf commented on #339
This was a false report. This is already the behavior.

[2017-01-31 00:56] #339 closed, assigned to nobody

[2017-01-31 02:32] kgf opened #341 "Improve department controller from an F"
May be low hanging fruit, but that's OK too.

[2017-01-31 03:32] kgf commented on #300
I'm going to close this, as it had been completed. I'll open a new ticket just for notifications

[2017-01-31 03:32] #300 closed, assigned to nobody

[2017-01-31 03:34] kgf opened #343 "Validation needed on id_code for notification"
Both Events and Notifications have id_codes. The validation would need to check both for duplicates.
Id_code is optional for a notification, but if present, must not be a duplicate.
Also, an id_code can be recycled once the event/notification is cancelled/complete/closed. Even then, to prevent confusion, they should probably wait six months or so before being valid again.

[2017-01-31 03:41] kgf opened #344 "Timecard model needs concurrent events method"
This would be an instance method. If the timecard has a start and end time, calling this should return an array of events that overlapped. If a time is missing, it should return an empty array.

The is a method on availabilities that may help.

[2017-02-01 02:04] VanAuken opened #345 "Item Type needs description field"
Item Type needs description field

[2017-02-01 02:10] kgf opened #346 "Add an image to Item_type"
It is always nice to know what you're looking for ! This is in addition to the image on an individual item.

You can look to the item model for an example.

[2017-02-01 02:38] VanAuken opened #347 "Add model 'Item Category' to Department"
Add model '**Item Category**' to **Department**.
A Department has many Categories.  A Category has many item types.
Item Category Fields: Name, Status, Description

This will allow items to be divided in a logical way by the end users.  It is expected that the total number of categories may be 10 -20, but that will simplify views for the user.

[2017-02-13 14:26] kgf commented on #341
Addressed by #342

[2017-02-13 14:26] #341 closed, assigned to kgf

[2017-02-13 14:27] kgf commented on #347
Addressed by #348

[2017-02-13 14:27] #347 closed, assigned to kgf

[2017-02-14 03:00] kgf commented on #305
There was a data issue around old phone records

[2017-02-14 03:00] #305 closed, assigned to nobody

[2017-02-16 19:00] kgf opened #354 "Availabilities need "cancelled" as a possible status."
And the queries and scopes need to respect that.

[2017-02-16 22:09] masukomi opened #355 "phone numbers should better support internationalization."
# Proposal

* undo the `+1` stuff.
* store the country for users (when creating the user) Use whatever country code format Twillio is using.
* have a map of country codes (like us) to phone number country codes (`+1`)
* when a message is sent to twillio it takes the number with no prefix, looks up the prefix in the map and prepends it...thus giving twillio the `+1` it wants.
* when a message comes

[2017-02-17 01:08] kgf commented on #336
Closed by #338

[2017-02-17 01:08] #336 closed, assigned to kgf

[2017-02-17 01:13] kgf commented on #335
Closed by #340

[2017-02-17 01:13] #335 closed, assigned to kgf

[2017-02-17 01:24] kgf commented on #147
Remove link from Timecard to Event

[2017-02-18 02:04] masukomi opened #358 "Keywords should be case insensitive"
Upon creation they should be downcased (before save hook). When received they should be downcased before lookup

[2017-02-23 00:46] VanAuken opened #359 "Person status does not update Availability"
If an availability has been entered for a person for an event, and the person's status changes to inactive, they continue to appear as available for the event.

Their availability should not be returned at all if they are inactive.

Code wise: needs to be scoped to active people
https://github.com/ReadyResponder/ReadyResponder/blob/development/app/models/event.rb#L71

[2017-02-23 00:51] VanAuken opened #360 "Edit Availability does not include original person when being edited"
Edit Availability returns the time/dates but not the person if the person's status had changed.
This will affect cases of editing history after a person's status changes.

[2017-02-23 01:01] VanAuken opened #361 "Return to Listing button works as back on Person"
Return to listing on person works as back instead of returning to listing.
In case of editing person, after saving changes, return to listing reopens edit rather than going to list.

[2017-02-23 01:05] VanAuken opened #362 "Improve Code Quality for Titles Controller"
Currently an F in code climate

[2017-02-24 03:51] annadolan commented on #361
I was able to reproduce the bug locally, I'd like to take this on if it's available! I need a little info though, it's unclear where "return to listing" should actually direct to.

[2017-02-24 15:24] kgf commented on #361
It should return to the list of people ( The index action ). Back would be even better, but it needs to return to whatever was _before_ the edit, if that makes sense.

Thanks for your interest and help !

[2017-02-24 17:36] annadolan commented on #361
@kgf Thanks for the clarification! I'll work on linking back and fall back on linking to index.

[2017-02-24 21:19] kgf commented on #362
Thanks for your help @VanAuken

[2017-02-24 21:19] #362 closed, assigned to VanAuken

[2017-02-24 21:31] kgf opened #364 "Notification needs access control"
Need to add `load_and_authorize_resource` to enable CanCan

[2017-02-24 21:42] #364 closed, assigned to kgf

[2017-02-24 22:54] VanAuken opened #366 "Improve Code Quality for features authorization"

[2017-02-26 00:09] kgf opened #369 "Need Assignment CRUD"
Surprisingly (to me) there is no issue around this work.

Assignments belong to Person
Assignment belongs to Requirement

Assignment has a start_time and an end_time
Assignment has a status [New, Notified, Acknowledged, In-progress, Completed, Cancelled]
Assignments have a duration in fractional hours.
Assignments have timestamps
Assignments have paper_trail

[2017-02-26 00:20] kgf commented on #361
Resolved by #368

[2017-02-26 00:20] #361 closed, assigned to nobody

[2017-02-26 00:21] kgf commented on #360
This is if the person's status changed from Active to Inactive.

[2017-02-26 16:15] #345 closed, assigned to nobody

[2017-02-26 16:28] kgf opened #372 "Availabilities are not unique for one person"
Currently, as of v2.2, someone can send in a text message and create an availability. This works well.

But what happens when they send in another ? It simply adds it without considering what is already in the system. For example, let's say Matt Udy sends in that he's available for Monday, noon to five. He later finds out he has to work, so he sends in `Unavailable` for the same time period. The s

[2017-02-26 21:18] antciccone commented on #313
great! I'll take a look at this.

[2017-02-26 21:23] abrophy commented on #359
I corrected this by adding an 'active' scope to availabilities, that filters out availabilities for people that are inactive.

I could use your input on whether you'd like this scope to have another name, or have it done some other way.

[2017-02-26 21:37] abrophy commented on #372
How about a cancel_duplicates method on the availability model that searches for all previous availabilities with the same timespan and sets their status to Cancelled.

Put this method in before_create for availability?

[2017-02-26 21:42] #359 closed, assigned to nobody

[2017-02-26 21:45] kgf commented on #372
That seems like a good start. We can re-use for_time_span method of availabilities.

In this iteration, I only want to cancel if the times match precisely. (BTW, we only go to quarter hour increments, so time should only be that precise. )

[2017-02-27 17:41] kgf commented on #313
@antciccone if you have time, could you please include adding some more people to the seeds rb file?
Thanks for your help!

[2017-02-28 00:14] kgf opened #375 "text command upcoming should only show events appropriate for viewer"
Currently the text message 'upcoming' to the system returns all future events regardless of whether the person is not eligible for working the event.
Example a CERT person will see events which should only be shown to MRC personnel.

[2017-03-06 16:00] kgf opened #378 "If someone is available after the end time of an event, they are shown as partially available"
If an event is from 1800 until 2300, and someone has availability of 1800 until 2345, it will be correctly shown in the boxes as available, but in the table it will be shown as partially available.
![screen shot 2017-03-06 at 10 58 20 am](https://cloud.githubusercontent.com/assets/2431417/23617702/ed556318-025b-11e7-9ef2-57994ee275b7.png)

![screen shot 2017-03-06 at 11 00 31 am](https://cloud.git

[2017-03-08 01:20] kgf opened #380 "Timecards managed via text message"
Currently, timecards can be entered via the web UI. This creates the need for someone to do the clerical data entry. It would be much better if each individual volunteer could enter their own timecard through a text message.

People would text `arrive` to the ReadyResponder number when they arrive at the staging area. The capitalization should not matter. Upon receiving this message, the system sh

[2017-03-08 01:36] mxie commented on #316
I'll take this one!

[2017-03-08 04:03] #316 closed, assigned to nobody

[2017-03-14 08:47] abrophy commented on #346
see [#384](https://github.com/ReadyResponder/ReadyResponder/pull/384/commits)

[2017-03-22 14:01] #380 closed, assigned to pcai

[2017-03-31 20:38] #346 closed, assigned to nobody

[2017-04-25 21:07] kgf opened #392 "Show multiple sets of status boxes for events"
This is referring to these boxes
![screen shot 2017-03-06 at 10 58 20 am](https://cloud.githubusercontent.com/assets/2431417/25407720/650c42ba-29d9-11e7-9fd6-eca63844b774.png)

In events, the status boxes are quite helpful for knowing how an event is staffed. Currently the event shows only one set, which can be inadequate for events with several departments responding. This issue is a request for

[2017-05-06 15:31] VanAuken opened #395 "In Person - Availabilities view, sort by start time is wrong"
In Person #Show - Availabilities section, sort by start time: sorts time/date as string, ordering the entries by first digits.
Oddly enough, sort by end time works correctly.

[2017-05-06 15:37] VanAuken opened #396 "In View Person Timecards - there is no column sort"
In View Person Timecards - there is no column sort.  The table shows the entries randomly.

[2017-05-06 16:37] VanAuken opened #397 "On event, remove template from category choices"
Events have categories, such as Meeting or Admin. Being a template is a different question, and has a seperate field. `Template` should not be a choice.

[2017-05-08 21:26] itroman commented on #397
Happy to work on this if it's still up for grabs.

[2017-05-09 19:59] kgf commented on #397
That would be awesome, thanks for your help !
If you have any questions, please ask.

[2017-05-11 11:02] kgf commented on #397
Closed by #398
Thanks, @itroman !

[2017-05-11 11:02] #397 closed, assigned to nobody

[2017-05-11 21:30] kgf commented on #358
Closed by #401

[2017-05-11 21:30] #358 closed, assigned to nobody

[2017-05-11 21:31] kgf commented on #354
Addressed by #400

[2017-05-11 21:31] #354 closed, assigned to kgf

[2017-05-13 21:26] VanAuken opened #403 "When entering new person, if status is blank, info is lost on attempt to save"
When entering new person, if status is blank, info is lost on attempt to save.
When Validation for status fails, error message appears with blank form.

[2017-05-13 23:39] kgf commented on #147
This was closed by 357

[2017-05-13 23:39] #147 closed, assigned to kgf

[2017-05-13 23:42] kgf commented on #369
Closed by 386

[2017-05-13 23:42] #369 closed, assigned to kgf

[2017-05-13 23:43] kgf commented on #366
Sorry, this is ambiguous...

[2017-05-13 23:43] #366 closed, assigned to nobody

[2017-05-13 23:47] kgf opened #404 "Add assignment to CanCan ability class."
This will allow editors to create assignments

[2017-05-15 23:56] VanAuken opened #405 "Show Items needing repair on the inventory home page"

[2017-05-16 16:24] #372 closed, assigned to nobody

[2017-05-17 16:13] kgf commented on #404
Closed by #406

[2017-05-17 16:13] #404 closed, assigned to VanAuken

[2017-05-17 16:14] kgf commented on #344
Closed by #402

[2017-05-17 16:14] #344 closed, assigned to nobody

[2017-06-30 20:53] kgf opened #409 "When looking at Titles, the show form does not show the skills"
You need to go into the edit screen to see which ones are selected.

[2017-07-20 19:05] kgf commented on #337
Closed by #412

[2017-07-20 19:05] #337 closed, assigned to nobody

[2017-07-22 00:00] DJG86g opened #414 "status,name and description are the three most important for availability"
when looking at an event in the availability tab on a narrow screen these three should be the last to disappear this can be accomplished using the data tables options.

[2017-07-24 12:17] kgf commented on #306
This came up again recently. I now believe this may be related to permissions. Will need to look at Ability class

[2017-07-24 12:20] kgf commented on #260
This was closed by #408

[2017-07-24 12:20] #260 closed, assigned to kgf

[2017-07-25 00:48] kgf opened #416 "When using a template to create an event, the wrong dates are used for tasks`"
This is because the tasks are duplicated. After duplication, the tasks should be given the dates from the new event.

[2017-08-05 17:30] kgf opened #420 "When looking at availabilities on an event, don't show cancelled"
The availabilities table on events shows a lot  of information. Showing cancelled availabilities is not all that useful. They should be hidden. They *should* be shown in the person show form.

[2017-08-05 18:20] pcai commented on #420
fixed in #421

[2017-08-05 18:20] #420 closed, assigned to nobody

[2017-08-06 02:20] kgf commented on #306
Based on this line, I wonder if PotraitUploader is the correct model to allow in Ability class.

https://github.com/ReadyResponder/ReadyResponder/blob/development/app/models/person.rb#L6

The reason I think is permissions is that I never see the issue as a manager level access, and others always see the issue.

This is the line that gives the manager the permission to see the potrait.
https://gith

[2017-08-06 02:34] houhoulis commented on #306
I identified a bug, which I described in [this comment](https://github.com/ReadyResponder/ReadyResponder/issues/306#issuecomment-269888392) above.  I gave instructions on how to reproduce it in [this comment](https://github.com/ReadyResponder/ReadyResponder/issues/306#issuecomment-271043348).  I can still reproduce it.

Perhaps @kgf you have identified a different issue.

[2017-08-06 03:19] kgf opened #424 "Datatable on Event index should default to sorting by start date"
Having it sort by title is silly....

[2017-08-06 18:56] kgf opened #426 "Events need to show they are a template more clearly"

[2017-08-30 01:23] kgf commented on #306
I have identified that we also need to add the `download` action for the person in the `app/models/ability.rb` file

[2017-08-31 01:58] kgf commented on #416
Verified in production, closed by #419

[2017-08-31 01:58] #416 closed, assigned to nobody

[2017-08-31 01:59] kgf commented on #424
Closed by #425

[2017-08-31 01:59] #424 closed, assigned to kgf

[2017-08-31 02:03] kgf opened #427 "Improve choices on notifications"
When creating a notification, do not show departments that are not listed on the event. Also, none should be checked by default.

When working on this, be aware that we'll probably make the link to an event optional.

[2017-08-31 20:12] kgf opened #429 "Improvements to file upload security"
The following is a quote from @houhoulis in issue #306. I would like to implement this, but #306 will be closed soon, and I did not want to loose track of this.

[2017-08-31 20:38] kgf commented on #317
This is closely related to #318

[2017-09-04 15:46] VanAuken opened #431 "Requirement form does not indicate Parent task"
Whena requirement is opened from a task, the form shows no indication of what the original task was.
This creates difficulties for the user is they are interrupted.

[2017-09-05 23:58] kgf opened #432 "Allow admin to verify timecards from the view"
Timecards are generally entered through SMS text messages. When they are completed, they are in an Unverified state. They stay there until a supervisor edits the record. I am hoping to change this to being able to Verify from the view. This button should be hidden based on Cancancan permissions. The button would change the status value from `Unverified` to `Verified`.

@goldenhub77 has offered to

[2017-09-06 00:33] kgf commented on #378
@danielstrimpel has offered to help.
Thanks !

[2017-09-07 17:01] goldenhub77 commented on #432
@kgf I sent a pull request to resolve this issue.

[2017-09-07 17:13] #306 closed, assigned to houhoulis

[2017-09-10 00:59] kgf commented on #432
Thanks for your help. I have commented on the PR

[2017-09-10 01:11] kgf opened #434 "Item needs a quantity attribute for simple items"
We have many items like radios and generators that we track individually. We record the serial number, etc.
But then there are other things we do not track as closely, like traffic cones and cots. One is just like the other.
Therefore, we need a qty field, integer, that can be used. It will frequently be `1`. It should always be `1` for serialized items, the ones we track serial numbers et al.

[2017-09-10 02:07] goldenhub77 commented on #432
@kgf I took your feedback and made the applicable changes. All tests have passed.

[2017-09-11 16:36] kgf commented on #432
Closed by #433

[2017-09-11 16:36] #432 closed, assigned to nobody

[2017-09-11 22:49] kgf opened #436 "Improve display on person#show"
Currently, if there are skills missing for someone trying to achieve a title, the are shown as a long unbroken list. Should be a `<ul>` instead

[2017-09-12 02:40] kgf commented on #434
Closed by #435

[2017-09-12 02:40] #434 closed, assigned to nobody

[2017-09-12 02:40] kgf commented on #436
Closed by #437

[2017-09-12 02:40] #436 closed, assigned to kgf

[2017-09-12 02:40] kgf commented on #431
Closed by #438

[2017-09-12 02:40] #431 closed, assigned to nobody

[2017-09-12 12:51] VanAuken opened #440 "On Person view, remove 'Return to Listing' button"
On Person view, 'Return to Listing', blue button on side navigation, is actually back, button will reopen edit if that was last action.

[2017-09-13 14:23] kgf opened #441 "On events#index, use check boxes to filter events"
This would be instead of using different query strings currently. The events listing is displayed in a datatable, which I believe provides some option for this.
There would be three checkboxes; current, past, templates

Would this interest you, @goldenhub77 ?

Feel free to ask questions...

[2017-09-13 14:33] goldenhub77 commented on #441
@kgf Yes I am interested, I will take a look later today and follow up.

[2017-09-13 22:59] kgf opened #442 "On person#index, show metrics on attendance"
This would consist of three columns, one for date of last response, one for date last responded available, and finally date last worked.

[2017-09-13 23:36] kgf commented on #378
Any progress, @danielstrimpel ? Any questions ?

[2017-09-14 01:49] ghost commented on #378
Hi Kevin,

Thanks for checking in. I haven’t managed to get to it yet. Tomorrow’s crazy but I plan to give it some attention on Friday, hopefully to fix it without too much trouble.

Thanks,
Daniel
-
Daniel Strimpel
dastrimpel@gmail.com <mailto:dastrimpel@gmail.com>
Blog: https://medium.com/@dastrimpel
Github: https://github.com/danielstrimpel

[2017-09-14 14:00] goldenhub77 commented on #441
@kgf I have some questions listed below:
1. When you are speaking about current and past events, will that being taking into consideration the date/time and status, just status, or just date/time?

2. Do you want me to completely separate the templates as they are technically not true events?(also I created a template as a test, but it does not appear to allow me to apply it when creating a new ev

[2017-09-14 16:37] ghost commented on #378
Hi Kevin,

I just tried to get it up and running locally. During bundle install, I had a problem with RMagic. The log file is:

find_executable: checking for clang... -------------------- yes

--------------------

find_executable: checking for Magick-config... -------------------- no

--------------------

find_executable: checking for pkg-config... -------------------- yes

--------------------

[2017-09-14 19:11] goldenhub77 commented on #378
@danielstrimpel I meant to add this to the install documentation last pull request. Imagemagick is a dependency for Rmagick. You must run 'brew update && brew install imagemagick' successfully before Rmagick can be installed.

[2017-09-14 21:15] kgf commented on #378
@goldenhub77 thanks for your help ! Did that resolve the issue ?

[2017-09-14 21:20] kgf commented on #441
@goldenhub77  templates can only be used if they have a status of 'In-session'. This is a bit of a landmine for the end user. Templates should have statuses of `Active` and `Inactive` only.
Currently past events would only be date/time, but that should already be defined here -=>
 https://github.com/ReadyResponder/ReadyResponder/blob/development/app/controllers/events_controller.rb#L7
The template

[2017-09-15 01:45] ghost commented on #378
I ran what you said.

Now, when I do bundle install, it fails to build the rmagick gem and says:
"Can't install RMagick 2.15.4. Can't find MagickWand.h"
-
Daniel Strimpel
dastrimpel@gmail.com <mailto:dastrimpel@gmail.com>
Blog: https://medium.com/@dastrimpel
Github: https://github.com/danielstrimpel

[2017-09-15 02:31] goldenhub77 commented on #378
@danielstrimpel  it turns out the most recent version of imagemagick is not compatible with the Rmagick gem version used in this app. run the following commands and let me know if it works now:
brew unlink imagemagick
brew install imagemagick@6 && brew link imagemagick@6 --force

[2017-09-15 02:36] goldenhub77 commented on #378
@danielstrimpel one additional note - run brew uninstall imagemagick first if you want to remove the most recent version you already installed.

[2017-09-15 15:00] goldenhub77 commented on #441
@kgf My tests require javascript and the current configuration is not working properly. I have fixed the issues so my tests will run but I wanted to make sure you were ok with me changing to the selenium-webdriver and chromedriver-helper to run JS tests instead of poltergeist as it is much more reliable.

[2017-09-15 15:47] goldenhub77 commented on #441
@kgf also please send me an invite to the slack channel.

[2017-09-15 18:22] ghost commented on #378
Successfully running the site locally now, thanks!

[2017-09-15 18:38] ghost commented on #378
Ran into another issue: I seem to get "access denied" for everything on the site. How do I give myself access? Should I just set my users role to be Manager?

[2017-09-15 20:08] goldenhub77 commented on #378
@danielstrimpel When you run rake:seed for the first time it returns to the console a manager email/password to login with full access. You can wipe the database and rerun those initial rake commands to get a new one if you need to.

Initial setup commands:
rake db:create
rake db:schema:load
rake db:seed
rake db:test:prepare

[2017-09-15 20:08] goldenhub77 commented on #378
@danielstrimpel To answer your second question yes you can just change your roles in Rails console if you prefer.

[2017-09-15 21:45] kgf commented on #441
How do your changes affect the rest of the test suite ?
Send me the email you would like me to invite to kfallon@readyresponder.org

Thanks for your help.

[2017-09-16 21:14] goldenhub77 commented on #441
@kgf I sent a response via email, just let you know if you received it.

[2017-09-17 00:43] ghost commented on #378
Great thanks

[2017-09-17 01:20] ghost commented on #378
Submitted PR : https://github.com/ReadyResponder/ReadyResponder/pull/444

[2017-09-17 23:46] VanAuken opened #445 "In timecard edit form add "cancelled" as an option for 'status'"
Currently there is no cancel status available.

[2017-09-18 23:13] #445 closed, assigned to nobody

[2017-09-21 00:56] kgf opened #449 "When creating a new availability, it should cancel others shadowed."
Currently, a volunteer can text in that they are available using the ID code for an event, and that will be recorded as an availability with the same start and end times as the event matching that ID code. Note that there is no parent-child relationship between the two. If the volunteer then sends in another text saying unavailable, the first Availability will be found and it's status changed to c

[2017-09-21 12:16] kgf commented on #426
Looks like this will be part of #447

[2017-09-21 17:24] kgf opened #450 "Upgrade from Rails 4.2 to Rails 5.0"
We are currently on Rails 4.2. There are features we would like to develop that would be a lot easier using Action Cable and other features available in Rails 5. Therefore, we would like to upgrade.

Since I don't expect anyone to do the entire ticket, I have created a branch for this effort.
`upgrade_from_rails_4_to_rails_5` Any progress should be PRed against this branch.

A good place to start.

[2017-09-21 17:51] kgf commented on #450
This may also prove useful.
http://www.ready4rails.net/
https://stackoverflow.com/questions/38442248/how-to-upgrade-from-rails-4-2-6-to-rails-5-0

[2017-09-22 00:03] kgf opened #451 "On people#index, last availability and last response are using wrong dates"
Last response is using start_time rather than date created, which is when they really responded.

Last availability should use the last time, in the past, the person said they were available. Looking into the future is nogt as good, as they could still change their minds.

[2017-09-22 21:14] kgf opened #454 "On Event#show/availabilities, person should show title, not ID number"
Title is much more useful than the number.

[2017-09-24 11:19] xarlybovi opened #456 "Deprecated seeds"
Hi, I was setting up the project locally until this error executing `bundle exec rake db:seed`

I have replaced some finders acording to [the rails version](https://github.com/rails/rails/blob/4-2-stable/guides/source/active_record_querying.md#find_or_create_by) and now it works for me.

[2017-09-24 23:05] kgf commented on #456
Resolved by #457. Thanks @xarlybovi

[2017-09-24 23:05] #456 closed, assigned to nobody

[2017-09-25 14:44] ghost commented on #449
Yep, I'll take this.

[2017-09-25 14:47] danielstrimpel commented on #449
In trying to recreate the issue, I tried to create a new person on my local dev machine to have my phone number. However, it wouldn’t let me create a person on submit, saying ["Phones content is invalid”] even though all fields were filled in. I’d make an issue for this, but I want to make sure it’s not just happening on my local setup for some reason, and I haven't found where the production URL

[2017-09-25 14:55] ghost commented on #403
This seems to be fixed. JS validation kicks in before form submits, no info lost. Close this?

[2017-09-25 15:14] ghost commented on #449
In trying to recreate the issue, I found a bunch of problems with the New Person form.

- [ ] Complains about wrong phone info incorrectly and won't submit (so can't create new person with my phone number to test).
- [ ] Edit person has no fields for phone info ( so can't add my phone number to existing person)
- [ ] In phone info, label for number says “content” (should be "number")
- [ ] Status

[2017-09-25 23:13] kgf commented on #442
Addressed ( with a bug) in #443
The bug is tracked in issue #451

[2017-09-25 23:13] #442 closed, assigned to kgf

[2017-09-25 23:15] kgf commented on #403
Thanks for the update. This does seem to be fixed.
@VanAuken could you please test this ?

[2017-09-26 14:05] kgf commented on #449
It complains about wrong phone number because the hint is incorrect. The correct format is `+16175551212`, so that it can integrate with Twillio.

The second is a known bug, hasn’t risen to the top yet.

Number would be better over content

The invalid status is in case a number goes out of service. It not appropriate for a new record, but for editing, it’s good. And we found invalid more useful t

[2017-09-26 21:52] kgf commented on #378
Closed by #444

[2017-09-26 21:52] #378 closed, assigned to nobody

[2017-09-26 22:02] kgf commented on #329
PR is in.

[2017-09-26 22:07] kgf commented on #360
This line would need to change, and a test
https://github.com/ReadyResponder/ReadyResponder/blob/development/app/views/availabilities/_form.html.erb#L5

[2017-09-26 22:09] kgf commented on #273
@abhishekbose87 with Hacktoberfest coming up, perhaps you'd be interested in this again ?

[2017-09-26 22:11] kgf commented on #272
This work has been started, as can be seen here.
https://github.com/ReadyResponder/ReadyResponder/blob/development/app/models/comment.rb

[2017-09-26 22:16] kgf commented on #293
@pcai Does this still interest you ? Hacktoberfest is coming, I'm sure you need a new t-shirt !

[2017-09-26 22:21] kgf opened #460 "Correct Item#index to show Qty and item_type"

[2017-09-27 15:20] ghost commented on #449
Thanks for the info Kevin. FYI I have an urgent project to finish by the end of tomorrow, so won't get to RR stuff till then. Appreciate your patience.

[2017-09-27 15:34] kgf commented on #449
Hey, no problem. All help is appreciated, especially with good communication like this !

[2017-09-27 15:36] kgf commented on #2
@ivdma Are you still interested ? Tidying up in prep of Hacktoberfest

[2017-09-27 15:56] ivdma commented on #2
@kgf sure!

[2017-09-27 17:27] kgf commented on #2
Excellent, @ivdma  !
One key thing is that the implementation should generate the qr image locally, vs something like google charts.
Please note the license of any library you would like to use.
Thanks for your help !

[2017-09-27 21:58] phsacramento commented on #450
Doing

[2017-09-28 02:49] kgf commented on #450
Thanks for your help @henriquesacramento

[2017-09-28 03:38] pcai commented on #293
Sorry for the (long) delay. I opened a preliminary PR to check if I'm on the right path? Please see attached screenshots in 462.

[2017-09-28 08:18] abhishekbose87 commented on #273
Hi @kgf , I won't be able to contribute right now because of other engagements. Would be good if someone else picks this up.

[2017-09-28 11:26] kgf commented on #273
Ok, thanks

[2017-09-28 14:55] kgf opened #463 "Hide course and instructor on new event"
Unless the author chooses a category of `Training`. Then these should both appear.

[2017-09-28 14:56] kgf commented on #463
There _may_ already be some JS for this function, but it does not work, and can be removed.

[2017-09-28 17:57] kgf commented on #392
This may look slightly different now. There are now also blue boxes showing assignments, but it's still there same ticket.

[2017-09-29 02:40] kgf commented on #463
Addressed by #464

[2017-09-29 02:40] #463 closed, assigned to ThomasCarlson

[2017-09-29 14:08] kgf opened #466 "Transition `Event` menu to split drop down."
This would allow a single click to get you to current events, then a checkbox to look at recent events. Under the drop-down would be Templates and archives

[2017-09-29 14:08] kgf commented on #466
@goldenhub77 Thanks for your help.

[2017-09-29 17:20] kgf commented on #8
The library chosen should have a AGPL compatible license.

[2017-09-29 21:28] kgf opened #473 "Remove `skip` tag from JS feature spec"
This test is bypassed due to JS issues. When running this JS spec, we aren't logged in...

This should be tested first. Sean recently updated JS testing

https://github.com/ReadyResponder/ReadyResponder/blob/development/spec/features/events_spec.rb#L90

[2017-09-29 21:52] ThomasCarlson commented on #473
Just tested on top of the trunk development.  still failing.

[2017-09-29 21:54] kgf commented on #473
Thanks @ThomasCarlson

[2017-09-29 21:55] kgf commented on #329
Closed by #459

[2017-09-29 21:55] #329 closed, assigned to kgf

[2017-09-30 19:23] kgf commented on #427
Closed by #428

[2017-09-30 19:23] #427 closed, assigned to kgf

[2017-10-01 00:09] kgf commented on #451
Fixed by #452

[2017-10-01 00:09] #451 closed, assigned to kgf

[2017-10-01 00:16] kgf commented on #440
Removing the button will be an acceptable solution to this problem

[2017-10-01 00:29] kgf commented on #20
Sadly, while this did have the map, it does not function properly.

[2017-10-01 00:34] kgf commented on #318
This should also remove the selection of request for availability, as that filters to people who have not yet responded. This is not obvious.
It would need to also add selections for `Available` `Unavailable` and `Unknown Availability`

[2017-10-01 17:48] t2013anurag commented on #440
@VanAuken @kgf Can i take it?

[2017-10-01 18:24] kgf commented on #440
@t2013anurag that would be great, thanks

[2017-10-01 18:45] goldenhub77 commented on #466
@kgf FYI, PR has been submitted and still pending checks.

[2017-10-01 22:29] cesc1989 commented on #429
Hi @kgf I've got here following Hacktoberfest tags and I'd like to give this issue a shot.

Might have questions I'd let you know.

[2017-10-01 23:04] #409 closed, assigned to nobody

[2017-10-02 00:17] myrridin commented on #395
I took a shot at this with the above PR. It resolves the issue, though the `<time>` tag may have been providing functionality I'm unaware of.

I'm also not sure about including the database cleaner change with this, but I was unable to pass the test suite without that change.

[2017-10-02 01:29] kgf commented on #429
Great, we'd love the help !
No problem with the questions.

Thanks,
Kevin

[2017-10-02 01:31] kgf commented on #395
Thanks for your help. I'll take a look.

[2017-10-02 01:39] #395 closed, assigned to nobody

[2017-10-02 01:41] kgf commented on #405
This should use a datatable to show items that need repair. Ideally it should pull information from the repair record as well, to show what is wrong.

[2017-10-02 01:44] kgf commented on #396
There is referring to the person#show action. There are accordion elements on the show page. The bottom one is timecards for that person. This is the table that does not currently have sorting. It should default to sorting by date, with the most recent at the top.

[2017-10-02 01:51] kgf commented on #262
I believe this has been closed by other PRs

[2017-10-02 01:51] #262 closed, assigned to nobody

[2017-10-02 01:52] sa77 commented on #84
@kgf looks like an old issue opened in 2016 .. i would like to help out on this if it still open

[2017-10-02 01:53] kgf commented on #199
Current production systems are on AWS, which grants 60,000 msgs/month free.  Therefore, using the aws-ses gem on the first pass would be fine.
Eventually I would like to support other email providers, such as sendgrid or mailgun. Mailgun would be a front runner there, as it also has a free tier, which Sendgrid does not.

[2017-10-02 01:56] kgf commented on #110
There have been recent improvements to the `seeds.rb` so a first step in this would be to simply start with a fresh install, and see what was missing. For the purposes of Hacktoberfest, I would accept a PR that listed the deficiencies, especially if there was a corresponding issue created.

[2017-10-02 01:57] kgf commented on #94
@ChanChar do you still have any interest in this ? Perhaps you need this year's T-shirt !

Thanks
Kevin

[2017-10-02 02:00] kgf commented on #84
@sa77 That sounds great ! Do you have any questions ?

Thanks for your help !
Kevin

[2017-10-02 02:03] sa77 commented on #84
@kgf i'm setting up the app for dev now .. i'll let you know once i get started.

[2017-10-02 02:03] kgf commented on #61
Feel free to ask questions. I suspect that this would involve CSS coding.

[2017-10-02 02:04] kgf commented on #84
If you notice anything missing from the seeds.rb, there is a separate issue for that. Might catch two with one effort !
https://github.com/ReadyResponder/ReadyResponder/issues/110

[2017-10-02 02:06] kgf commented on #15
This would be good to have !

[2017-10-02 02:58] ChanChar commented on #94
@kgf haha oh man time flies. yup, i'll tackle this one.

[2017-10-02 11:17] kgf commented on #94
Great, thanks.

[2017-10-02 15:56] #94 closed, assigned to nobody

[2017-10-02 15:56] kgf opened #480 "Inspection form should allow you to choose an inspector"
This is a follow-up to #94

[2017-10-02 15:58] kgf commented on #480
@ChanChar : Need another one ?

[2017-10-02 15:59] sa77 commented on #450
@kgf i can help out on this if it is not being worked on.
@henriquesacramento are you currently working on this ?

[2017-10-02 16:14] ghost opened #482 "New Person form, in phone information, label should be 'number' not 'content'"
In phone info, label for number says “content” . Should be number.

[2017-10-02 16:26] ghost opened #483 "Placeholder text gives wrong phone number format"
Form validates numbers with a + (country code) prefix, e.g. in US +15555555, but placeholder is not in this format.

[2017-10-02 16:36] kgf commented on #482
Any solution for this needs to NOT change the label for email.

[2017-10-02 16:38] kgf opened #485 "On person#edit, should be able to add additional phones"
Currently, you can not add additional ways to contact people. There is room for one phone, and one email. In fact, the backend structure supports unlimited channels.
The solution is to give people the ability to add a new channel beyond the existing two.

Fell free to ask questions.

[2017-10-02 16:39] ChanChar commented on #480
Sweet. Will tackle this one as well.

[2017-10-02 16:40] #84 closed, assigned to nobody

[2017-10-02 18:00] SGospodinov commented on #485
I'll be happy to take work on this one. I have the following questions:
1. Can I use additional gems namely https://github.com/nathanvda/cocoon?
2. Do you need this feature to be tested?

[2017-10-02 18:22] kgf commented on #485
Using that Gem is OK.
Tests are always good !

Thanks for your help !
Kevin

[2017-10-02 19:04] tegon commented on #483
Hi! Can I tackle this one?

[2017-10-02 19:25] kgf commented on #483
@tegon Sorry, there is already a PR in for it. If there is something specific you'd like to work on ( Front-end back-end ) I can probably point you to an issue.
Thanks for your interest
Kevin

[2017-10-02 20:18] #483 closed, assigned to nobody

[2017-10-02 21:40] kgf commented on #482
There is code here
https://github.com/ReadyResponder/ReadyResponder/blob/development/app/views/people/_channel_fields.html.erb
But I'm not sure it's still in use. There is also
https://github.com/ReadyResponder/ReadyResponder/blob/development/app/views/channels/_form.html.erb
that I think is in use, by both the phone and the email.

[2017-10-02 21:41] kgf commented on #460
Fixed by #461

[2017-10-02 21:41] #460 closed, assigned to kgf

[2017-10-02 21:48] tegon commented on #483
@kgf Sure thing, what do you have open for backend?

[2017-10-02 22:05] kgf opened #487 "An Item should know its inspection questions"
Currently an item can have an inspection, but it's kind of lame. All that's asked is the date and the current condition. What would be good would be to have a dynamic list of questions.
I would like the list of questions to be defined for each item_category, and also each item_type. In the future, an item may have more than one item_type in a tree structure. (An item_type may have other item_types

[2017-10-02 22:05] kgf commented on #487
@tegon, would this be of interest ?

[2017-10-02 22:11] kgf commented on #24
Closing this as a duplicate of #485

[2017-10-02 22:11] #24 closed

[2017-10-02 22:12] kgf commented on #296
This could also be resolved by removing the ability to directly enter `recipients`. they should be defined as part of a notification.

[2017-10-02 22:51] kgf commented on #313
@antciccone do you still have any interest in this ?

[2017-10-02 22:51] tegon commented on #487
@kgf This one seems too big, I don't think I'll have time to finish it. But thanks anyway.

[2017-10-03 00:26] #485 closed, assigned to nobody

[2017-10-03 00:45] VanAuken opened #488 "Create a new event icon in the events view"
Create a new event icon in the events view
This will replace the blue 'New Event' button. The icon should be a plus sign and should have an open source compatible license.

[2017-10-03 00:46] VanAuken commented on #488
Here you go @goldenhub77 .  Thanks for your help.

[2017-10-03 00:54] kgf commented on #487
@tegon thanks for your interest. Let me know if you'd like me to come up with others. It's an active project.

[2017-10-03 03:58] sa77 commented on #296
@kgf i can help out on this .. is this related to just one view file ? `app/views/recipients/new.html.erb`

[2017-10-03 05:34] ChanChar commented on #487
@kgf I've added the `inspection_questions` association but going to need some clarification the rest of the task.

[2017-10-03 06:54] firdausmaarof commented on #392
Hi. I'm interested to work on this one.

[2017-10-03 07:43] SGospodinov commented on #482
@kgf, I believe 5b55eab resolves this one as well.

[2017-10-03 10:55] kgf commented on #392
@firdausmaarof that would be great, thanks. Any questions, feel free to post them here.

[2017-10-03 12:33] goldenhub77 commented on #488
@VanAuken I used the ascii character to make the + symbol which will not need a license

[2017-10-03 12:55] goldenhub77 commented on #488
@VanAuken @kgf PR request #492 for this issue.

[2017-10-03 13:28] goldenhub77 commented on #473
@kgf @ThomasCarlson None of the JS testing changes I made were committed to this branch.

[2017-10-03 13:43] kgf commented on #473
@goldenhub77 , once the icon is merged in, I think I will PR the changes from your feature branch into development. It is atomic and self contained enough. That will give @ThomasCarlson the changes you made in JS testing.

[2017-10-03 13:45] kgf commented on #450
@sa77 We have not heard back from Paulo yet. Could you please start on this ? It is actually probably the highest priority issue, as there are some other tickets I will create once this is complete.
Please update this issue, so that if Paulo is also working on it, we can coordinate.
Thanks for your help.
Kevin

[2017-10-03 13:47] phsacramento commented on #450
@kgf I'm doing this.

Update:
the update has broken some dependencies, I'm working on it.

[2017-10-03 15:01] kgf commented on #450
Ah, that's great @henriquesacramento
Thanks for the update.
As mentioned above, there is a feature branch for any partial PRs -> `upgrade_from_rails_4_to_rails_5`

[2017-10-03 15:41] phsacramento commented on #450
@kgf Now we need use strong parameters in project, the gem protected_attributes in no longer compatible with rails 5.
So change all controllers in entire application is need

Update:

@kgf and fix all tests suite

[2017-10-03 15:49] phsacramento commented on #450
@kgf Now in rails 5 belongs_to association is required, is not longer possible create record without they respective associations. I will add a fallback for that feature.

ex:

[code]

Make sense?

[2017-10-03 15:56] phsacramento commented on #450
![captura de tela 2017-10-03 as 12 55 04](https://user-images.githubusercontent.com/2622863/31135029-3905751c-a83a-11e7-81ad-e9dd115a6a83.png)

[2017-10-03 17:52] kgf commented on #487
I think that may be the wrong plan. The inspection questions will need to be on ItemCategory and ItemType. An Item will look up it's hierarchy, and gather all the questions to put on the Inspection. An Inspection instance will have something like `inspection_answers`, which should include the text of the original question, and the response. The first iteration can have simple pass/fail yes/no ques

[2017-10-03 17:54] kgf commented on #450
Ouch ! That's a lot of red.
If you want to PR what you have, I can make issues to resolve the controllers. Ideally you could fix one, and I can cite it as an example of what right looks like ?
Or perhaps you prefer a different approach ?

[2017-10-03 17:55] kgf commented on #450
Sorry, this one did not completely make sense.

[2017-10-03 18:00] kgf opened #493 "Text response for `Upcoming` should show status icons."
Currently people can text `Upcoming` to their installation of Ready Responder. This will give them a listing of the events in the near future. I would like to add an icon at the beginning to provide additional info.

Show a blue diamond if they have been assigned a task for that event.
Show a grey question mark if they have not responded
Show a red X if they have responded `Unavailable`
Show a gre

[2017-10-03 18:01] kgf commented on #493
@sa77 Since Paulo is handling the upgrade, I wondered if this would be of interest ?

[2017-10-03 18:04] phsacramento commented on #450
Rails 5 has changed the belongs_to relation to require presence by default. [Check this PR](https://github.com/rails/rails/pull/18937)

So now ```required: true``` is deprecated:

[code]

[2017-10-03 18:08] kgf commented on #263
Closed, will need a better description to make it actionable.

[2017-10-03 18:08] #263 closed, assigned to nobody

[2017-10-03 18:14] VanAuken commented on #403
Tried it today.  Works beautifully.
Thanks!

[2017-10-03 18:14] #403 closed, assigned to VanAuken

[2017-10-03 18:15] kgf commented on #450
Thanks, I'll take a look.

[2017-10-03 20:00] kgf opened #495 "grant should have an end date, not two start dates"
This was discovered by @ChrisBarthol, thanks !

[2017-10-03 20:01] #495 closed, assigned to nobody

[2017-10-03 20:47] #488 closed, assigned to nobody

[2017-10-03 21:47] kgf commented on #450
@henriquesacramento I took a look in the codebase for `required: true` on associations, and I did not find any examples. So that's good news !

[2017-10-03 21:55] cesc1989 commented on #429
Hey @kgf hope you doing fine.

I've implemented a way to fix this issue but before sending a PR I'd like to know if the file name matters. What I mean is that the solution changes the filename to a unique token

[code]

If there's no problem, I'd create a module defining the `secure_token` method and include it in every uploader.

[2017-10-03 22:22] phsacramento commented on #450
Rails 5 makes belongs_to association required by default.
![captura de tela 2017-10-03 as 19 03 40](https://user-images.githubusercontent.com/2622863/31151933-2d71ea88-a870-11e7-9dc7-04a231857eef.png)

[2017-10-03 23:04] kgf commented on #429
I hope that @houhoulis will also take a look here.
I don't see a problem converting it to a token. That could be better so people can't predict file names.
Will there be any issue with existing data/images ?

[2017-10-03 23:13] kgf commented on #450
Ah, now I understand. We'll need to add `optional true` to a bunch of these. Are you handling that, or would you like help ?
Not all events will have templates, so that one should be optional.

[2017-10-03 23:29] phsacramento commented on #450
Update:

![captura de tela 2017-10-03 as 20 28 49](https://user-images.githubusercontent.com/2622863/31153806-83bc4736-a879-11e7-8899-d09fa4b2572c.png)

[2017-10-04 00:19] #293 closed, assigned to pcai

[2017-10-04 00:32] kgf opened #498 "Add last editor to event show"
We'll want this on all things eventually, but event show for now.

[2017-10-04 00:52] #480 closed, assigned to nobody

[2017-10-04 00:53] kgf opened #500 "Remove person and item associations from factory"
The code to change is here
https://github.com/ReadyResponder/ReadyResponder/blob/development/spec/factories/inspection.rb#L3
Obviously, you'll need to ensure the test suite is still working.

[2017-10-04 01:13] sa77 commented on #493
@kgf i can look into it .. can you give me some pointers how to get started on this ?

- how to simulate sending a text to the app ? which files in the codebase handle this ?
- the icons .. where does the icons need to be displayed on the app (relative `url` would help) ?

[2017-10-04 01:41] KaraAJC commented on #110
I'd like to try this out!

To confirm: I'll be beefing up the `seeds.rb` file so that upon a fresh install and seed of the data, someone could run the app and see all the features of the app with a good set of fake data and understand what the app does.

[2017-10-04 01:46] cesc1989 commented on #429
When I saw this issue it reminded me of this implementation somewhere else (but wasn't sure until testing it myself) and as far as I know, it shouldn't cause trouble with existing images because this change would only work for future uploads, as the name is the only thing stored in the database.

Also, @kgf before sending the PR, I met two situations.

First, I had to comment line `@item_type.item

[2017-10-04 02:30] kgf commented on #450
It looks like you're changing it to an integer? Right now it is hours and quarters of hours, which works well. No event would go into thousands of hours.

[2017-10-04 02:32] kgf commented on #429
Regarding public, it was for security. We don't want the images browsable.
Regarding the other, I'll need to look tomorrow.

[2017-10-04 02:37] kgf commented on #493
Answering from my phone, so this may be a bit brief. The icons will be sent via text message to the user. For this issue, there would not be a browser. Ngrok may be able to help with that. I used it, worked pretty well.
The icons will be what's available in a text message client. I post a sample tomorrow.
Take a look here
https://github.com/ReadyResponder/ReadyResponder/blob/6d8069356db2b79e281702

[2017-10-04 02:38] kgf commented on #110
That is exactly correct. Thanks!

[2017-10-04 12:13] tuwukee commented on #498
Didn't notice that there's already a PR for that :)
Closing #502

[2017-10-04 12:43] goldenhub77 commented on #473
@kgf @ThomasCarlson Since ui_v3 merge into dev this test is now passing.

[2017-10-04 14:36] ale7714 commented on #500
@kgf happy to help with this issue. You mention remove `person` and `event`. But i don't see the `event` association on this factory.
[code]

[2017-10-04 15:34] kgf commented on #500
@ale7714 Great, appreciate your help. It was my mistake, it should have read `Remove person and item`

[2017-10-04 15:38] ale7714 commented on #500
@kgf no worries! will look into this later today.

[2017-10-04 15:38] kgf opened #503 "Add created_at, edited_at and last editor to notification#show"
You can look at item_category#show for an example of what is being asked for.

[2017-10-04 15:39] kgf commented on #503
@tuwukee is this one of interest ?

[2017-10-04 15:39] kgf commented on #498
@tuwukee Thanks for your help. I try to add `Claimed` labels to the issues. Would you be willing to make the same change to other pages ? We want to have that everywhere.
Notifications is another place it is lacking. I created a new issue, if you're interested
https://github.com/ReadyResponder/ReadyResponder/issues/503

[2017-10-04 15:41] kgf commented on #473
That's great news. Thanks to all.

[2017-10-04 15:41] #473 closed, assigned to nobody

[2017-10-04 15:46] kgf opened #504 "On certification#show, remove "Return to List" button"
This button does not do what people expect.

[2017-10-04 16:25] goldenhub77 commented on #273
@kgf I can assist with this

[2017-10-04 17:18] ghost opened #506 "NoMethodError on text notification send"
![notification_nil](https://user-images.githubusercontent.com/21265184/31189451-49ab7070-a906-11e7-965c-ba50249570d8.jpeg)

Rails error on submitting a new notification to be sent out via text. @client seems to be nil. Maybe my local environment is missing Twilio credentials? Are there configuration instructions that need to be added to "Getting Started" to make this work locally?

[2017-10-04 17:33] kgf commented on #506
We should add a guard to check for a `nil` client.
Will need to research what the possible solutions might be...

[2017-10-04 17:34] kgf commented on #273
Thanks @goldenhub77, for all your help !

[2017-10-04 17:46] #498 closed, assigned to kgf

[2017-10-04 17:49] mohanck commented on #504
I'd like to try this out. I intend to remove the ```sidebar_button_link``` from the content bar in show.html.erb for certs. Let me know if this sounds right. Thanks!

[2017-10-04 18:02] kgf commented on #504
@mohanck That sounds right. Thanks for your help !

[2017-10-04 18:03] kgf opened #507 "Allow items to have multiple files uploaded."
This may need to be split into two PRs. We need to be able to upload multiple photos for an item. We also want to be able to upload documentation, such as owner's manuals.

[2017-10-04 19:25] cam-ball commented on #313
Hi @kgf, I can do this one!

[2017-10-04 20:10] kgf commented on #313
@laurenball That would be great, thanks !

[2017-10-04 20:57] kgf commented on #493
Here are some log entries
Started POST "/texts/receive_text"
Processing by TextsController#receive_text as */*
🔷 Assigned
https://emojipedia.org/large-blue-diamond/

✅ Available
https://emojipedia.org/white-heavy-check-mark/

⚠️ Partially Available
https://emojipedia.org/warning-sign/

❌ unavailable
https://emojipedia.org/cross-mark/

? Unknown
No emoji, just a standard `?`

You may be able to jus

[2017-10-04 23:36] goldenhub77 commented on #504
@kgf @mohanck FYI, with the merge of ui_v3 into Dev all you need to do is remove the sidebar yield and it will default to to col-md-12 in application.html.erb. If there are some other ideas to change the that is great but you can start there.

[2017-10-05 00:06] kgf commented on #504
I don't think that was the last button on that page.

[2017-10-05 00:21] mohanck commented on #504
@goldenhub77 @kgf Removing the sidebar yield also gets rid of the ```Edit Cert``` functionality. Do we want really want to remove Edit functionality too?

[2017-10-05 01:15] goldenhub77 commented on #504
@mohanck @kgf  You are right, about losing that button as well. I wasn't sure if Kevin wanted to repurpose that button in a different way instead of using the sidebar. He has been having me create a circular add button instead of 'new object button' in the side bar.

[2017-10-05 01:22] mohanck commented on #504
@goldenhub77 Thank you for your reply. I am thinking of removing the ```sidebar_button_link``` for now. I also noticed that the functional test for ```show``` only checks for ```success``` response. I think having a class for the ```Edit``` button and checking its presence would be more beneficial in the test too. I could add that, but wanted to know your and @kgf thoughts before I did.

[2017-10-05 01:59] kgf commented on #504
@goldenhub77 has correctly anticipated where we're going with the UI. I will want to eliminate the `Edit Button` at some point. I also want to have the UI be consistent, and I have not figured out how to redefine the buttons in the sidebar of the `event#show` page. That page have several add buttons.
We are eliminating the sidebar now in the index views.
Having said all that, yes, please proceed w

[2017-10-05 02:02] mohanck commented on #504
@kgf Thank you, I will submit the PR. What are your thoughts on changes in test?
```I also noticed that the functional test for show only checks for success response. I think having a class for the Edit button and checking its presence would be more beneficial in the test too```

[2017-10-05 02:14] #429 closed, assigned to nobody

[2017-10-05 02:16] kgf commented on #504
Any improvements to the test are always welcome. Checking that the test person's name appears on the page would be good.
Thanks for your help.
Kevin

[2017-10-05 02:24] kgf opened #510 "Add minimum title to an event"
Many groups such as this will have events where everyone should attend, and will also have management meetings where only specific leadership should attend. We are looking to add a dropdown to the event showing a list of all titles from all departments ( where `manage_people` is true) in numerical order. The default value should be the lowest choice.
When someone does `Upcoming` from a text messag

[2017-10-05 06:56] andyvh commented on #510
Hi! I'd love to try to help address this, if you don't mind! I'm having a little trouble getting bundler to install properly, though...

![bundlerproblems](https://user-images.githubusercontent.com/19498379/31214304-84813032-a95f-11e7-8d2d-3225f9397fe7.png)

Any guidance on where to go from here would be greatly appreciated!

[2017-10-05 11:20] sa77 commented on #493
@kgf are you referring to the `status` of `Availability` model (as in `Person.last.availability.status`) ?

[2017-10-05 11:38] kgf commented on #510
That looks like an error between you and Ruby gems server. It may be transient, I would recommend trying again.

[2017-10-05 11:41] kgf commented on #493
Yes, mostly. The assigned would not be availability based. We have code that I think you can use already. The classes for the rows of the availability table on an event use the same logic. ( And the same colors, which I would like to keep consistent. )

[2017-10-05 11:43] #313 closed, assigned to nobody

[2017-10-05 13:29] sa77 commented on #493
@kgf i've got something like this .. good to go ?

![image](https://user-images.githubusercontent.com/4640354/31229705-53cd1eb8-aa01-11e7-87ef-d16b31eba658.png)

[2017-10-05 14:26] kgf commented on #493
That does look good. Is the unavailable case handled as well?

[2017-10-05 14:34] sa77 commented on #493
yes .. unavailable should work as expected

[2017-10-05 15:07] sa77 commented on #493
i'll create a new PR branched off after rebasing with latest ReadyResponder/ReadyResponder:development

[2017-10-05 15:48] kgf commented on #493
Awesome, thanks

[2017-10-05 15:53] #493 closed, assigned to nobody

[2017-10-05 16:41] kgf opened #514 "Text to info should show next assignment"
When an end user texts `info idcode` currently, they get generic details on the event. It would be good if they got these details, and also their personal assignment, assuming they have one. It should be the next assignment that is current, meaning the **end_time** for the assignment is > now.

Any questions, please ask.

[2017-10-05 16:41] kgf commented on #514
@sa77 You were just in that section of the code. Any interest ?

[2017-10-05 16:42] #504 closed, assigned to nobody

[2017-10-05 17:00] kgf commented on #454
This is closed, but a new issue will need to be created. It should be short title, not full title.

[2017-10-05 17:00] #454 closed, assigned to nobody

[2017-10-05 17:02] kgf opened #515 "On event#show availabilities, it should be short title, not full title"
This provides more room for more relevant info, and fits smaller displays better.
For bonus points, the `Unknown` table below should have the same change from ID to short title.

[2017-10-05 17:03] kgf commented on #515
See issue #454

[2017-10-05 17:14] kgf opened #516 "Transition People menu to split drop down"
The People menu is currently a drop down. It should become a split dropdown.

The default action should take you to a view that has all active people. There should be multiple checkboxes, all selected by default for all departments that manage_people. There should be a second group of checkboxes, one for Active, selected by default, and another for On Leave, deselected by default.

The first optio

[2017-10-05 17:14] kgf commented on #516
Thanks to @goldenhub77 for taking this on.

[2017-10-05 17:24] dusty-wil commented on #515
Hi @kgf, I'd be interested in looking at this, if that's OK. I'm pretty new to ruby, but am interested in learning.

[2017-10-05 17:26] andyvh commented on #510
It would appear to still be an issue... I'm gonna look into it more now, though!

[2017-10-05 17:50] andyvh commented on #510
I've found that one might be able to circumvent it by specifying a Bundler version; which version of Bundler are you using?

[2017-10-05 18:14] kgf commented on #515
That would be great, @dusty-wil . We're happy to help.
Post here if you have questions.

[2017-10-05 18:16] kgf commented on #510
You can tell by looking at the very last lines of gemfile.lock
BUNDLED WITH
   1.15.4

[2017-10-05 18:17] kgf commented on #510
I certainly could be wrong, but I still think this may be an issue with your local setup.

[2017-10-05 19:54] kgf commented on #2
@ivdma Have you had any success ?

[2017-10-05 22:07] kgf commented on #503
@bother7 is helping with this one.

[2017-10-05 22:31] #506 closed, assigned to nobody

[2017-10-05 22:38] kgf commented on #322
Not sure what has changed, but I don't see this anymore.

[2017-10-05 22:38] #322 closed, assigned to VanAuken

[2017-10-05 22:49] kgf commented on #449
@danielstrimpel were you successful in your urgent project ?

[2017-10-05 22:59] kgf opened #519 "Have item_types show the qty of items, not the count."
Currently when you look at an item type with three items under it, you see a qty of three, even if one of the items has a qty of 50.

[2017-10-05 23:09] alexshook commented on #272
@kgf hey do you still need someone to do this?

[2017-10-06 00:19] sa77 commented on #514
@kgf sure .. this is the current response on `info idcode` .. can you give me a template what content you want to add into it ?

[2017-10-06 00:37] kgf commented on #514
If you could change it to: (Shortening some of the text...)

This assumes that there are two active assignments for this person at this event to set up the shelter and staff medical intake.

Any other questions ?
Thanks for your help !
Kevin

[2017-10-06 00:39] kgf commented on #272
Absolutely, @alexshook that would be great. Thanks !

Any questions ?

[2017-10-06 00:42] rhemaboyo commented on #343
Hi, can I go ahead and work on this issue?

[2017-10-06 01:29] goldenhub77 commented on #516
@kgf Sorry about the delay. It was a hectic day. I am going to create a PR that should be ready for assessments

[2017-10-06 01:31] goldenhub77 commented on #516
@kgf What I had was ready but the checkboxes are going to take longer.

[2017-10-06 02:02] kgf commented on #343
@rhemaboyo That would be great, thanks !
Post here if you have any questions.
We appreciate the help.

[2017-10-06 02:06] kgf commented on #516
No problem, thanks for all your help.
This PR that @pcai did recently may help yo with finding the correct peartments for the `Active` default view.
https://github.com/ReadyResponder/ReadyResponder/pull/462
Kevin

[2017-10-06 02:36] alexshook commented on #272
Not right now, @kgf, but will let you know if I think of any. Thanks!

[2017-10-06 03:25] andyvh commented on #510
Ok, you were right, and I fixed it, but now I'm encountering another issue with the db:schema:load command; I didn't see any instructions to change it from "lims_development," but I'm told that the database doesn't exist...

[2017-10-06 11:14] ivdma commented on #2
Not yet, will be looking the next week: lot's of traveling time ahead =)

Op do 5 okt. 2017 om 21:54 schreef Kevin Fallon <notifications@github.com>:

--
Met vriendelijke groet,

Ivan Malykh

[2017-10-06 11:26] kgf commented on #510
I'm curious, what was the issue?

For the database setup, you need:
bundle exec rake db:create
bundle exec rake db:schema:load
bundle exec rake db:seed

[2017-10-06 11:28] kgf commented on #2
Ok, thanks. Let us know if you have any questions.

[2017-10-06 13:56] dusty-wil commented on #515
@kgf Ok, thanks for letting me contribute on this! I think I've got it, but I just want to make sure I'm on the right track.

This is referring to the event availabilities tab, and the tables of people who are available to respond to an event, and the table of people who haven't yet indicated that they're available (No Response). If that's the case, I think I've got the changes ready.

[2017-10-06 15:54] kgf commented on #515
That is all correct

[2017-10-06 15:55] #503 closed, assigned to nobody

[2017-10-06 16:54] dusty-wil commented on #515
@kgf Ok, I was about to make the PR, but I noticed when I run rspec, I get some failures. These seem to be due to the version of chrome I'm using (my dev environment is on a ubuntu server):

Should I try to address these before I make the PR?

Failures:
  1) Events search finds no results
     Failure/Error: visit new_user_session_path

     Selenium::WebDriver::Error::UnknownError:
       unknown

[2017-10-06 18:08] kgf commented on #515
That does _*look*_ like the version of chrome being an issue. Go ahead and make the PR, we'll see what Travis makes of it...

Thanks for your help.
Kevin

[2017-10-06 18:10] #514 closed, assigned to nobody

[2017-10-06 18:12] kgf commented on #466
This was resolved by #497

[2017-10-06 18:12] #466 closed, assigned to nobody

[2017-10-06 18:53] radvc commented on #519
Hi can I take this?

[2017-10-06 19:03] dusty-wil commented on #515
@kgf looks like it passed!

[2017-10-06 19:53] #519 closed, assigned to kgf

[2017-10-06 19:53] kgf commented on #519
I guess so !

[2017-10-06 19:58] kgf commented on #515
It did pass, you were right. Small change requested

[2017-10-06 20:21] andyvh commented on #510
I'm seeing that permission to create the database was denied...
![screenshot from 2017-10-06 13 20 44](https://user-images.githubusercontent.com/19498379/31296992-3304922c-aa99-11e7-8452-1d909f0126c7.png)

[2017-10-06 20:22] kgf opened #524 "Move Person::Titles into their own class"
Currently, all the titles are defined in the Person model. This is much too restrictive. I would like to move them to a Title model. The correct PR will include the CRUD code changes to look for titles in Title, a migration to move them there for sites in production, and an addition to seeds.rb to create them for new sites.
The title should `belong_to` a department. It should also have a status of

[2017-10-06 20:24] #515 closed, assigned to nobody

[2017-10-06 20:26] kgf commented on #510
If you look at the top line, you'll see the user and password is nil. You'll need to fix that by updating `config/database.yml` Do not commit those changes as part of your PR.
Thanks for your help.

[2017-10-06 20:40] andyvh commented on #510
Understood! On it!
No worries, sorry to have been a problem...

[2017-10-06 21:28] kgf commented on #510
Not a problem, we're a friendly project
Glad I could help.

[2017-10-06 21:30] andyvh commented on #510
May I join the Slack? This project is something that I find myself personally invested in.

[2017-10-06 21:33] andyvh commented on #510
I'm also still having trouble, even having edited the config/database.yml...

[2017-10-06 21:36] kgf commented on #510
@andyvh What email ?

[2017-10-06 21:37] andyvh commented on #510
advanheuit@gmail.com

[2017-10-06 21:39] kgf commented on #510
Sent

[2017-10-06 21:40] andyvh commented on #510
Thanks!

[2017-10-07 06:23] radvc commented on #519
@kgf thanks for the merged.

[2017-10-07 13:51] #396 closed, assigned to nobody

[2017-10-07 14:45] kgf commented on #375
@sa77 you've done a lot of great work for the project.
This is the only other issue currently in the texting area of the code. Would you be interested?
Thanks for all your help, either way.

[2017-10-07 15:14] VanAuken opened #528 "Validates person has a department"
Everyone needs to belong to a department.
Ideally, if there is only one department, creating a new person should default to that department

[2017-10-07 15:42] sa77 commented on #375
@kgf sure thing .. i can take a crack at it

[2017-10-07 15:43] amirkarimi commented on #528
Can I work on this issue?

[2017-10-07 15:46] VanAuken commented on #528
That would be great ! Thanks @amirkarimi

[2017-10-07 18:40] nesteves commented on #360
Hi, I would like to help with this issue. It is my first contribution.

I'm thinking of setting up a @people_collection within the controller actions (edit and new) and adding controller specs asserting that @availability.person is included in the collection.

[2017-10-07 18:47] kgf commented on #360
Welcome @nesteves !
I don't think you'll need to do anything for new, as there is no existing person at that point. I think all you may need to do is add the existing value of person of that availability to the collection on the form.

[2017-10-07 21:49] nesteves commented on #360
I ended up working on the controller, otherwise I would need to either have one form for each action or write some if statements in the view. Both of these options seemed bad.

I haven't got a clue about writing view specs for this case.

[2017-10-07 22:53] amirkarimi commented on #528
Done https://github.com/ReadyResponder/ReadyResponder/pull/530

[2017-10-08 13:02] ivanfrias commented on #528
@VanAuken  please close this so that we all know which ones are still available.

[2017-10-08 13:03] ivanfrias commented on #524
I can take that one.

[2017-10-08 15:57] kgf commented on #528
@ivanfrias I expect we will close this today.
However, we do use the `Help Wanted` and `Claimed` tags on the issues to help with knowing what's available.
Thanks for your interest in our project !
Kevin

[2017-10-08 15:58] kgf commented on #524
That's great, thanks @ivanfrias

[2017-10-08 16:03] kgf opened #532 "When showing an event, course is hidden at first"
When you are looking at an event, there is JS to show the instructor if the event type is changed to training. This works well, but....
When you first open a training event, the course and instructor are hidden. This issue is to change that.

[2017-10-08 16:04] kgf commented on #532
@ThomasCarlson This is a follow-on to your JS work earlier.
Thanks for your help.

[2017-10-08 16:05] #405 closed, assigned to nobody

[2017-10-08 16:20] #360 closed, assigned to nobody

[2017-10-08 19:12] kgf commented on #500
@ale7714 Have you had any success ? Any blockers ?

[2017-10-08 19:14] kgf commented on #441
Closed by ui_v3 merge into development

[2017-10-08 19:14] #441 closed, assigned to nobody

[2017-10-08 21:02] goldenhub77 commented on #516
@kgf PR submitted https://github.com/ReadyResponder/ReadyResponder/pull/536

[2017-10-09 00:47] ghost commented on #449
Well, I didn’t get a job offer from them. But in the sense of having fun and learning a lot (of React, specifically), I’d say it was pretty successful.

I have time to keep contributing to RR. On this particular issue, I seem to keep running into other bugs that are preventing me from reproducing the problem which is frustrating...

Do you have any interest in me building out a new, non-trivial fe

[2017-10-09 01:44] kgf commented on #507
To clarify the statement above, I would like to know which files uploaded are photos, and which are documentation.

[2017-10-09 01:44] kgf commented on #449
Sorry to hear about the job situation.
I'm happy with any help here. If this one is aggravating, we can find something else, and I'll put this up as help wanted again.
Would this be of interest ?
https://github.com/ReadyResponder/ReadyResponder/issues/507

[2017-10-09 01:48] kgf commented on #524
@ivanfrias I'm not sure how far along you are on this.

I am considering that it may be safer to implement this as a CRUD model ( Title ) that `belongs_to` a department. It would have a name, a shortname, a status with the choices of `Active` and `Inactive`. It would also have a position, as integer, that would define the sort order.

My fear with the Setting is that someone will mess up entering

[2017-10-09 01:53] kgf commented on #487
@ChanChar Any updates ? Anything I can help with ?

[2017-10-09 01:55] kgf commented on #482
@SGospodinov Thanks for your help. Yes, this issue is resolved

[2017-10-09 01:55] #482 closed, assigned to nobody

[2017-10-09 01:56] kgf commented on #450
@henriquesacramento Any updates ? Is there anything we can do to help ?

[2017-10-09 01:57] kgf commented on #426
This is resolved by the merge of `ui_v3` into development. Thanks to @goldenhub77  !

[2017-10-09 01:57] #426 closed, assigned to nobody

[2017-10-09 01:58] kgf commented on #392
@firdausmaarof Any questions or updates ?

[2017-10-09 02:00] kgf commented on #440
@t2013anurag Any updates or questions ?

[2017-10-09 02:01] kgf commented on #273
@goldenhub77 Do not change priorities, but was there already a fix for this in one of your other PRs ?

[2017-10-09 02:02] kgf commented on #110
@KaraAJC Do you have any updates or questions ?

[2017-10-09 02:05] #375 closed, assigned to nobody

[2017-10-09 02:07] goldenhub77 commented on #273
@kgf I do not believe I have done anything in my PR's to resolve this yet.

[2017-10-09 02:39] kgf opened #537 "Entering a repair should update the item"
When entering a repair, you can describe the repair, but that's it. This change would add a `Condition` field to the Repair model. It should have the same choices as `Condition` an Item has. When you save a repair, it should set the condition of the item to the same condition as indicated on the repair.

This will need further refinement in the future, because an item may need  more than one repai

[2017-10-09 02:50] kgf commented on #79
The inventory has been implemented with items having both a qty field and the ability to add Unique IDs. So for a vehicle, you would enter the name `Car 54`, some unique ids, like the VIN and the license plate and a qty of 1
For less critical items, like a floodlight, you might have one item record with a qty of four, but then have all four serial numbers as unique ids in this record.
Although I'm

[2017-10-09 02:50] #79 closed, assigned to nobody

[2017-10-09 02:54] kgf opened #538 "Events should show timecards."
There are currently several tabs on an event, for things like tasks and availabilities. We would like to also have a tab for timecards, after notifications. It should show all timecards whose timespans overlap the event. The view should include the ability to verify them. This portion can be easily accomplished by using the table from the person#show view.

[2017-10-09 03:08] kgf commented on #9
Given how well the texting UI has been received, the value of this now is limited. The only use case remaining would be to add it to people's calendars, but that would be easier via email. Closing for now.

[2017-10-09 03:08] #9 closed

[2017-10-09 13:37] goldenhub77 commented on #538
@kgf I can take this

[2017-10-09 13:49] ale7714 commented on #500
@kgf sorry had something unexpected come up. But i will look into this tonight or tomorrow. Sorry for the delay.

[2017-10-09 14:56] dusty-wil commented on #537
@kgf I'm interested in looking in to this! Does this mean that the repair database table is going to need a new field also, or should the repair update the item only?

[2017-10-09 15:20] kgf commented on #538
@goldenhub77 You're a machine !!

[2017-10-09 15:23] kgf commented on #537
Hmm, good question. My instinct is that we'll want that extra information. ( How did this item get to the condition.) Let's still call it `condition`.

[2017-10-09 15:24] kgf commented on #500
@ale7714 No problem, things happen. Thanks for your help !

[2017-10-09 15:41] kgf opened #539 "Change item type to allow a tree structure"
On person show, there is a table to display items a person owns, rather than things the department owns. In that same accordion section, there is a button to create a New Item, but it doesn't work. This issue looks to either fix it or remove it. The challenge of fixing it is the hierarchy of items, so removing it and having people create new ones from the inventory page is acceptable. If you do ch

[2017-10-09 15:44] kgf opened #540 "Datatable headers on Person#show"
On the person#show page, there are datatables for Availabilities and Timecards. When you first open the page and unroll the accordion, the table headers are not displayed correctly. They look like this
<img width="1367" alt="screen shot 2017-10-09 at 11 43 05 am" src="https://user-images.githubusercontent.com/2431417/31346427-127886da-ace7-11e7-9acb-01cb1e3d357f.png">
If you click on one of the he

[2017-10-09 16:18] estevanjantsk commented on #540
Hi! =), may you guys assign this issue to me, please?

[2017-10-09 16:22] monoliths commented on #539
Hello, I can take this on! Its looks like there are two routes. Ill take the challenge for the harder solution :)

[2017-10-09 16:34] kgf commented on #540
Sure, thanks for your help @estevanjantsk

[2017-10-09 16:35] kgf commented on #539
Ah, challenge accepted, eh.
Thanks for your help @monoliths !

[2017-10-09 16:43] ChanChar commented on #487
@kgf Where are these questions coming from?

Shouldn't we simply remove the associated answer and have the user reset the answer if this is a concern?

All in all, I may not have time to do this and will leave it open for someone else.

[2017-10-09 16:48] kgf commented on #487
OK, no problem. I'll just reset the labels. Thanks for your help in the past !

[2017-10-09 16:49] radvc commented on #507
@kgf so we need to have another table for this one?

[2017-10-09 16:53] kgf commented on #539
@radvc This issue had already been claimed.
I am going to merge the PR from @radvc, since it does solve the broken button.
*However*, I'm not going to close the issue, as @monoliths is going to attempt to fix it, rather than just remove it.
I heard what you said about the person#show being about a person, but these are only items the person owns, so still about the person.

[2017-10-09 16:57] kgf commented on #507
@radvc Let's start with allowing multiple photos, rather than just the one we have now. We can look at the documentation uploads later. That should perhaps be another issue.

 If adding multiple photos requires a different approach, please leave the existing photos in addition to the ones you'll add. I'm thinking there would be one photo that is the thumbnail, and then others showing other details

[2017-10-09 17:09] radvc commented on #507
is there a maximum number of photos?

[2017-10-09 18:04] #516 closed, assigned to nobody

[2017-10-09 18:06] kgf commented on #507
Not that immediately comes to mind. I would not expect to have more than 20...

[2017-10-09 18:38] phsacramento commented on #450
@kgf I will update the current branch, and you tell me how can you help me.

[2017-10-09 18:47] kgf commented on #450
Excellent, thanks !

[2017-10-09 18:54] ghost commented on #449
Yes, I started working on it.

-
Daniel Strimpel
dastrimpel@gmail.com <mailto:dastrimpel@gmail.com>
Blog: https://medium.com/@dastrimpel
Github: https://github.com/danielstrimpel

[2017-10-09 20:03] rhemaboyo commented on #343
For the event model I was thinking about validating uniqueness unless the most recent event with that id_code ended over 6 months ago.

[code]

I was wondering if you want the notification model to have its own id_code or does it just share the id_code of the event it belongs to? (In which case the above validation would apply to both.)

[2017-10-09 21:20] kgf commented on #343
A notification either has its own unique id code, or it has none.
Rails includes time helpers, so you can say `6.months.ago`. That would read better, I think.

[2017-10-09 22:31] goldenhub77 commented on #540
@kgf @estevanjantsk while working on my current issue regarding timecards I was forced to resolve this issue as well. This datatable was rendering as generic when it is not.

[2017-10-09 22:37] goldenhub77 commented on #540
@kgf @estevanjantsk refer to PR for https://github.com/ReadyResponder/ReadyResponder/issues/538 for resolution.

[2017-10-09 22:58] kgf commented on #540
Actually, @goldenhub77  is referring to Issue #538, rather than PR #538, in case you were looking.

[2017-10-10 04:30] radvc commented on #507
okay so we need to have new table for this one, item has_many item_images?

[2017-10-10 10:53] kgf commented on #507
It seems likely, although I don't actually know. If that's the case, maybe we can leave the existing image as is, and that will be the gallery image.
I'm considering the original request too. Is having two file upload mechanisms, one for images and one for documentation, a lot of effort for not enough reward?

[2017-10-10 15:11] kgf commented on #110
We just had a request from a fellow developer to ensure we have timecards as seeds

[2017-10-10 15:27] KaraAJC commented on #110
ok! I plan on pushing up a PR for this issue tonite, I'll make sure that's
in.

[image: photo]
*Kara Carrell | She/Her*
Web Developer | Communitechie
m:773-382-8220 | e:KaraAJC@gmail.com
<http://us.linkedin.com/in/KaraAJC>  <http://twitter.com/KaraAJC>
<http://about.me/KaraAJC>  <http://github.com/KaraAJC>

On Tue, Oct 10, 2017 at 10:11 AM, Kevin Fallon <notifications@github.com>
wrote:

[2017-10-10 15:40] radvc commented on #507
I can do that, are we going to separate the file input tag for image and documentation?

[2017-10-10 16:15] kgf commented on #507
I was thinking we would originally, but it may not be worth the effort.. Leave the existing photo upload, which will be used as a thumbnail for the item if needed.

[2017-10-10 17:11] kgf opened #544 "Create a rack task to handle stale timecards"
People sometimes forget to sign out. Then the remember a few days from now, and sign out then. This results in a timecard with 100 hours. While I would also like validation on timecards, this is a request for a rake task to put any incomplete timecards into an error state after 24 hours. Please do not put much logic in the rake task itself, as they are difficult to cover in tests.

For bonus point

[2017-10-10 17:37] kgf commented on #110
That's great news, thanks

[2017-10-10 20:46] nesteves commented on #544
Hello, I would like to help with this.

For the migration, we're not going to change the database structure here, just add a new setting right? Something like:

[code]

Can you also elaborate on the timecard validation?

[2017-10-10 21:55] kgf commented on #544
Great, you're going for the bonus!
The setting should be retrieved from the database using the key only. Something like `timecard_maximum_hours` maybe...
Thanks for your help