[2017-10-11 01:48] #528 closed, assigned to nobody

[2017-10-11 11:08] #500 closed, assigned to nobody

[2017-10-11 14:53] ghost commented on #449
Currently upload seems to work. Still working on image display problem where images are not being found in their upload folders.

[2017-10-11 15:42] vcavallo commented on #544
Adding myself here as a backup contributor in case @nesteves drops out or would like a hand 👋

[2017-10-11 15:48] loldlm1 commented on #524
This issue is still available? If so i think a i can take this one :)

[2017-10-11 17:01] kgf commented on #544
@vcavallo Could I interest you in a different issue ? Is there an area of software development that interests you ? There are additional improvements to RR that are not yet documented. I am happy to create a issue tailored to your interests.
We appreciate your interest.
Kevin

[2017-10-11 17:03] kgf commented on #524
@loldlm1 I would like to give @ivanfrias a little more time to respond.
Could I interest you in a different issue ? Is there an area of software development that interests you ? There are additional improvements to RR that are not yet documented. I am happy to create a issue tailored to your interests.
We appreciate your help.
Kevin

[2017-10-11 17:04] kgf commented on #449
@danielstrimpel Is this comment on the correct issue ?

[2017-10-11 17:05] goldenhub77 commented on #540
Refer to https://github.com/ReadyResponder/ReadyResponder/pull/543

[2017-10-11 17:14] kgf opened #547 "When someone is available, assign them if appropriate"
Currently, an Event has tasks, a Task has requirements, a Requirement has assignments. An Assignment is the join between a Requirement and a Person, showing they are expected to fulfill that requirement. Currently, individual volunteers can use text messages to communicate with RR. This is great because then you don't need to manage logins. They can text in that they are available during an event.

[2017-10-11 17:18] vcavallo commented on #544
@kgf very cool!
Most of my experience is in Rails and TDD/BDD. I'm entirely competent on the front end, but typically prefer back end. Happy to take a gander at whatever you've got ;)

[2017-10-11 17:18] #538 closed, assigned to nobody

[2017-10-11 17:21] kgf commented on #449
@vcavallo, is this of any interest ? Very backend....

[2017-10-11 17:23] himanshukgp commented on #547
I want to take up this issue.

[2017-10-11 17:23] kgf commented on #449
Note that you can get into the same situation by paths that do not include `available custom`. It should probably be a save hook. Not thought it through enough to know if it should be before or after.

[2017-10-11 18:03] kgf commented on #540
Turns out this may not have been resolved.

[2017-10-11 18:04] kgf commented on #547
Excellent, thanks @himanshukgp !
Post here if you have any questions.

[2017-10-11 18:08] goldenhub77 commented on #540
@kgf @estevanjantsk It turns out my initial theory was wrong and this issue is not resolved. I can tell you its not an issue with the data table render or configurations. I suspect the accordion class to be playing a role or how that is being rendered. We may want to switch to a tabbed UI as it works well on other pages especially with the tables.

[2017-10-11 18:46] loldlm1 commented on #524
@kgf aaah got it! Sure, i'm interested in any issue, i'd prefer to work on something back-end :).

[2017-10-11 21:01] ghost commented on #449
Sorry, that was pertaining to #507

[2017-10-12 01:49] bencornelis commented on #285
@kgf I'd like to look into this.

[2017-10-12 02:22] kgf commented on #285
@bencornelis thanks for your interest. We're trying to get a git hub style map to show people's participation

[2017-10-12 15:44] dusty-wil commented on #537
@kgf sorry for the delay on this... I had to step back to deal with some school stuff this week. If this is time sensitive and you want to assign it to someone else please feel free, otherwise I'll likely be able to look at it this weekend!

[2017-10-12 17:20] kgf commented on #537
NP, things happen. This weekend will be fine. Thanks for your help! And also thanks for the update !

[2017-10-12 19:10] #544 closed, assigned to nobody

[2017-10-12 19:49] ThomasCarlson commented on #532
hmm.  if you are referring to the attached, it looks ok to me:

![screen shot 2017-10-12 at 3 47 32 pm](https://user-images.githubusercontent.com/7648499/31515928-eecbc474-af64-11e7-8fed-8cd888783786.png)

[2017-10-12 20:00] kgf commented on #532
Sorry for the confusion. The error was when editing an existing training event.

[2017-10-13 01:50] jacklynhma commented on #88
can I grab this one?

[2017-10-13 02:28] ThomasCarlson commented on #532
The issue was when you go to the *edit* page ...
if originally Training, then course and instructor should show.
if originally *not* Training, then course and instructor not show.

https://github.com/ReadyResponder/ReadyResponder/pull/552

[2017-10-13 05:44] nsantiago2719 commented on #487
Hi @kgf , I think I can take this. But for just clarifications, what you want is, the user should be able to add a dynamic question on each question right?

[2017-10-13 11:00] kgf commented on #88
@jacklynhma thanks for your help!

[2017-10-13 16:22] kgf commented on #487
@nsantiago2719 Thanks for your interest.
I don't follow quite what you mean. Be sure to read my comment from ten days ago.

The admin user would add questions to `item_categories` and `item_types`. When any user begins an inspection, the system will find the Items type, and collect all the questions defined for that `item_type`. It will then find the item_type's item_category, and collect all the

[2017-10-13 18:00] cesc1989 commented on #15
@kgf would you mind explaining a bit more about this to me? I still struggle to understand some terminology specific to this project.

Thanks! :)

[2017-10-13 20:15] #532 closed, assigned to ThomasCarlson

[2017-10-13 20:28] kgf commented on #15
@cesc1989 Thanks for your interest. As a preamble, I'm not super thrilled with the naming in this area. Others have complained. Naming is hard. I'm open to suggestions.
People get certifications, such as a driver's license. They get the certification in a particular Course, such as `PR driver's license` which specifies the term of the certification, etc. This gives them a skill, such as `Standard

[2017-10-13 21:04] kgf commented on #272
@alexshook Any updates ? Are you stuck on anything ?

[2017-10-13 21:05] kgf commented on #2
@ivdma Any updates ? Any questions ?

[2017-10-13 21:40] alexshook commented on #272
@kgf I have a branch with changes that I'd like your feedback on before proceeding with any further. Has become a busy day so I'll open a PR for you with some questions tomorrow.

[2017-10-13 22:30] cesc1989 commented on #15
Thanks @kgf I'll give it a deeper look and see whether I could work on this. I'll let you know.

[2017-10-14 02:55] kgf commented on #272
@alexshook That's great ! I look forward to seeing the PR tomorrow.

[2017-10-14 03:21] kgf opened #555 "When looking at a task, assignees for a requirement are lumped together"
On the task, it would be better if assignees were displayed as a list, just like they are shown on the event#show on the tasks tab.

[2017-10-14 03:23] kgf opened #556 "When creating a new assignment, names in drop down are random."
It would be better to sort them, so you can find who you looking for.

[2017-10-14 03:39] kgf opened #557 "When entering a repair, the repairer should be limited to active people"
Currently it shows all people

[2017-10-14 05:45] umanghome commented on #556
I'll take a look and see if I can fix this.

[2017-10-14 07:01] rakesh-verma-16 commented on #557
I'd like to work on this one.

[2017-10-14 07:39] yasirazgar commented on #555
looking into it

[2017-10-14 07:40] umanghome commented on #556
Can you provide me with the instructions on how to replicate this? I have set up the application on my local machine, don't know where to navigate to in order to create a new assignment.

[2017-10-14 13:17] kgf commented on #556
@umanghome Thanks for your interest in the project.
You should go to the main menu and click `Events`. You should then click in an event. I believe our seeds.rb will create one. If not, use the blue plus (+) sign to create one in a scheduled state.
Then either create or click on a task. Then click or create a requirement. OK, you're finally there !
Now use the blue button on the left hand side to

[2017-10-14 13:20] kgf commented on #557
@rakesh-verma-16 great ! Feel free to post questions.

I haven't reproduced it yet, but someone also reported a bug in this area of the code last night. They said they entered a repair, and when they saved it they got an error screen.

 Thanks for your help.

[2017-10-14 13:21] kgf commented on #555
@yasirazgar Thanks for your help ! Feel free to post questions.

[2017-10-14 13:29] kgf opened #560 "Display dates and editor on availability"
On many show pages, there is a footer that shows the created_at, edited_at and last_editor. This is not present on availability, but we'd like it to be.
This is an example from a different page
https://github.com/ReadyResponder/ReadyResponder/blob/development/app/views/item_categories/show.html.erb#L17
Any questions feel free  to ask.

[2017-10-14 13:40] umanghome commented on #556
I'm assuming you mean using the sidebar to create a "New Availability".

To reproduce this after executing `db:seed`, I had to create two new records under "People". One of them was given the name "Abe Lincoln", and the other was given the name "Umang Galaiya".

Another issue that I noticed is, it creates one extra entry in the dropdown, whose cause I was able to trace to the code. I will be fixin

[2017-10-14 13:50] umanghome commented on #556
I was able to create two records in "People" after executing `db:seed`, one with the name `Abe Lincoln`, and one with the name `Umang Galaiya`.

Then I created a new event that is scheduled in the future, created a task, and then created a requirement However, when I click on "New Assignment" and it redirects me to the form, I am unable to see any names in the dropdown. However, I am able to see t

[2017-10-14 16:04] Atul9 commented on #560
I would like to take this.

[2017-10-14 16:37] kgf commented on #556
Great, I'm glad you were able to work through it.

[2017-10-14 16:44] kgf commented on #560
@Atul9 Thanks for your help.
Feel free to ask questions as needed.

[2017-10-14 17:05] Atul9 commented on #557
@kgf Can you please share the error screen ?
I tried to reproduce it & found that all the persons are displayed in the repairer dropdown rather than only the active ones.
@kgf I would like to submit a PR for this.

[2017-10-15 13:35] #440 closed, assigned to nobody

[2017-10-15 13:49] #560 closed, assigned to nobody

[2017-10-15 13:57] #557 closed, assigned to nobody

[2017-10-15 15:13] #555 closed, assigned to nobody

[2017-10-15 16:23] nesteves commented on #449
@kgf, can I help with this issue?

[2017-10-16 02:03] kgf commented on #449
@nesteves that would be great ! As you can see, this is a high priority.

Thanks for your help

[2017-10-16 07:44] monoliths commented on #539
Hey so I am looking for some feedback on a solution I had. Would following be more appropriate?  A new item dropdown where the dropdown consist of all the item types the new item can be where the item owner is set the person shown.

![screen shot 2017-10-16 at 12 32 06 am](https://user-images.githubusercontent.com/9068425/31600182-543d8ee4-b20a-11e7-9869-5bb4369493f3.png)

If not I can go the orig

[2017-10-16 15:47] kgf commented on #539
I don't think this would be enough. There are currently two levels, and we're discussing adding the option of additional levels as needed. So it would need to step the user through the choices. So `Communications` might lead to `Portable Radio`, and then they could enter the specifics.

[2017-10-16 16:14] monoliths commented on #539
Ah ok. That makes sense.

[2017-10-16 16:26] dusty-wil commented on #537
@kgf Ok, so I've created the table field, and when I save a repair I can see the condition is saved with the repair. However, I'm not sure how to update the repair status for the item. Should I be accessing the item's properties through the repair's controller? Is there another spot where this kind of update happens so I can get a general idea of how that should work?

[2017-10-16 18:01] kgf commented on #537
I would probably approach it in the Repair controller. You'll probably want to create a method in the Item to calculate it's condition, which would get called whenever a repair is created or updated. This method would find all it's repairs that did not have a condition of `Ready`, then set the item to the worst of those conditions.
I hope that's clear, feel free to ask questions.
Thanks for your h

[2017-10-16 18:48] #556 closed, assigned to nobody

[2017-10-16 21:11] kgf commented on #510
@andyvh Any further questions ? Any success ?!?

[2017-10-16 21:12] kgf commented on #392
@firdausmaarof Are you still interested in working on this ?

[2017-10-16 21:13] kgf commented on #318
I have made some progress between other PRs. I am using array math to collect the set.

[2017-10-16 21:14] andyvh commented on #510
I'm trying to track down why the test cases are now failing...

On Mon, Oct 16, 2017 at 2:11 PM, Kevin Fallon <notifications@github.com>
wrote:

[2017-10-16 21:15] kgf commented on #450
I have merged this into a feature branch. Someone is manually testing this, given the extent of the changes.

[2017-10-18 07:23] nesteves commented on #449
@kgf, what should happen when the new availability partially overlaps an existing one?

[2017-10-18 11:32] kgf commented on #449
That's tricky, and should probably be a different issue. Part of it depends on if the two are the same status, available vs unavailable. If they are the same status, you could cancel the original, and expand the new one to the span of the two combined.

[2017-10-18 13:33] dusty-wil commented on #537
Thanks @kgf, that is clear. I've got the method created and it can update the item's condition, but I'm wondering, should the method instead update the condition of the item to the most recent service date? IE if an item's in "In Service - Maintenance" I can add a repair that changes the item's state to "Ready" ... or maybe I'm not understanding how the repair should work?

[2017-10-18 14:04] kgf commented on #537
Repair would track one issue from start to finish.
Say I have a truck. I create a repair to have the inspection sticker updated. It would have a condition of`In service-Degraded` I then make a second repair, flat tire, `Out of service`. When the tire gets fixed, the condition of that repair is`ready`. be But the item condition should go back to degraded. That repair issue is still open.

[2017-10-18 14:15] dusty-wil commented on #537
I see, so it's like you're "peeling off" layers of disrepair. it goes back to in service-degraded because you fixed the tire issue, but the inspection issue is still there.

[2017-10-18 15:36] kgf commented on #537
Right, and they could be in any order. The condition of the item is the worst condition of all it's repairs.

[2017-10-18 16:14] dusty-wil commented on #537
@kgf thanks for all your help, I think I've finally got it! One question about the DB field: I added a migration file to add the condition field to the repair table, should I include this with the commit?

[2017-10-18 16:19] kgf commented on #537
Yes, it's needed to make it work.

[2017-10-19 00:47] kgf commented on #524
@ivanfrias I noticed that the above description would not work as things stand now, as there is already a title class. How far have you gotten on this ?

[2017-10-19 00:49] kgf commented on #524
@loldlm1 Did you find anything interesting ? If you mention what would be interesting, I may be able to craft an issue for you.

[2017-10-19 00:50] kgf commented on #110
Hello, @KaraAJC . Are you having any success. Anything we can help with ?

[2017-10-19 00:51] kgf commented on #343
@rhemaboyo We are quite close on this, hoping you'll be able to resolve the failing test.

[2017-10-19 00:55] kgf commented on #507
@radvc Did you have any additional questions ? Are you having any success ?

[2017-10-19 00:59] kgf commented on #540
This actually IS working on development. I'm going to close this, we can re-open as needed.

[2017-10-19 00:59] #540 closed, assigned to nobody

[2017-10-19 01:02] kgf commented on #547
@himanshukgp Do you have any questions ? Are you having any success ?

[2017-10-19 02:47] #8 closed

[2017-10-19 03:02] KaraAJC commented on #110
Hi Thanks for checking in! I'm actually trying to setup the database, and though I've used postgres before, I'm not sure what the following refers to:

when I run the first line, my response is:

[code]
I already have a db for $USER, would that be sufficient?

[2017-10-19 03:28] KaraAJC commented on #110
I got the db created and seeded, reviewing what data is empty in Active Admin, and gonna make a list of seeds to create

[2017-10-19 05:31] KaraAJC commented on #110
@kgf Not ready for a PR quite yet, but here's the list I have so far for updates needed to the seed file:
[Seed update commit](https://github.com/KaraAJC/ReadyResponder/blob/development/db/seeds.rb)

[2017-10-19 15:10] kurotyan514 commented on #2
@kgf may i work on it? i have some solution for it

[2017-10-19 16:46] #537 closed, assigned to nobody

[2017-10-19 16:48] kgf commented on #2
@kurotyan514 We haven't heard from Ivan in two weeks, so, go for it.
Any questions ?
Apologies to @ivdma if you have already started.

[2017-10-19 17:06] kurotyan514 commented on #2
@kgf ok thanks!
and sorry for my english isn't good ,
i have a question, according to [vCard 3.0](https://en.wikipedia.org/wiki/VCard#Media_type) what information do you want to add to QRcode?
i think `phone`, `name`, `email`, `gender` is possible for ios
<img width="517" alt="2017-10-20 1 08 32" src="https://user-images.githubusercontent.com/14138733/31784145-4e9344d4-b4c6-11e7-8975-c95493885839.

[2017-10-20 00:21] kgf commented on #2
That looks great so far ! I had no trouble reading it on my phone right from the screen.
We don't need gender.
Can we have `group` ? That could be the short name of the department.
Ideally, it should position itself below the portrait, which is just below the blue buttons.
Thanks for your help !
Kevin

[2017-10-20 09:05] kurotyan514 commented on #2
@kgf i created a pr for this issue, please review it thanks
https://github.com/ReadyResponder/ReadyResponder/pull/573

[2017-10-20 16:12] kgf commented on #88
@jacklynhma has opened a WIP PR, #571

[2017-10-20 16:12] kgf commented on #15
@cesc1989 Did you have any further questions ? Any updates ?

[2017-10-20 16:14] kgf commented on #487
@nsantiago2719 Did you have any success with this ? Do you have further questions ?

[2017-10-20 19:50] cesc1989 commented on #15
Not right now. I'm working my way through the app and I'll let you know. Thanks for asking! @kgf

[2017-10-20 20:02] kgf commented on #15
Ok, thanks for your help.

[2017-10-22 11:49] nesteves commented on #449
@kgf I am using postgres ranges for *overlaps*, *contains* and *is contained* queries. This forces me to make a simple assumption about the time interval boundaries, which I will treat as **[** start_time, end_time **[**, the interval includes the value of *start_time* and excludes the value of *end_time*. This way, contiguous ranges do not overlap each other. I am also assuming that a person's av

[2017-10-22 13:25] kgf commented on #449
Thanks for your help.
Question 1: You should proceed with thoe assumptions. I worry slightly about when things overlap, but the implementation you have outlined is SO much better than where we are now, I think you should proceed.

I agree this is more important for the remote, non-web UI, but I would think it would be almost harder to not implement for all cases. Would this be model methods ?

Tha

[2017-10-22 15:19] nesteves commented on #449
The model will just expose the necessary scopes to find overlaps and include a validation to ensure no overlapping availabilities are inserted.

As for the creation of the availabilities given the 3 scenarios, I'm thinking of wrapping the logic in a service object. That way we can easily integrate it where we want to, while keeping the model class relatively thin.

[2017-10-22 18:59] kgf commented on #449
I usually only think of using a service object when I have more than one model. I'll be interested to see the approach.

[2017-10-23 00:24] nsantiago2719 commented on #487
Hi @kgf , been in a busy week lately. I think I get what you're saying already, I re-read your comments above and I run the project here in my local machine.

[2017-10-23 01:07] kgf commented on #487
Thanks a lot for checking in, and letting me know you're still interested. If you have any other questions, please ask !

Thanks for your help,
Kevn

[2017-10-23 20:31] ceautery commented on #208
@kgf - Is this still an open issue? I ran a quick test, adding two availabilities for the same person and time, one available, the second unavailable, and the first got changed to canceled.

If this is something still going on, can you give me instructions on how to reproduce the issue?

Thanks

[2017-10-23 22:05] kgf commented on #208
Yes, it is still open. Your test is the expected behavior. However, it doesn't consider a second model called Assignments.

Imagine you've opened up a shelter, and you're trying to get volunteers in to staff it. You need someone at the medical intake station, and someone at the front door to greet people and direct them to the correct line.
Now one of your volunteers sends in `Available shelter`.

[2017-10-24 00:27] #510 closed, assigned to nobody

[2017-10-24 01:02] #449 closed, assigned to nobody

[2017-10-25 00:04] #15 closed

[2017-10-25 10:54] #296 closed, assigned to nobody

[2017-10-25 14:27] cesc1989 commented on #108
Hey, @kgf I was skimming through the issues list and found this. Is this still a thing? I use vagrant for my local environment and provision the machine with ansible. If you take a look to .gitignore you'd see I've ignored a bunch of files for this purpose.

I can unignore them and document how to use those files for this project. Let me know.

[2017-10-25 15:30] kgf commented on #108
I think many people use vagrant for local development. It would be nice to have that documented, in case others wanted to try it.

I want to make it as easy as possible for others to help !
Thanks
Kevin

[2017-10-25 15:41] cesc1989 commented on #108
OK. I'll do it.

[2017-10-25 17:10] kgf opened #578 "Add messages to recipients"
Currently we have notifications, and it's good. Each notification has many recipients. The notification also has channels, which define how to send the message. Currently, the only channel available is text message, but we're adding email. When a notification is activated, it walks through the recipients and looks up the content on how to reach them. We then connect to Twilio and send the message.

[2017-10-25 18:29] bgates commented on #578
@kgf it looks like the `#sms_send` method could return a `Twilio::REST::RequestError`; should that return value be handled differently than a normal return from the call to Twilio, or should the Message class get either one regardless?

[2017-10-25 20:18] kgf commented on #578
@bgates Would you like to claim this issue ?
I would still create the message either way. The message model has a status, that could be set to `error`.
Here is the schema
https://github.com/ReadyResponder/ReadyResponder/blob/development/db/schema.rb#L293
Thanks for your help !

[2017-10-26 02:10] #108 closed, assigned to nobody

[2017-10-26 15:31] #578 closed, assigned to nobody

[2017-10-26 17:17] #2 closed

[2017-10-26 17:19] kgf commented on #539
@monoliths Did you have other questions or ideas on this ?

[2017-10-26 17:20] kgf commented on #318
I have defined more of the form needed for this, an hidden the `Purpose` since that will be deprecated.

[2017-10-26 17:22] kgf commented on #392
@firdausmaarof We haven't heard from you for a while. I'm going to set this back to `Help Wanted`. If you actually _are_ working on it, please post a comment and I'll reverse that action.

[2017-10-26 17:27] kgf commented on #272
Closed by #565 , although a follow-up issue will be needed to create the comments.

[2017-10-26 17:27] #272 closed, assigned to nobody

[2017-10-26 17:29] kgf opened #582 "Add ability to create Comments on a person"
Currently the Person and Comment models are linked, but there is no UI element to create a comment. There *is* UI to display them.
You should take a look at #272 and #565 for more details.
Any questions, please feel free to post them here.

[2017-10-26 17:29] kgf commented on #582
@alexshook Do you have any interest in this one ?

[2017-10-26 17:33] kgf opened #583 "When creating a task, make `Active` the default status"
Currently the status is blank. People are unlikely to create anything *except* active tasks.

[2017-10-26 17:37] hmasila commented on #583
@kgf I can take this one if it is still available

[2017-10-26 17:37] kgf commented on #583
That would be great, thanks @hmasila !

[2017-10-26 18:14] monoliths commented on #539
Is the plan with "additional levels as needed" going forward or will this portion stick to two levels?
Currently I've been looking at a small selection form that would sit below the items listing to start the process to create a new item. The form would use 2 selection fields, ItemCategory and ItemType that would use some coffee script/js to dynamically populate ItemType based upon what ItemCatego

[2017-10-26 18:45] kgf commented on #539
No, I do follow that; no screenshot needed.
In production, two levels aren't working well for some types; for radios, for example. It would be nice to have it flexible. A minimum of two levels, but more possible. The additional levels would be all Item Types. We could even change ItemCategory to a parent ItemType, if that would help.

[2017-10-26 18:52] alexshook commented on #582
@kgf totally! Where would you want me to put the form to create comments?

[2017-10-26 19:09] hmasila commented on #583
@kgf There are two approaches to this. I will push both on different commits. One is having a before save callback, the other is setting the default in the schema definition. Your pick

[2017-10-26 19:57] monoliths commented on #539
Actually either of these will work! I will just need confirmation which scheme will be used and I can build on from there.

[2017-10-26 20:47] nesteves commented on #392
Hi @kgf, I would like to take a look at this.

[2017-10-26 21:03] kgf commented on #392
That would be great, thanks @nesteves

[2017-10-26 21:12] kgf commented on #539
I think the ItemType alone might be a better long term solution. Having a different model for one layer seems like an unnecessary complication.
However, that may be more challenging, since we'd need to have a migration for the existing data.

[2017-10-26 21:20] kgf commented on #583
Actually, I was expecting a default value in the controller, in the new action. This way, `Active` would be already chosen when the form loads.
Does that make sense ?

[2017-10-26 21:24] hmasila commented on #583
@kgf I set `Active` to the value that is selected by default when the form loads as well. Check here https://github.com/ReadyResponder/ReadyResponder/pull/584/files#diff-3fcd4699f54a801714ffbf1674439654L7

[2017-10-26 21:26] hmasila commented on #583
I think you might consider refactoring your code. The `Active` and `Cancelled` statuses only appear in the views and are not used anywhere else. The Task::STATUS_CHOICES_ARRAY does not even include `active`. Is this by design? @kgf

[2017-10-26 21:47] kgf commented on #583
I absolutely have spots I would like to improve the code. For example, I would like to move some of the choices into Settings. I also want to consider Internationalization.

That's why I appreciate people helping with these pull requests.

[2017-10-27 00:02] kgf commented on #583
Closed by #584

[2017-10-27 00:02] #583 closed, assigned to nobody

[2017-10-27 06:02] monoliths commented on #539
Yeah I feel like just sticking to ItemType will be more simple, either works for me though. Just give me a head up what will be used.

[2017-10-27 11:22] kgf commented on #539
Let's go with item type all the way down. That will be simpler for us in the future. I'm going to change the title of the issue. Perhaps use a gem to assist with the tree hierarchy?

[2017-10-27 13:44] kgf commented on #547
@himanshukgp We haven't heard from you in quite a while. Perhaps you got too busy to be able to help us ?
I'm going to set this issue back to help wanted. If this is a mistake, if you actually are working on it, please let me know, and I can switch it back again.
Thanks for your interest
Kevin

[2017-10-27 16:59] monoliths commented on #539
Sweet, yeah Ill research into gems and see whats available and move forward from there.

[2017-10-27 17:55] bgates commented on #547
The 1st para of the issue lays out several models & relationships, then says a person "can text in that they are available during an event". The next says "the Person listed in the Availability will be checked to see if they meet the requirements of the Requirement" - but how is an Availability connected to a Requirement? The only foreign key in the availabilities table is person_id.

[2017-10-27 18:41] kgf commented on #547
I found that you do not want to tie an availability directly to an event, or a requirement. People say they are available, and then you give them assignments to fit the needs of the event(s). There could be more than 1 event happening simultaneously.
So, you're correct that there isn't a direct link from Availability to Requirement.
You would need to look at the event referenced in the Availabilit

[2017-10-27 19:02] bgates commented on #547
I am interested @kgf, but I'm still confused. Are you saying the Availability description field (assuming the status field is 'Available') should be an exact match for an Event's description? What if it isn't? Can that happen in both the Availability creation and update?

[2017-10-27 19:19] kgf commented on #547
Currently the Availability does not retain the knowledge of the keyword used. It probably should.
Take a look at this code, see if that helps.
https://github.com/ReadyResponder/ReadyResponder/blob/development/app/services/msg/available.rb#L13

[2017-10-27 21:48] bgates commented on #547
I'm still confused by _you do not want to tie an availability directly to an event_ vs _You would need to look at the event referenced in the Availability message_. The service code looks like an availability is tied directly to an event, by the `event_codename`.

[2017-10-28 02:11] kgf commented on #547
Availabilities can be `Available` or `Unavailable`. This means people can have three statuses for an event, Available, Unavailable, or Unknown. But their status at the event is based only on the fact that the time of the event and the time of the Availability overlap.
People can text (sms) in an Availability in two ways. They can say `available biscuit` or `available custom 2017-10-31 18:30 2017-1

[2017-10-28 02:16] kgf opened #586 "Automatic Notifications of Expiring Certifications"
We currently track certifications. They all have expiration dates. We would like to send out a notification to the volunteer when a certification is getting ready to expire. The lead time should be a `Setting`, measured in days.

[2017-10-28 02:20] kgf opened #587 "Logging of application activity"
We would like to have a log of system activity. This would be at a much higher level than the Rails log. It should be it's own model. Category would be what model was being changed.

timestamp datetime
user_id association into users
message string
category string

An example would be `message: "Updated  Item 6, truck", category: "Item"

[2017-10-29 20:29] lena-pl commented on #587
I would be keen to give this issue a go! Heads up: I'm a first-time contributor to this project, so might need some patience :)

[2017-10-30 00:24] kgf commented on #587
We welcome first time contributers ! I'll mark this as claimed.
Are you comfortable with your first steps?

Thanks for your help.
Kevin

[2017-10-30 17:56] kgf opened #588 "When a new availability comes in via text, it can't start in the past"
This will make it easier for end users, so they won't have to use `Available custom`.
When one does come in, it should be set to `Time.zone.now`

[2017-10-30 17:57] kgf opened #589 "It would be nice to have a button to move from one event to the next"
The "Next" one would be defined by chronological order.
Previous would be good to make it consistent.

[2017-10-31 01:57] valterbarros commented on #273
Here I don't pass the google key and nothing happens on browse console

[2017-10-31 02:08] valterbarros commented on #273
And as I can see the google key is not required for this api request. I can create a pr removing all dependencies from `google_api_key?`

[2017-10-31 02:30] valterbarros commented on #589
Do I want to do this, ok?

[2017-10-31 02:31] valterbarros commented on #589
Where is the place for this button? on show from the event?

[2017-10-31 02:41] valterbarros commented on #589
Do what you think about this one?

`Event.where('start_time > ?', Event.first.start_time).order(:start_time).first`

[2017-10-31 13:15] kgf commented on #589
`Event.where('start_time > ?', Event.first.start_time).order(:start_time).first`
The problem I see is that it does not reference the one you're on.
Right now we have an event for Halloween, and another for Friday. If I'm on the Halloween event, the `Next` link would take me to the Friday event; not the events in December.
]The button should be on the event#show action.
Does that make sense ?
Thank

[2017-10-31 13:24] valterbarros commented on #589
Yeah @kgf I know your question. But notice that I put a `first` to take the latest first event.

[2017-10-31 19:36] kgf commented on #589
In you PR, it references `self` which is what I expected.

[2017-10-31 20:02] valterbarros commented on #589
Hahah yeah, really

[2017-11-01 02:56] #547 closed, assigned to nobody

[2017-11-01 11:25] #588 closed, assigned to nobody

[2017-11-01 19:42] kgf opened #595 "A task does not show the address"
Which makes it hard to use. You have to edit the task to show the address on the form.

[2017-11-02 11:11] kgf commented on #392
@nesteves have you had any success on this issue?

[2017-11-02 11:13] kgf commented on #487
@nsantiago2719 has your schedule eased up any? Do you think you'll still be able to help us with this issue?

[2017-11-02 20:00] nesteves commented on #392
@kgf had some trouble finding free time for this. I am picking it up again today and looking forward to finishing it no later than this weekend!

[2017-11-02 23:38] kgf commented on #589
It would be nice to use blue buttons similar to the blue + on the events page.
Thanks for your help!
Kevin

[2017-11-03 13:16] valterbarros commented on #589
I Created a new PR with the button. and functionality to jump next and the previous event.

[2017-11-03 19:21] #589 closed, assigned to nobody

[2017-11-04 09:32] lena-pl commented on #587
@kgf I was looking at this change today. Begun implementing my logger through an after_update hook, when I noticed that you've been using the gem paper_trail in the project since da7e5efc. Is there any particular logging functionality you're looking for that paper_trail doesn't provide? Are you just looking for more readable version diffs/messages?

[2017-11-04 13:51] kgf commented on #587
Good question. This is looking to answer the question "What happened to my data today?" Paper trail seems to answer "What happened to this object since it was created?"
If we could implement this using a different view of the paper trail data, that would be great.
Thanks for your help !
Kevin

[2017-11-04 18:29] Atul9 commented on #595
@kgf I added a task & navigated to show page. I found that it shows the address i.e. the street name, city & state below the description. Can you please specify where is address not shown?

[2017-11-05 14:10] kgf commented on #595
I took a look, and this line is the issue
https://github.com/ReadyResponder/ReadyResponder/blob/development/app/views/tasks/show.html.erb#L23
We had a call out this past week. People did not take the time to look up zip code, for example, which suppressed all of the address. Only entering the street would be a common use case.
Thanks for your help, @Atul9 !
Kevin

[2017-11-05 15:47] Atul9 commented on #595
@kgf Do you suggest to have only @task.street.present? condition to display the address ?

[2017-11-05 18:05] VanAuken opened #598 "Events archive date columns sort by ASCII rather than by date"

[2017-11-06 05:20] nsantiago2719 commented on #487
Hi @kgf,

My schedule is still on tight spot yet. I started working on it but you can open it to others because they might have a better time than mine. Thanks

[2017-11-06 12:20] kgf commented on #595
We should probably show whatever we have. Although having the town only would be unusual, and having the state only would be silly.

[2017-11-06 12:22] kgf commented on #487
Ok, thanks for the update

[2017-11-06 23:30] nesteves commented on #392
@kgf, just a small question, there are 5 status boxes:

* assigned
* available
* partially available
* unavailable
* no response

Are these mutually exclusive? I was working on that assumption writing feature specs for these, but when I create a person that has an assignment related to the event, making her a *assigned* person, it also affects the other 4 statuses, depending on whether I also defi

[2017-11-07 02:42] kgf commented on #392
Assigned is a special case, it reflects when someone has something to do. The other four boxes are  mutually exclusive. You can be Available, partially available, unavailable, or unknown, but only one.
Thanks for your help.

[2017-11-09 16:09] kgf opened #599 "Add a small map to task#show"
This should be based on the lat and long fields that are present in the record. This ticket does not include geocoding, which will be a different issue.
The initial version also does not need to include drawing, but that will be desire.

Please check the project write-up as well.

[2017-11-09 16:15] kgf commented on #273
@valterbarros That would be great, thanks !

[2017-11-09 16:18] kgf commented on #88
@jacklynhma How's it going ? Anything I could help with ?

[2017-11-09 16:20] kgf commented on #110
@KaraAJC Even if you don't have time to implement all that, feel free to open a PR, as just the research you've already done is helpful. Then, if time allows, you could complete just one, and open a PR, complete another, open a PR....
Small steps are great !

[2017-11-09 16:21] kgf commented on #507
@radvc Did you have any success with this ? Does it require another table ?

[2017-11-09 16:34] kgf commented on #539
@monoliths Do you have any updates on gems ? Did you consider ancestry gem ?

[2017-11-09 16:36] kgf commented on #318
This continues to be a WIP, which I hope to have more time for now that Hacktoberfest is over.

[2017-11-09 16:40] kgf commented on #524
@loldlm1 The other contributor seems to be tied up with other things. Is this still of interest ? Your help would be appreciated.

[2017-11-09 16:41] kgf commented on #285
@bencornelis Did you have any success ? Do you need more details ?

[2017-11-09 16:42] kgf commented on #343
Closed by #593

[2017-11-09 16:42] #343 closed, assigned to nobody

[2017-11-09 16:43] kgf commented on #450
The current plan is to test the current head of development, deploy that as 2.7.0, then test and merge this into development.

[2017-11-09 16:45] kgf commented on #285
This is related to #20

[2017-11-09 18:39] kgf commented on #586
The ideal PR would also resolve these pending tests.
./spec/features/person_edit_spec.rb:99
./spec/features/person_edit_spec.rb:174

[2017-11-09 19:00] ivanfrias commented on #524
Sure, I haven't been away I'll be able to complete this during the weekend

Em 09/11/2017 16:40, "Kevin Fallon" <notifications@github.com> escreveu:

[2017-11-09 19:05] kgf opened #600 "In task#show, when looking at the list of requirements, show auto-assign"
The table for requirements doesn't show the auto-assign attribute.

[2017-11-09 19:06] kgf commented on #600
It should be added as the last data column, after `Optional`

[2017-11-09 19:07] kgf opened #601 "On requirement#show, display auto-assign attribute"
It should be placed down near `optional` attribute.

[2017-11-09 21:33] kgf opened #603 "Events calendar should not show cancelled events"
When you click on Events in the top menu, you go to the events page. This page has a calendar at the top, and a table of events below that. If you have a cancelled event, it shows on the calendar, but does not show on the table. We do not want it to show on the calendar either.

[2017-11-09 21:42] kgf opened #604 "QR Code should not include birthdate at all"
The QR code currently includes birth date, but that is not needed, and should remain private.

[2017-11-10 00:08] kgf commented on #599
@marshall-alex
Here you go !
Thanks for your help.

[2017-11-10 02:26] kgf opened #605 "Id_code validation on notification does not work for blank id_codes"
It should not check if the id_code is blank.

[2017-11-10 02:27] kgf opened #606 "For an event, unknown count is now incorrect"
This is not a good thing. Also, the table showing who is unknown is also empty.

This was working correctly in 2.6.0

[2017-11-11 05:58] kgf opened #607 "Templates view shows all events, not just templates"

[2017-11-11 18:50] ivanfrias commented on #524
@kgf I didn't understood you weren't asking me. If still open & nobody have started working on that I can work on that , but I need some directions. Tried to get to slack but can't sign up there. Is there any IM app you work for this ?

[2017-11-11 19:24] ivanfrias commented on #524
Instead of a one-to-one from department to title we could have a join table instead .. What is the goal here ?

[2017-11-11 22:54] ivanfrias commented on #524
OK, so I made a PR w/ basic changes. Let me know what else you need.

[2017-11-12 01:33] kgf commented on #524
I have sent you an invitation to Slack
Thanks for your help !

[2017-11-12 02:21] ivanfrias commented on #524
Let me know what else I can do to contribute to the project.

[2017-11-12 14:02] kgf commented on #199
@ivanfrias would this be of interest ?

[2017-11-12 14:07] ivanfrias commented on #199
Sure!

Em 12/11/2017 2:02 da tarde, "Kevin Fallon" <notifications@github.com>
escreveu:

[2017-11-14 16:48] VanAuken opened #610 "edit availability erases person and changes person choice to 'Yes' 'No'"
When editing an availability, the Person field should still show original person.  Person field choices should be a list of active personnel.
Currently, choosing edit and making any change erases the person's name and choices become blank, 'Yes' or 'No' and it fails validation.

[2017-11-16 00:29] VanAuken opened #611 "In Event, minimum title does not exclude lesser titles"
An Event with a minimum title of officer, will still show CERT members, may show recruits (uncertain).  If there is a simultaneous event for CERT, the second event will show CERT members as having not responded.

The Event should work that a minimum title officer will exclude all CERT members from showing up as available, unavailable, partially available and also not show as no response regardless

[2017-11-16 01:54] kgf commented on #604
@kurotyan514 would you be willing to tune this by removing the date of birth. It was found to be to much personal information.

[2017-11-16 02:01] kgf commented on #606
If you alter the minimum title, the number can be non-zero, but is still incorrect.

[2017-11-16 12:51] kgf commented on #611
This is due to the comparison being the wrong direction. Higher ranked people have lower numbers.
The fix for this is easy, but I'd really appreciate a PR that included some tests !
Offending line is here. ->
https://github.com/ReadyResponder/ReadyResponder/blob/development/app/models/event.rb#L94
Thanks for your help !
Kevin

[2017-11-18 02:00] kgf opened #612 "On inspection form, repairer is not limited to active people"
It is also not sorted by name

[2017-11-18 02:03] kgf opened #613 "On item index view, show last inspection"
It would be good to know what needs an inspection.

[2017-11-18 13:11] yasirazgar commented on #610
Looking into it.

[2017-11-18 15:20] kgf commented on #610
@yasirazgar Thanks !
Adding on it what the OP said, the list of people should be all active, plus the original person, if editing. If someone becomes inactive,editing one of their availabilities would otherwise be impossible.

[2017-11-19 10:23] yasirazgar commented on #610
ok @kgf I will make sure that only active persons are displayed in the drop down, this issue occurs when there is some error while updating the availability and edit is rendered.

[2017-11-19 16:02] yasirazgar commented on #612
looking into it.

[2017-11-20 03:18] kgf commented on #612
Thanks for your help!

[2017-11-20 12:24] #610 closed, assigned to nobody

[2017-11-21 16:09] yasirazgar commented on #611
@VanAuken @kgf, I cant understand the issue completely, can you guys please provide some additional details.
Thanks!

[2017-11-26 07:33] lena-pl commented on #587
Proposed fix in pull request #617

[2017-12-03 20:51] kgf opened #618 "Javascript cannot ( yet ) include newer features"
Such as string interpolation.

[2017-12-03 21:06] kgf opened #620 "People datatable has the wrong click to sort."
Which is confusing !

[2017-12-03 21:23] kgf opened #622 "Need tests for event#eligible_people"
See issue #606

[2017-12-06 01:18] kgf commented on #605
This line has the validation that needs to change
https://github.com/ReadyResponder/ReadyResponder/blob/development/app/models/notification.rb#L24

[2017-12-06 01:36] kgf opened #624 "Recipient having issues creating messages."
There are errors from these lines

https://github.com/ReadyResponder/ReadyResponder/blob/development/app/models/recipient.rb#L11
https://github.com/ReadyResponder/ReadyResponder/blob/development/app/models/recipient.rb#L13

[2017-12-06 01:39] kgf opened #625 "Unique_ids should include the following category choices"
This is to add Serial as a choice.
Correct values are
['VIN', 'Serial', 'Sub-component', 'Grant', 'Slug', 'Registration', 'Department', 'Other']

On this line
https://github.com/ReadyResponder/ReadyResponder/blob/development/app/models/unique_id.rb#L7

[2017-12-06 14:03] kgf opened #627 "Upcoming events should be limited per person"
This line should limit to ~10 events.
https://github.com/ReadyResponder/ReadyResponder/blob/development/app/services/msg/upcoming.rb#L6
You could use `@person.department.events.upcoming.limit(10).each do |event|` but it would probably be better to make a method on Person to get upcoming events. Allow it to take an optional argument for quantity.

[2017-12-06 16:08] kgf commented on #625
Fixed in #626

[2017-12-06 16:08] #625 closed, assigned to nobody

[2017-12-07 21:42] kgf commented on #606
Resolved by #623

[2017-12-07 21:42] #606 closed, assigned to nobody

[2017-12-07 21:43] kgf commented on #620
Closed by #621

[2017-12-07 21:43] #620 closed, assigned to kgf

[2017-12-07 21:44] kgf commented on #618
Closed by #619

[2017-12-07 21:44] #618 closed, assigned to kgf

[2017-12-07 21:44] kgf commented on #612
Closed by #615

[2017-12-07 21:44] #612 closed, assigned to nobody

[2017-12-08 04:44] tungla commented on #604
This issue is fixed, just close it @kgf

[2017-12-08 14:37] kgf commented on #392
Fixed by #616, thanks to @nesteves

[2017-12-08 14:37] #392 closed, assigned to nobody

[2017-12-08 14:40] kgf commented on #604
I am confused by your comment, @tungla  This line suggests to me that the birthdate would still be part of the QR code.
https://github.com/ReadyResponder/ReadyResponder/blob/development/app/services/vcard/generator.rb#L18
Do you see it differently ?

[2017-12-12 18:02] kgf opened #632 "Allow the qty of Upcoming events to be defined by a setting"
This should use the Settings model. It should do a find or create to look for the setting. If it creates, qty should be 10, Category should be Person, status active.

[2017-12-12 18:05] kgf commented on #599
PR #629 is for this effort.

[2017-12-21 15:55] saltmade commented on #613
@kgf Interested in taking this one on! Can I get access to the slack for relevant questions?

[2017-12-21 16:17] kgf commented on #613
Sure, what email for invite ?
I certainly want to meet you where is easiest for you, but I also like to have info here so others can follow along.

[2017-12-21 19:43] kgf commented on #611
The bug portion of this was fixed by #623. I will close this.

This could use some tests though !Especially around the `unknown` box on the Event show

[2017-12-21 19:43] #611 closed, assigned to nobody

[2017-12-21 19:44] kgf commented on #627
Closed by #630

[2017-12-21 19:44] #627 closed, assigned to nobody

[2017-12-22 14:29] saltmade commented on #613
@kgf jeff@jgheaton.com, but I'll ask questions here then!

[2017-12-23 16:44] saltmade commented on #613
@kgf Is 'last inspection' going to be a required field?

[2017-12-24 02:31] kgf commented on #613
Last inspection will actually not be a field at all. Inspection belongs to an item. An item has many inspections. So you would want to look up the inspections for the item, and give the most recent date from those inspections. Watch for N+1 queries. Also, inspections could be cancelled, so don't count those.
Thanks for your help!

[2018-01-02 20:41] saltmade commented on #613
@kgf Does it make sense to include the last inspection on `/items` since it's not in the navigation? Should it be in `/item-types/:id`?

[2018-01-02 20:46] kgf commented on #613
You are correct ! Good catch !

[2018-01-03 01:37] MattW216 commented on #604
Hi, @kgf I'm interested in taking a look at this.

[2018-01-03 01:38] kgf commented on #604
That would be great, Thanks @MattW216

[2018-01-03 02:05] DrKalen commented on #600
@kgf I'll take a look at this

[2018-01-03 18:05] jefheaton commented on #613
Addressed in https://github.com/ReadyResponder/ReadyResponder/pull/638

[2018-01-03 19:04] #604 closed, assigned to nobody

[2018-01-03 20:26] saltmade commented on #487
Hi @kgf. Not sure if I'm the right skill level, but perhaps if we talk through it I can take it on. So to summarize what's written above.
[code]
To run an inspection on `Item` we would pull all the questions from `Item type A`, `Item type 1`, and `Category` into a single form. I would assume duplicate questions would be removed. A `question`s table would allow us to stay dry and de-dupe. You bring

[2018-01-07 23:08] kgf commented on #487
I feel a variant of #1 is the correct answer. You can only edit a question to change it's status to inactive, thus all the existing answers remain valid. Perhaps a bit of help directly on the edit form would help.

I would like to be able to have Items and Item_types as siblings, but it's not a requirement.

Good questions !

[2018-01-07 23:09] kgf commented on #487
Regarding the structure of items, you may want to look at #539.

[2018-01-10 17:51] kgf commented on #607
This is no longer an issue in production. Not sure when it got fixed....

[2018-01-10 17:51] #607 closed, assigned to nobody

[2018-01-10 17:54] kgf opened #640 "Using a template adds tasks to the template."
The template ends up having multiple tasks, which makes them annoying to use. When you use them, you may get 5 or 6 duplicate tasks.
The line of code in question is
https://github.com/ReadyResponder/ReadyResponder/blob/development/app/models/event.rb#L142
because the `new_task` still is a child of the template. I don't think that save line is needed, but I have not tested that. The `new_task` is j

[2018-01-17 16:15] saltmade commented on #487
@kgf That's a good call. I think #539 is going to be a blocker for this one, given we might use a different gem or approach to move up the tree. I'll pop over there.

Edit: Didn't see that #539 was open again, so perhaps this will set the precedent for how the tree is navigated. I'll look into the Ancestry gem you mentioned there.

[2018-01-17 16:24] saltmade commented on #487
@kgf Instead of a tree, would it perhaps make more sense to take a tagging approach to Item_types? I haven't seen the real world examples of what the tree would look like, but from a UX perspective it might mean less burden on the user. If a tree is what fits their mental model, that's fine, but I thought I'd ask before committing to a solution.

[2018-01-17 16:30] kgf commented on #487
Interesting ! So you thinking we would tag questions and items, and collect the matches. So we might have `Engine` tag, with `Check Oil` and then tag cars and generators with `Engine` ?

[2018-01-17 16:53] jefheaton commented on #487
That's not what I was thinking originally, but that could make sense! If there's enough crossover between categories. I was thinking of treating Item_type as a tag, but now that I'm plotting it out I'm not sure that makes sense.

Ok, taking a crack. Thanks for the timely response!

[2018-01-17 16:55] VanAuken commented on #487
Howdy @jefheaton!
@kgf sent me over to look at your suggestion.  My knee jerk response was negative, but the longer I think about applying it, the better I like it.
Your tagging approach will be far more flexible.  This is useful because the inventory we're supporting has a lot of variety, both in types of items and variations within a type.  [An example is that we have four or five different mode

[2018-01-17 17:11] saltmade commented on #487
@VanAuken Oh excellent! Okay, so the questions could be stored as strings in an array with the answers, but by doing that we make it much harder to look across all inspections for the use of that question (we could probably do that with PG's fulltext search). I _assume_ that doesn't really matter, we probably wouldn't join these up into some kind of report, but I haven't tackled this kind of probl

[2018-01-17 17:16] kgf commented on #487
I was thinking the Questions would be like templates. Creating an inspection would create a lot of inspection_questions instances, which would include the answers. I don't expect to ever care about all the times we've asked if the oil is filled. But I would care about the last time someone checked the oil.

@VanAuken What about skipped questions ? 'Operational', 'Repaired', 'Repair Deferred', "Ski

[2018-01-17 17:22] saltmade commented on #487
So each inspection_question record would include both the question and the answer. Makes sense.

[2018-01-17 21:52] VanAuken commented on #487
While I'm not expecting the need for a document trail for these inspections, I could imagine an application of the software where the inspection record was necessary to show due diligence and scheduled maintenance. Ensuring that the legacy documents created by the inspection are coherent is never a bad idea.

[2018-01-18 19:33] kgf commented on #599
Closed by #629

[2018-01-20 17:28] kgf commented on #613
Closed by #638
Thanks for your help.

[2018-01-20 17:28] #613 closed, assigned to nobody

[2018-01-21 21:51] ozmar-11 commented on #603
@kgf can I take this one?

[2018-01-22 01:24] kgf commented on #603
That would be great, thanks.

[2018-02-01 20:16] kgf opened #645 "Click to sort on people still not correct"
The targets are the same as the column numbers

[2018-02-01 21:05] kgf opened #647 "Don't check for duplicate id_code on Notifications if it's empty"
There are a lot that are empty

[2018-02-06 23:50] MattW216 commented on #601
Hi, @kgf I'd like to take this one...

[2018-02-12 00:12] #603 closed, assigned to nobody

[2018-02-12 00:28] kgf commented on #645
This was fixed by #646

[2018-02-12 00:28] #645 closed, assigned to kgf

[2018-02-12 00:30] kgf commented on #647
This is fixed by #648

[2018-02-12 00:30] #647 closed, assigned to kgf

[2018-02-12 00:47] kgf opened #649 "Messages are not created properly."
When we call this line, we get this error.
https://github.com/ReadyResponder/ReadyResponder/blob/development/app/models/recipient.rb#L13
ActiveRecord::AssociationTypeMismatch: Channel(#47027397358740) expected, got String(#47027351625820)
A great way to approach this would be to write better tests, perhaps mocking the calls to twillio.
In the interim, I am going to create a PR to comment them out.

[2018-02-12 00:55] kgf commented on #601
That would be great, thanks ! Let me know if you have any questions

[2018-02-22 12:08] VanAuken opened #651 "Sort by 'Title' is alphabetical not by rank on Events Availability tab"
In an Event, sorting the lists of available and unknown on the availability tab, sorts by the alphabetical value of the title and not by its relative value.
Ex Cpl [Corporal] comes before Lt [Lieutenant] comes before Rct [Recruit] etc.

[2018-02-22 15:10] kgf commented on #640
Fixed in v2.9.0 by #643

[2018-02-22 15:10] #640 closed, assigned to kgf

[2018-02-22 23:35] kgf opened #653 "Allow notifications to be created without being tied to an event."
Currently notifications can only exist if they're tied to an event.

[2018-02-22 23:36] kgf commented on #653
Any interest @goldenhub77 ?

[2018-02-23 00:32] goldenhub77 commented on #653
@kgf Sure I can be a part of this. Do you have any thoughts about how you would like the UI implemented?

[2018-02-23 02:22] kgf commented on #653
We already have a notifications index, so that's good enough for now. It lists the event in that index, which may break if the event is nil.
Add a blue plus button like we have in the event UI on the notification index page would be where I would start.
Thanks for your help !

[2018-02-24 17:43] goldenhub77 commented on #605
Fixed notification bug #652  and event creation test bug #654

[2018-02-24 18:39] DJG86g opened #655 "no people in people"
when i look at a person in people and then click the back button on the web browser(i am using chrome) i get No "matching records found" i am using version 2.9.0

[2018-02-24 23:42] kgf opened #656 "When entering an availability, there is a cryptic error message"
The message says to correct the errors below. I believe the problem is the validation for no overlapping availabilities, located as shown below. This theory was tested using various availability start and end times
https://github.com/ReadyResponder/ReadyResponder/blob/development/app/models/availability.rb#L10

[2018-02-24 23:44] goldenhub77 commented on #655
@DJG86g  This is a change within JS I am taking care of now.

[2018-02-25 00:25] kgf opened #658 "Restore missing scope on availability"
This scope is still in use
   scope :for_time_span, ->(range) { where("end_time >= ?", range.last).
                               where("start_time <= ?", range.first) }

[2018-02-25 14:16] #655 closed, assigned to nobody

[2018-02-25 15:54] kgf commented on #605
This should be fixed by #652

[2018-02-25 15:54] #605 closed, assigned to nobody

[2018-02-25 15:55] kgf commented on #507
@radvc, let me know if you're still interested in this, I'll add the Claimed label back on...

[2018-02-25 15:58] kgf commented on #599
@marshall-alex we're having an issue with this in production. When you change the zoom level, the push pin changes location.

I was hoping you'd be willing to take a look.
Thanks !
Kevin

[2018-02-25 16:58] marshall-alex commented on #599
Yea I’ll look into this tonight

[2018-02-26 17:38] goldenhub77 commented on #651
@VanAuken @kgf FYI, You can send the data sorted fairly easily from the back-end but table sorts are handled by the dataTables() library in JS on front-end which is not as straightforward. I will try to research creating a custom sort by rank in dataTables() documentation.

[2018-02-27 15:38] kgf commented on #651
We already have examples of using datatables to sort on the front end. Here is one example from people#index
https://github.com/ReadyResponder/ReadyResponder/blob/development/app/views/people/index.html.erb#L21
And it looks like we do have a hidden column that should be used for sorting by title_order

[2018-02-27 17:02] goldenhub77 commented on #658
was resolved within PR #660

[2018-02-27 17:02] #658 closed, assigned to nobody

[2018-02-27 17:55] goldenhub77 commented on #651
@VanAuken @kgf When I interpreted this I was thinking that this was a sort functionality that you wanted partners to be able to sort by within the UI. The sort within people index on columns 0,2,4 is just an initial sort, those columns are hidden from the UI.

[2018-02-28 13:41] kgf commented on #651
One weird thing about this is that when you first come to the index page, it's doing the right thing.

There are the three needed columns to support correct sorting. When you look at the page source, their TH entries start with (S).

[2018-03-01 16:16] masukomi opened #662 "System should indicate lack of departments when attempting to add users to tasks"
if an event has no departments there will be no users in the list when attempting to associate them with a task.

instead of presenting an empty user list the system should display a message indicating that you will not be able to associate anyone until departments have been associated with the event.

[2018-03-07 00:35] kgf commented on #662
I have no problem with this being a simple validation that there must be one department chosen.

[2018-03-07 00:55] kgf commented on #199
@ivanfrias Haven't heard from you in a while. @pcai has expressed interest in this issue, so I'm going to assign it to him.
If you're still willing to help with the project that would be great, just let me know.
Thanks
Kevin

[2018-03-07 01:05] kgf commented on #199
I spoke with Peter recently about this issue. We have identified at least two email providers who offer a generous free tier for email. One is Mailgun, which offers 40K free emails per month. Amazon SES offers 1M free per month. I would prefer not to lock into a specific vendor, but I expect many people will want to deploy to AWS.
I believe you can conditionally load a gem based on a environment v

[2018-03-07 01:07] kgf commented on #595
@Atul9 Would you still be willing to help with this ?

[2018-03-07 01:12] kgf commented on #653
Fixed by #660

[2018-03-07 01:12] #653 closed, assigned to nobody

[2018-03-07 01:15] kgf commented on #601
Fixed by #663

[2018-03-07 01:15] #601 closed, assigned to nobody

[2018-03-07 14:44] kgf opened #664 "Nickname attribute does not appear on the Person forms."
Some people have a nickname that they prefer to their legal name. We store this, and display it in most cases. Somewhere we lost the field on the edit form. It should be restored.

[2018-03-07 15:08] farrahD commented on #664
@kgf can I work on this issue?
Is it in the /app/views/users/_form.html.erb file?

[2018-03-07 15:12] kgf commented on #664
I would like to have added just after
https://github.com/ReadyResponder/ReadyResponder/blob/development/app/views/people/_form.html.erb#L6
You may need to whitelist it in the controller as well.
If you have time to add a test, that would be excellent !
Thanks for your help.
Kevin

[2018-03-07 15:13] kgf commented on #664
Sorry, just before that line.....

[2018-03-08 00:07] kgf commented on #599
@marshall-alex Anything I can do to help ? Are you able to duplicate the issue ?

[2018-03-08 16:53] farrahD commented on #664
Okay, so I'm having some issues setting up the project, specifically step 6 ii. iii. & iv.

[2018-03-08 23:41] masukomi opened #666 "Event's Availability tab doesn't display partially available people"
Users will expect partially availabile people to be displayed in the availability tab. This does not happen.

`Event#responses` currently uses `Availability#containing` instead of `Availability#overlapping`

`events/shown.html.erb`  has

[code]

So, either  `@event.responses` should be replaced with `Availability#overlapping`  _or_ `@event.responses` needs to be modified to use `Availability#overl

[2018-03-08 23:56] masukomi opened #667 "Event fails to find eligible people if min_title not defined"
When you just need anyone you can get your hands on there's no realistic `min_title`  so `eligible_people` should return everyone who is active.... period.

this also affects the "No Responses" section of the Events "Availabilities" tab.

2 possible solutions

Recommended:
[code]

Alternative:
[code]

[2018-03-09 00:15] masukomi opened #668 "Event issues that effect EventHelper#display_event_status_by_dept issues"
event.rb: this is misleading

[code]

and as a result

`unavailable_people` is  a lie, because they aren't necessarily unavailable. they may be partially available but have a short period during which they're unavailable.

and that leads to a misleading count in the event-status table (  grid of number boxes) when viewing an event they get counted as unavailable when they should be counted as avai

[2018-03-09 22:38] masukomi opened #669 "[suggestion] task personell requirement UI doesn't match common thinking"
I want 2 people to man the front desk

So i put in 1 min, 2 desired, 5 max.

but it's a long event.... so it may take 20 people to actually man it during all the hours.

BUT the UI is counting TOTAL people not how many people are actually assigned to the task at the same time. If the event gets extended then i need more people, but i don't need more at the same time... and the _actual task_ still

[2018-03-10 09:53] kgf commented on #669
The min/max was always supposed to be at any given time. Currently the system does not work well across multiple operational periods.

[2018-03-14 16:58] kgf commented on #667
I would prefer to change these to not have negative logic.
So, for the alt version
if min_title.blank?
  people = Person.active.of_dept(departments)
else
  people = people.titled_equal_or_higher_than(min_title)
end
people
Another alternative is the require a minimum title, which might be the simplest. I think NOT picking one would  be an oversight most of the times it would be blank. You could eve

[2018-03-14 17:00] kgf opened #676 "Add geo-coding support for events and tasks"
One possible provider is https://locationiq.org/pricing.
Google is not an option at this time, as they want a large licensing fee if your site is not open to the public.

[2018-03-14 17:08] kgf commented on #664
Sorry for the delay @farrahD. Many of the contributors are based on the East Coast of America, and have been affected by the recent storms. We should be more responsive now.
What issues are you having ? Error messages ? If I'm reading it correctly, you're having trouble with Postgres ?

[2018-03-14 17:18] kgf commented on #676
This also looks like a strong contender
https://geocod.io/features/

[2018-03-15 16:00] farrahD commented on #664
Its okay, thanks for getting back to me when you could.
I'm having trouble setting up the local database. While in the ReadyResponder directory, when I run:
$ sudo -i -u postgres

Ps. If it matters, I'm on a mac.
I made sure I had the correct version of Ruby and have the latest versions of sqlite, postgres, and imagemagick@6

[2018-03-15 19:53] kgf commented on #664
I just merged a PR from @houhoulis that removes the need for SQLite. I'll update the docs.

In the mean time, you'll need to start PG by issuing `pg_ctl -D /usr/local/var/postgres start`
I don't think you need the sudo command for this.
See if that helps.
Thanks for your help !
Kevin

[2018-03-18 20:00] farrahD commented on #664
Thank you, I figured it out and got the server up and running after some trial and error.
Can the nickname attribute use :label => 'Nickname', similar to the syntax for first and last name?

[2018-03-18 21:32] kgf commented on #664
Yes, that should be good.

[2018-03-20 00:23] kgf opened #679 "Add tests to event#show availabilities table"
We have had recent examples of this table not showing people. There was a change that attempted to fix this, and then we got duplicates.
This issue is only looking for the tests.

[2018-03-20 00:50] kgf commented on #679
This is the line that renders the table of interest
https://github.com/ReadyResponder/ReadyResponder/blob/development/app/views/events/show.html.erb#L77

[2018-03-20 01:04] kgf commented on #679
When setting up the test cases, you'll want multiple availabilities

1. One that starts before the event and ends during the event (Counts as partially available)
2. One that starts during the event, and ends after the event. (Counts as partially available)
3. One that starts and ends during the event (Counts as partially available)
4. One that starts before the event and ends after the event (Cou

[2018-03-20 01:11] kgf commented on #110
@KaraAJC Howdy. Could you please create a PR for the seeds.rb file? We'd love to have all the info you gathered that's in your fork.
Thanks !
Kevin

[2018-03-20 01:22] kgf commented on #666
@masukomi Is this closed by your recent PR ?

[2018-03-20 01:24] kgf commented on #649
There are errors from these lines

https://github.com/ReadyResponder/ReadyResponder/blob/development/app/models/recipient.rb#L11
https://github.com/ReadyResponder/ReadyResponder/blob/development/app/models/recipient.rb#L13

[2018-03-20 01:25] kgf commented on #624
Duplicate to #649

[2018-03-20 01:25] #624 closed, assigned to nobody

[2018-03-20 01:25] kgf commented on #649
#624 was a duplicate

[2018-03-20 01:28] kgf commented on #622
There may be some overlap with #679

[2018-03-20 01:46] kgf commented on #587
@lena-pl Thanks for your help on this. The code had a small issue when deployed. Some of the objects, such as availabilities, do not have a last editor, as they're created from a text message.
Is this something you'd be willing to take a look at ?
Thanks
Kevin

[2018-03-20 01:47] kgf commented on #414
This should be the priority as the table shrinks to better fit the screen.

[2018-03-20 01:49] kgf commented on #269
@abhishekbose87 Do you still have any interest in this / We would appreciate the help !
Thanks
Kevin

[2018-03-20 01:50] kgf commented on #669
Some of the desired behaviour is covered in #269

[2018-03-20 01:52] kgf commented on #487
@jefheaton Will you still be able to help us with this ?
Thanks,
Kevin

[2018-03-21 19:52] kgf commented on #664
Fixed by #680 and #681

[2018-03-21 19:52] #664 closed, assigned to nobody

[2018-03-22 19:48] saltmade commented on #487
@kgf Yup! Added a WIP PR here https://github.com/ReadyResponder/ReadyResponder/pull/682. Sorry for the delay, my internship has been busy.

[2018-03-22 22:12] johnschoeman commented on #679
ping: @houhoulis & @kgf

<img width="1272" alt="screen shot 2018-03-20 at 1 34 17 pm" src="https://user-images.githubusercontent.com/16049495/37801397-ddc20adc-2dfc-11e8-8098-a7dab65c0ede.png">

done with the first pass at these tests.  see [PR](https://github.com/ReadyResponder/ReadyResponder/pull/683)

I wasn't sure of the intended behavior, since the feature is currently not working.

Questions

[2018-03-23 14:05] kgf commented on #679
John, thanks for your help !
Yes, partial availabilities should show up on the availabilities table. they are designated by a yellow background. Fully available is green, and unavailable is red.
In addition to availabilities, assignments also show in this table as blue. This is to help those scheduling to see who already has an assignment. There are almost certainly better ways to do this, but tha

[2018-03-23 15:09] goldenhub77 opened #684 "item_types show page results in error when item_type inspection_date is nil"
Refer to screen shot below:
<img width="1173" alt="screen shot 2018-03-22 at 8 11 03 am" src="https://user-images.githubusercontent.com/20394550/37837059-a301960e-2e8a-11e8-95c5-d381c0490d75.png">

[2018-03-24 04:57] lena-pl commented on #587
Yeah, could do! Do you have a stack trace or something for me to look at as a starting point?

[2018-04-03 15:15] saltmade opened #687 "new_item_type page errors when accessed through admin panel"
**Description** :octocat:
When trying to add a new item type through the admin panel, the page errors out because there is no

**Reproduction guide** 🐞
Start ReadyResponder
go to admin panel at the top
Click "Item Types"
Click New

**Observed behaviour**: 👀 💔
<img width="893" alt="screen shot 2018-04-03 at 11 15 16" src="https://user-images.githubusercontent.com/3383824/38258387-541eb0e0-3730-11e8

[2018-04-08 08:16] goldenhub77 commented on #684
Resolved from PR#688

[2018-04-08 08:16] #684 closed, assigned to nobody

[2018-04-09 14:12] goldenhub77 commented on #667
@kgf was it decided it would be better to require a min_title instead of making logic changes?

[2018-04-09 14:30] kgf commented on #667
I am fine with requiring a minimum title.

[2018-04-10 04:04] yasirazgar commented on #687
Fixing it.

[2018-04-10 18:13] goldenhub77 commented on #667
@kgf Is there a reason why Rank 'Applicant' was removed from selection?

[2018-04-10 18:27] kgf commented on #667
Not that I can recall. However, that would not be a good choice for a default value, if that's what you were thinking. Recruit would be the lowest.
If you're in that area, I'd really like to move titles into a db setting. Most organizations will have different titles.

Thanks for your help.
Kevin

[2018-04-12 00:11] goldenhub77 commented on #668
@masukomi @kgf my PR #692 fixes the bugs listed in this issue. Having that said event.rb and availability.rb still need to be refactored in another PR. I plan on reviewing these models to refactor broken/redundant methods in my next PR.

[2018-04-12 13:34] goldenhub77 commented on #656
@kgf This error_notification does not display because it doesn't have a corresponding input field associated with it. I added a loop to display full error messages right below the error_notification so users will understand why its failing. How do you want availabilities to be validated in a overlap situation?

[2018-04-13 00:33] goldenhub77 commented on #679
@kgf my PR #692 includes tests for most if not all of this. I had to write them to fix a prior issue. let me know if the tests are satisfactory

[2018-04-13 00:35] goldenhub77 commented on #666
@kgf refer to pr #692 for this resolution. I made note that event.rb and availability.rb will be refactored in the future to make it more DRY and logical.

[2018-04-15 01:30] #687 closed, assigned to nobody

[2018-04-19 15:17] goldenhub77 commented on #656
@kgf refer to PR #692

[2018-04-25 21:25] goldenhub77 opened #696 "Unable to edit assignments due to requirement_id not being present"
Files that will need to be modified:
app/controllers/assignments_controller.rb
app/views/assignments/_form.html.erb
app/views/assignments/edit.html.erb

[2018-04-25 21:26] goldenhub77 opened #697 "Event responses need to be able to compare overlapping assignments to availabilties"

[2018-04-26 15:02] goldenhub77 opened #699 "When there are no availabilities, Report - Calendar Chart fails to load"
undefined method `to_datetime' for nil:NilClass

def self.process_data
    availabilities = Availability.available
    **start_time = availabilities.map(&:start_time).min.to_datetime**
    end_time = availabilities.map(&:end_time).max.to_datetime
    data = []
    data <<
      (start_time..end_time).map do |date|
        count = Availability.where('date(start_time) <= ? AND date(end_time) >= ?',

[2018-05-01 22:05] kgf commented on #587
Sorry, I pulled this from a development stack
![screen shot 2018-05-01 at 6 04 40 pm](https://user-images.githubusercontent.com/2431417/39495876-3faf3c38-4d6a-11e8-97fd-d2dffad1cd94.png)
Thanks for your help !

[2018-05-02 00:18] kgf opened #701 "Remove Return to Event button"
I would like to eventually eliminate the blue menus on the left hand side of the navigation. One step towards this would be to remove the `Return To Event` from the forms. The PR should limit itself to this scope.

[2018-05-02 00:19] kgf commented on #701
Thanks @patel-atis

[2018-05-02 00:21] patel-atis commented on #701
I’m interested!

[2018-05-02 02:40] AdManteza commented on #595
@kgf Can i take a stab at this one?

[2018-05-02 03:51] AdManteza commented on #595
@kgf I took a quick peek at the codebase. Couple of suggestions...

a.) Maybe we can require `street` and `city` for the `Task` model?
b.) After the `task` form is submitted, we can make a custom hook to somehow populate the `latitude/longitude`(~thru geolocation gem? cant remember exactly~ we already have it), using the street and city. If the user can provide a zip code(optional though), geoloca

[2018-05-02 11:22] kgf commented on #595
I would prefer not to require the street or city. In many cases, the end users will be involved in only one town, meaning 90% of their tasks will be in that town. Requiring that field would force unnecessary data entry. I would prefer an approach of displaying whatever you have available.
Thanks for your help!
Kevin

[2018-05-02 11:24] kgf commented on #595
On point number two, there is a different issue for the Geo coding. We may have someone looking into that.

[2018-05-02 12:04] AdManteza commented on #595
@kgf
Copy that.
I'll just refactor the way we display the complete address in the view to account for missing data(e.g. street, zip code...).
I'll spin up a PR for it if its ok with you.

[2018-05-02 14:17] kgf commented on #595
That's great, thanks !

[2018-05-06 04:54] AdManteza commented on #662
@kgf Can i take this one?

[2018-05-06 12:32] kgf commented on #662
I believe that got covered other work. We're now requiring departments, so we no longer need to indicate.

[2018-05-07 21:19] kgf opened #704 "SMS UI shows templates as real events."
I have not yet confirmed this, but did not want to forget !

[2018-05-15 02:32] allanlburns commented on #676
Hi @kgf, I'd like to take this on!

[2018-05-15 10:46] kgf commented on #676
That sounds great, thanks!

[2018-06-06 00:56] AdManteza commented on #651
@kgf can i take this one next?

[2018-06-06 00:59] kgf commented on #651
That would be GREAT ! This is one of the ones that is not that big, but causes hardship for the end users.

You may want to wait an hour or so. We're merging in the large Rails 5.2 PR as soon as it passes Travis.

Thanks for your help !
Kevin

[2018-06-07 04:03] #88 closed, assigned to nobody

[2018-06-07 14:15] kgf commented on #696
Fixed by #698
Thanks @goldenhub77  !

[2018-06-07 14:15] #696 closed, assigned to goldenhub77

[2018-06-07 15:43] kgf commented on #699
Fixed by #700
Thanks @goldenhub77

[2018-06-07 15:43] #699 closed, assigned to goldenhub77

[2018-06-07 15:47] kgf commented on #667
Fixed by #692, by making min title a required field

Thanks @goldenhub77

[2018-06-07 15:47] #667 closed, assigned to nobody

[2018-06-08 22:40] kgf opened #709 "Unable to create an assignment"
Haven't seen the error log yet, but this is not good.

[2018-06-08 22:50] eroc7886 opened #710 "When looking at event#show, availabilities with a status of canceled are shown"

[2018-06-12 21:29] kgf commented on #709
Here is the report from the log when creating a new assignment. This only happens when creating a new assignment, not editing an existing one.
[code]

[2018-06-14 00:59] kgf opened #711 "Show created_at, updated_at, last editor on person#show"

[2018-06-14 02:05] kgf commented on #709
This is related to #696.
@goldenhub77 do you recall that work ?

[2018-06-14 02:06] kgf commented on #709
I will create a topic branch based off of v2.10.0, it will be `rel2.10.1`
Any PRs should be against that and also the head of development.
Thanks

[2018-06-14 13:32] VanAuken opened #712 "Rank should not be required for Prospect on New Person"
When making a New Person, people are often entered as Prospect or Applicant.  Rank is required in order to save, and currently we are using 'unknown' to meet requirements.

Accurate logic would not require a rank for 'prospect' or 'applicant'.  A rank is only needed for people who have joined.  This would also require a blank or null choice for rank.

[2018-06-14 13:37] VanAuken opened #713 "Everybody view lacks icon to add new person"
The view Everybody, in the drop down for People, does not have an add person button.

Operationally, end-users are frequently on this page, checking that a new contact has not already been added before entering their information.  An add person button would be very useful.

The button needed appears on the All Active People view, which appears when People is chosen from top bar.

[2018-06-14 14:41] goldenhub77 commented on #696
@kgf  It turns out there is a conflict when editing or creating a new assignment simply using just one _form so I created explicit forms for the edit and new actions in the controller until a better solution is determined.

[2018-06-14 14:45] kgf commented on #696
Thanks for your response. Could you elaborate on the conflict ?

[2018-06-14 14:46] kgf commented on #696
And I'm good with an expedient interim solution !

[2018-06-14 19:32] #709 closed, assigned to nobody

[2018-06-19 15:10] kgf opened #717 "Notifications#index does not show a date in the listing"
This makes it very hard to use !

[2018-06-20 14:58] kgf opened #718 "Availabilities table shows assignments that have been cancelled."
These should not appear in the table. They should only appear on the Person#show.

[2018-06-20 15:53] kgf commented on #718
I believe if we change this line to `assignments.active`, things will be better.
I would like a test for it as well, please.
https://github.com/ReadyResponder/ReadyResponder/blob/development/app/controllers/events_controller.rb#L22

[2018-06-25 15:45] kgf opened #719 "New notifications no longer have default message."
The default used to include details about the event, but now it stops at `Please provide availability for `

[2018-07-04 00:05] kgf commented on #595
Closed by #703

[2018-07-04 00:05] #595 closed, assigned to nobody

[2018-07-05 15:54] kgf commented on #679
Fixed by #705 & #692

[2018-07-05 15:54] #679 closed, assigned to nobody

[2018-07-05 21:28] #718 closed, assigned to nobody

[2018-08-16 20:56] #719 closed, assigned to nobody

[2018-08-27 21:56] PatODay commented on #713
Just opened a PR to add this feature to the `Everybody` view

[2018-09-04 23:18] #713 closed, assigned to nobody

[2018-09-04 23:31] kgf commented on #701
@patel-atis Are you still interested in this ? That would be great !

[2018-09-04 23:32] kgf commented on #676
@allanlburns Are you making any progress ? Anything I could do to help ?

[2018-09-04 23:35] kgf commented on #662
I am closing this issue. We now require departments as a validation for saving an event.

[2018-09-04 23:35] #662 closed, assigned to nobody

[2018-09-04 23:39] kgf commented on #656
@goldenhub77  I believe this was closed by #692, as you referenced above.

[2018-09-04 23:39] #656 closed, assigned to nobody

[2018-09-05 01:11] allanlburns commented on #676
Hi Kevin, 
Thanks for reaching out! Sorry for the radio silence the last two months--I definitely fell down a Python rabbit hole and have been working on a course with that. 
I originally lost momentum working on the geocoding after not being able to set up the environment correctly, which is what you and Sean helped me with the last project night I attended. I just got distracted after that. 
Tim

[2018-09-25 13:41] vsrnth commented on #717
hi @kgf I'll take this.

[2018-10-01 22:27] kgf commented on #717
@vsrnth That would be great, thanks. Let us know if you need help.

[2018-10-01 22:30] kgf commented on #701
Partially rsolved by #702

[2018-10-01 22:42] kgf commented on #711
Currently, only the version is shown in the footer.
You can look at event#show for an example of the correct behavior.

[2018-10-01 23:31] sa77 commented on #711
@kgf i can help out here

[2018-10-02 00:36] kgf commented on #711
That would be great @sa77 , thanks !

[2018-10-02 00:51] kgf commented on #710
Cancelled availabilities should only be shown on the person#show page.

[2018-10-02 01:17] kgf commented on #711
Closed by #725

[2018-10-02 01:17] #711 closed, assigned to nobody

[2018-10-02 02:26] kgf commented on #582
@alexshook a blast from the past?

[2018-10-02 02:28] kgf commented on #20
Be the one to closer one of the oldest issues!

[2018-10-02 03:48] alexshook commented on #582
Hey! Totally willing to restart this if you want, or take up something new
if it's higher priority.

[2018-10-02 08:55] aadeshere1 commented on #710
@kgf  Could you check the PR ?

[2018-10-02 11:10] kgf commented on #450
We have been successful! Thanks to all who helped!

[2018-10-02 11:10] #450 closed, assigned to nobody

[2018-10-02 16:53] kgf commented on #582
This would be a good one. I'd like to have the comments as a separate model so we know who made the comment, and when.
Thanks for your help!

[2018-10-02 18:40] vsrnth commented on #717
@kgf How do I got about I joining the ReadyResponder slack?
There's no way to sign up.

[2018-10-02 18:42] kgf commented on #717
Send me an email at kfallon@readyresponder.org
I'll use the address to sign you up. Please include your GitHub handle in the subject

[2018-10-02 21:54] greysteil opened #728 "Suggestion / request: use Dependabot to keep dependencies up-to-date"
First of all, thanks for ReadyResponder!

I've got a suggestion / request: would you be up for using [Dependabot](https://dependabot.com) to automatically create dependency update PRs for this repo? I ran it against my fork and it generated [these PRs](https://github.com/greysteil/ReadyResponder/pulls). I'll port the security ones across to this repo now.

I built Dependabot, but I'm honestly only

[2018-10-02 23:20] kgf commented on #632
Closed by #633

[2018-10-02 23:20] #632 closed, assigned to nobody

[2018-10-02 23:20] kgf commented on #728
Sadly, all three of those changes break the app.

[2018-10-02 23:21] kgf commented on #487
@jefheaton Do you still have any interest in this ? Hacktoberfest is upon us...

[2018-10-02 23:22] greysteil commented on #728
Hmm, let me take a look into that. Seems crazy that the Nokogiri upgrade could possibly break anything...

[2018-10-02 23:28] kgf commented on #728
Great, thanks !

[2018-10-02 23:32] kgf commented on #676
@allanlburns In answer to your question, that may depend on there being a gem available. The gem can often provide a lot of nice DSL syntactic sugar.

[2018-10-02 23:37] greysteil commented on #728
FYI, I'm seeing the same errors on a completely innocuous PR - https://github.com/ReadyResponder/ReadyResponder/pull/732. Looks like it's related to the Chrome version somehow.

[2018-10-02 23:41] kgf commented on #701
This should include revising any tests affected.

[2018-10-02 23:43] greysteil commented on #728
I think https://github.com/ReadyResponder/ReadyResponder/pull/734 *might* fix things...

[2018-10-02 23:49] kgf commented on #199
Thanks to @pcai , a good bit of this work has been done. However, he does not have time to work on this further at this time.
As a first pass, I would like to use AWS SES for mail delivery. Using the gem is fine. A second iteration/issue could add a second option.

[2018-10-02 23:51] pcai commented on #199
i would be happy to review a pr though

[2018-10-02 23:56] kgf commented on #622
The desired code for this issue would be to extend these assertions...
https://github.com/ReadyResponder/ReadyResponder/blob/development/spec/models/event_spec.rb#L60

[2018-10-03 00:08] kgf commented on #668
Fixed by #692

[2018-10-03 00:08] #668 closed, assigned to nobody

[2018-10-03 11:26] #710 closed, assigned to nobody

[2018-10-03 11:29] kgf commented on #110
Thanks for your help @KaraAJC .

[2018-10-03 11:29] #110 closed, assigned to nobody

[2018-10-03 11:30] kgf commented on #61
This is still a desired enhancement

[2018-10-03 14:40] sa77 commented on #701
@kgf i can work on this if it is open .. which form is it because `/events/1/edit` does not have that button ?

[2018-10-03 14:56] kgf commented on #701
Thanks for your help! This would be from task show and requirement show. It may also be on assignment show, but I can't look right now.

[2018-10-03 16:05] sa77 commented on #701
@kgf i think they're already resolved from this PR https://github.com/ReadyResponder/ReadyResponder/pull/702/files

[2018-10-03 19:07] kgf commented on #701
@sa77 You  are correct, it is closed by #702 . Can we interest you in something else ? If you have an tech interest, we may have an issue for it.
Thanks for your help.
Kevin

[2018-10-03 19:07] #701 closed, assigned to nobody

[2018-10-03 23:03] sa77 commented on #701
@kgf yes sure

[2018-10-03 23:46] kgf commented on #273
@valterbarros are you looking for a t shirt this year? 😁
Are you still willing to work on this?

[2018-10-04 00:11] kgf opened #735 "Convert event navigation from blue side buttons to bread crumbs"
I would like to remove the side navigation eventually. We can convert to bread crumbs across the top. There are some examples of this already..
Example
Event > Task > Requirement > Assignment
Shelter > Medical Intake > EMT > John Doe
All the bread crumbs should be links to that point in the tree.
There tests may need to be adjusted.
Please do not make one huge PR.
@sa77 might this be of interest?

[2018-10-04 00:57] sa77 commented on #735
@kgf yes sure .. i'll do it

[2018-10-04 01:54] sa77 commented on #735
@kgf the buttons that are links to index and show pages can be converted to breadcrumbs but there are 'Edit event', 'New task', 'New assignment' buttons on the side navigation .. leave them as is ?

[2018-10-04 02:22] kgf commented on #735
Yes, leave those as is. Separate effort. We'll use the blue plus sign for the new stuff, find a blue pencil for the edit.

[2018-10-04 06:22] vsrnth commented on #717
![screenshot_2018-10-04 all notifications](https://user-images.githubusercontent.com/6362618/46456287-f22b1b80-c7cb-11e8-8ebd-9e7cbf4d1c23.png)

Couple of queries:
- So I'm expected to add a date column to the right of the table?
- Which date needs to be displayed? The date on which the notification was created/last modified?

[2018-10-04 11:12] kgf commented on #717
For now, yes, please just use the date created. There may be references in the code to support scheduling notifications for the future, but that is not yet implemented.
Please put it as the first column, all the way on the left.
Thanks for your help!
Kevin

[2018-10-04 15:52] greysteil commented on #728
Thanks for getting those merged @kgf. What do you reckon to getting Dependabot set up? I'm more than happy to help out with reviewing the initial PRs.

[2018-10-04 15:59] kgf commented on #728
Wouldn't want you to miss out on your t-shirt !
In looking at the install process, it wants write access to the code, in addition to creating PRs. Why is that necessary ?

[2018-10-04 16:03] greysteil commented on #728
This is a frustrating one. It's required because Dependabot creates branches on this repo, rather than forking the repo.

The above is the flow you'd expect for a private repo, but isn't as intuitive for a public one (where you'd normally expect a fork). Frustratingly, GitHub Apps have to define a single set of permissions that they use for *all* installs, so in order to provide the expected flow

[2018-10-05 08:33] vsrnth commented on #507
![image](https://user-images.githubusercontent.com/6362618/46524711-5373ed00-c8a7-11e8-8dd3-94d791a42175.png)

http://localhost:3000/item_types/new
The upload button at this page needs to support multiple image upload?

[2018-10-05 08:53] vsrnth commented on #598
Is there some sample data to reproduce this bug?

[2018-10-05 12:54] kgf commented on #507
That is correct. It will probably need to be another class that belongs_to item.

[2018-10-05 12:55] kgf commented on #507
@vsrnth I have changed the label to claimed, based on your questions. I am hoping this is correct !
Thanks for your help.
Kevin

[2018-10-05 13:02] #600 closed, assigned to nobody

[2018-10-05 13:41] vsrnth commented on #507
Yup I'm taking this on.

[2018-10-05 15:24] #717 closed, assigned to nobody

[2018-10-10 13:58] yasirazgar commented on #712
I can look into this.

[2018-10-13 21:55] LonghornRach commented on #651
I can take a look at this if help is still needed?

[2018-10-27 19:51] houhoulis commented on #712
@VanAuken ,

Considering a person might have a Status such as "Applicant", I approve of removing the requirement that a "Rank" (title) be entered for them.  However, I'm not certain, but this issue might be requesting to require a "Rank" for certain statuses but not others.  I'm not in favor of hard-coding that level of logic into the app; could we just make "Rank" optional for all people?

I'm no

[2018-10-27 22:14] kgf commented on #712
I agree with Chris, both about not trying to hard code a matrix, and not requiring title/rank for anyone at this time.

[2018-10-28 22:07] greysteil commented on #728
@kgf - quick bump on the above. I got a chance to chat to GitHub about the permissions a couple of weeks ago at GitHub Universe, but unfortunately they don't have any changes planned.

[2018-10-31 17:42] kgf commented on #735
Closed by #737
Thanks @sa77

[2018-10-31 17:42] #735 closed, assigned to nobody

[2018-10-31 17:50] #598 closed, assigned to nobody

[2018-11-07 18:21] kgf opened #746 "Upcoming events does not honor event status"
Currently, when texting `upcoming` into Ready Responder, people get really old events.
This line needs to filter events to only upcoming. There is already a scope in the event model to handle this.

https://github.com/ReadyResponder/ReadyResponder/blob/development/app/models/person.rb#L232

[2018-12-04 03:38] kgf commented on #746
Thanks to @lilsweetcaligula and @houhoulis for resolving this. I can confirm it works in production.

Thanks!

[2018-12-04 03:38] #746 closed, assigned to nobody

[2019-03-22 16:47] masukomi opened #749 "Timecard sorting by date is broken on Profile page"
## Reproduction
* Find or create a user with multiple timecards spanning multiple years
* go to their profile
* expand the time card section

### First Problem
Timecards appear to be sorted oldest first. This is the least useful sorting. They should be newest to oldest.

### Second Problem
Clicking on the sorting icon by end date doesn't seem to actually work. Timecards should be sorted by end dat

[2019-03-22 16:51] masukomi opened #750 "Date sorting is broken in event archives"
## Reproduction
Find or create a number of events spanning multiple years.

### First Problem
Events don't appear to be sorted in any obvious order. They should be sorted in reverse chronological order by default (most recent at top).

### Second Problem
Clicking on the sorting icon by end date doesn't seem to actually work. It causes change, but not the desired change. For example the three top r

[2019-05-27 00:42] kgf opened #751 "Cancelled Assignments still count for the colored summary boxes."
Cancelled assignments should not affect the count.
These are the boxes I am referring to....
<img width="207" alt="Screen Shot 2019-05-26 at 8 39 18 PM" src="https://user-images.githubusercontent.com/2431417/58389243-b9f47980-7ff6-11e9-99cf-7f4ad8612d3d.png">

[2019-06-05 00:30] kgf commented on #751
I suspect the issue is in this area of code. It does not consider the status of the assignment when calculating people.
https://github.com/ReadyResponder/ReadyResponder/blob/2a1d1bb99c532923a8239f3b9c4609a37b70e298/app/models/event.rb#L21

[2019-06-05 15:24] goldenhub77 commented on #751
@kgf - I ran some preliminary tests and believe this can be fixed by adding a scope on the has_many
has_many :assignments, -> { where(status: ['New', 'Active']) }, :through => :requirements

[2019-10-18 00:34] kgf opened #756 "Travis CI Builds fail"
Travis CI builds can no longer start Selenium Chrome driver. This fails all the builds and PRs

[2019-10-18 02:11] filipewl commented on #756
Hey, @kgf! Please check my attempt on this in https://github.com/ReadyResponder/ReadyResponder/pull/757.

[2019-10-21 00:52] #756 closed, assigned to nobody

[2019-10-21 01:05] #751 closed, assigned to nobody

[2019-10-27 17:02] karmenlu commented on #712
I would like to work on/claim this issue. @kgf

[2019-10-27 17:05] karmenlu commented on #651
I would like to claim this issue. @kgf

[2019-10-27 17:11] karmenlu commented on #317
I would like to claim this issue. @kgf

[2019-10-28 03:21] kgf commented on #712
Thanks, @klu17

[2019-10-31 01:26] kgf commented on #749
I was not able to reproduce the second problem. Note that timecards without a start time or end time will sort oddly.
On the first problem, the table seems to be sorted by the person's name on load. This table is a partial that is shared by the event show page as well. We would need to create a new partial to correct this.

[2019-10-31 01:28] kgf commented on #666
This is no longer an issue

[2019-10-31 01:28] #666 closed, assigned to nobody

[2019-11-19 17:14] gasparyn opened #763 "Update To Ruby 2.6.x"
Let's get ahead and make this a trendy app

[2019-11-19 17:14] gasparyn opened #764 "Convert ERB Templates to Haml Syntax"

[2020-01-03 03:09] grichardomi opened #767 "Can new users be added?"
I'm not seeing any way to add new users. Is it possible?

[2020-01-03 16:26] kgf commented on #767
Thanks for your interest.
Since ready responder is never a social app, we didn't make creating an account a key feature. However, from the sign in screen, you can sign up, which creates an account without any privileges. An admin can then as the appropriate roles.
If you're setting up a new installation, the setup script will output am admin username and password at the end.
Does this answer your

[2020-01-03 16:37] grichardomi commented on #767
Got it.

I appreciate the follow-up.

Thank you

[2020-01-03 16:37] #767 closed, assigned to nobody

[2021-01-13 15:26] houhoulis opened #780 "Do we have an upgrade plan? There are security vulnerabilities in Ruby, Rails, etc. etc."
Ruby 2.3 itself is no longer supported, even in maintenance mode, since [March 2019](https://www.ruby-lang.org/en/news/2019/03/31/support-of-ruby-2-3-has-ended/). And we're not even on the latest 2.3, which is 2.3.8; so we have known vulnerabilities going back to [September 2017](https://www.ruby-lang.org/en/news/2017/09/14/ruby-2-3-5-released/). Just in Ruby itself.

Many of our versions of our g

[2021-01-13 15:49] houhoulis commented on #780
Here is some additional, non-essential context.

I was prompted to think about our upgrade non-plan due to [this PR](https://github.com/houhoulis/ReadyResponder/pull/36/files) being created in my RR fork, by the [snyk.io]() helper app:

- https://github.com/houhoulis/ReadyResponder/pull/36/files

The nokogiri vulnerability that prompted that PR is considered to be of low severity, but we have many

[2021-01-24 16:45] grichardomi opened #781 "Adding Skills to People"
How can skill be associated to a person?

[2021-01-25 15:19] kgf commented on #781
You would create a certification. Someone could have the skill of driving. It would be shown by having a current drivers license. That would be the cert. They would need to renew that cert when it expired. Further details are here. If that doesn't help, come back here and I'll try to help more.
https://github.com/ReadyResponder/ReadyResponder/wiki/Modeling-people's-skills-and-abilities-(Draft)

[2021-03-15 23:59] DJG86g opened #783 "issue with assigned users"
when one user is available to an event it shows two in the responses see attached screenshot

[2021-03-16 00:00] DJG86g commented on #783
in the screenshot two users are available but three are showing up

[2021-03-16 00:34] DJG86g commented on #783
in this screenshot you can see two users available
![Screen Shot 2021-03-15 at 8 29 09 PM](https://user-images.githubusercontent.com/6833703/111238595-bec05e00-85cd-11eb-9080-585d4cb878c3.png)

[2021-03-16 00:34] DJG86g commented on #783
in this screenshot you can see 3 user responses as available there should only be two:
![Screen Shot 2021-03-15 at 8 29 18 PM](https://user-images.githubusercontent.com/6833703/111238659-e1527700-85cd-11eb-8267-dea39c900774.png)

[2022-09-08 14:49] wb2osz opened #797 "Where is the user guide?"
I received a message asking if I was available for some event.  I responded "Yes" and got this:

So, I send "help" as instructed and get:

That is not very helpful.  Perhaps it could send the URL of the User Guide.